$globalSvgIconImgPath : "../../img/global/svg";

.stepwizard{

  @keyframes pulse{
    from{transform:scale3d(1,1,1)}
    50%{transform:scale3d(1.2,1.2,1.2)}
    to{transform:scale3d(1,1,1)}
  }

  &-tablist{
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-around;

    &-list{
      margin:auto;

      &-item{
        width:170px;
        margin: 0 6px;
        float: left;
        position:relative;
        $liitem: &;

        @include ReSassResponsive(576){
          width:150px;
        }
        @include ReSassResponsive(480){
          width:120px;
        }
        @include ReSassResponsive(400){
          width:84px;
        }

        &:first-child{
          margin-left:0;
          &::before{display:none;}
        }

        &:last-child{
          margin-right: 0;
          &::before{display:none !important;}
        }

        &-circle{
          color: transparentize($global-clr-soft-gray, 0.50);
          background-color:transparent;
          width:52px;
          height:52px;
          display:block;
          font-size:35px;
          line-height:46px;
          text-align:center;
          margin:10px auto;
          position:relative;
          border:2px solid transparentize($global-clr-soft-gray, 0.50);
          @include border-radius(52px);
          @include transition(all, 0.4s, linear);

          @include ReSassResponsive(992){
            width:44px;
            height:44px;
            font-size: 28px;
            line-height: 38px;
            margin: 5px auto;
          }
          @include ReSassResponsive(576){
            width: 36px;
            height: 36px;
            font-size: 20px;
            line-height: 30px;
          }

          &::before{
            content:"";
            width:48px;
            height:48px;
            position:absolute;
            display:none;
            left:0;
            top:0;
            border:2px solid $global-clr-white;
            @include border-radius(48px);
          }
        }

        &-step,
        &-title{
          color: $global-clr-soft-gray;
          font-size:20px;
          line-height:1;
          font-weight: normal;
          text-align:center;
          display: block;
          margin: 0;
          @include transition(all, 0.4s, linear);

          @include ReSassResponsive(992){
            font-size:18px;
          }
          @include ReSassResponsive(576){
            font-size:15px;
          }
        }

        &-title{
          position: relative;
          padding-top: 7px;

          &::before{
            content: "";
            position: absolute;
            width: 20px;
            height: 2px;
            background-color: transparentize($global-clr-soft-gray, 0.50);
            top: 0;
            left: calc(50% - 10px);
          }
        }

        &.active{

          #{$liitem}-circle{
            color: $global-clr-soft-blue;
            background-color:transparent;
            border-color: $global-clr-soft-blue;
          }
          #{$liitem}-step,
          #{$liitem}-title{
            color:$global-clr-dark-blue;
          }
          #{$liitem}-title{
            &::before{
              background-color:$global-clr-soft-blue;
            }
          }
          &::before{display:block;}
        }

        &.check{

          #{$liitem}-circle{
            background-color:$global-clr-soft-blue;
            border-color: $global-clr-soft-blue;
            position:relative;
            text-indent: -9999px;
            animation-name:pulse;
            animation-duration:1s;
            animation-fill-mode:both;

            &::after{
              content:"";
              position:absolute;
              width: 26px;
              height: 12px;
              top: 14px;
              left: 10px;
              border-bottom:2px solid $global-clr-white;
              border-left:2px solid $global-clr-white;
              @include rotate(-50);

              @include ReSassResponsive(576){
                width: 20px;
                height: 10px;
                top: 10px;
                left: 7px;
              }
            }
          }

          #{$liitem}-step,
          #{$liitem}-title{
            color:$global-clr-soft-blue;
          }
          #{$liitem}-title{
            &::before{
              background-color:$global-clr-soft-blue;
            }
          }
          &::after{
            width: 124px;
            @include ReSassResponsive(576){
              width: 102px;
            }
            @include ReSassResponsive(480){
              width: 74px;
            }
            @include ReSassResponsive(400){
              width: 35px;
            }
          }
          &::before{opacity:0;}
        }

        &::after,
        &::before{
          content:"";
          width: 124px;
          height:4px;
          background-image: url(#{$globalSvgIconImgPath}/Step_Wizard_Point_Line_Gray.svg);
          background-position: left center;
          background-repeat: no-repeat;
          position:absolute;
          top:55px;
          left:calc(50% + 30px);
          @include transition-delay (0.4s);
          @include transition(all, 0.5s, ease-in-out);

          @include ReSassResponsive(992){
            top: 42px;
          }
          @include ReSassResponsive(576){
            width: 102px;
            top: 35px;
          }
          @include ReSassResponsive(480){
            width: 74px;
          }
          @include ReSassResponsive(400){
            width: 35px;
          }

        }
        &::after{
          background-image: url(#{$globalSvgIconImgPath}/Step_Wizard_Point_Line_Blue.svg);
          width:0;
        }
      }
    }
  }

  &-tabcont{
    $tabcont: &;

    &-boxarea{
      display:flex;
      flex-flow:column nowrap;
      justify-content:space-around;
      margin: 40px 0 20px;

      @include ReSassResponsive(992){
        margin: 40px 0 0;
      }
      @include ReSassResponsive(768){
        margin: 25px 0 -10px;
      }
      @include ReSassResponsive(480){
        margin: 15px 0 -10px;
      }
      @include ReSassResponsive(400){
        margin: 15px 0 0;
      }

      &-list{
        margin: auto;

        @include ReSassResponsive(992){
          display: flex;
          flex-direction: row;
          margin: 0;
        }
        @include ReSassResponsive(400){
          flex-direction: column;
        }

        &-item{
          width: 220px;
          min-height: 220px;
          text-align: center;
          float: left;
          padding: 15px;
          margin: 0 15px;
          border: 1px solid transparentize($global-clr-soft-gray, 0.70);

          @include ReSassResponsive(992){
            width: 100%;
            flex: 0 0 calc((100% / 3) - 20px);
            max-width: calc((100% / 3) - 20px);
            min-height: 200px;
          }
          @include ReSassResponsive(768){
            flex: 0 0 calc((100% / 3) - 13px);
            max-width: calc((100% / 3) - 13px);
            padding: 10px;
            margin: 0 10px;
            min-height: 175px;
          }
          @include ReSassResponsive(576){
            flex: 0 0 calc((100% / 3) - 7px);
            max-width: calc((100% / 3) - 7px);
            margin: 0 5px;
            min-height: 170px;
          }
          @include ReSassResponsive(480){
            min-height: 167px;
          }
          @include ReSassResponsive(400){
            flex: 0 0 calc(100% / 1);
            max-width: calc(100% / 1);
            margin: 5px 0;
          }

          &:first-child{
            margin-left: 0;

            @include ReSassResponsive(400){
              margin-top: 0;
            }
          }
          &:last-child{
            margin-right: 0;

            @include ReSassResponsive(400){
              margin-bottom: 0;
            }
          }
        }

        &-iconbox{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100px;

          @include ReSassResponsive(992){
            height: 85px;
          }
          @include ReSassResponsive(768){
            height: 70px;
            @include scale(0.75);
          }

          i[class*="bank"]{
            width: 58px;
            height: 50px;
          }
          i[class*="papara"]{
            width: 100px;
            height: 26px;
          }
          i[class*="wallet"]{
            width: 52px;
            height: 38px;
          }
        }
        &-boxtitle{
          color: $global-clr-dark-blue;
          font-size: 20px;
          font-weight: normal;
          position: relative;
          margin-top: 4px;
          margin-bottom: 20px;

          @include ReSassResponsive(992){
            font-size: 18px;
          }
          @include ReSassResponsive(576){
            font-size: 15px;
            white-space: nowrap;

            span{
              display: none;
            }
          }
          @include ReSassResponsive(400){
            font-size: 17px;
          }

          &::before{
            content:"";
            width: 12px;
            height: 12px;
            position:absolute;
            bottom: -11px;
            left: calc(50% - 6px);
            border-bottom:2px solid $global-clr-dark-blue;
            border-left:2px solid $global-clr-dark-blue;
            @include rotate(-45);
          }

        }
        &-btn{
          display: block;
          font-size: 20px;
          font-weight: normal;
          padding-top: 4px !important;
          padding-bottom: 4px !important;

          @include ReSassResponsive(992){
            height: 36px !important;
            font-size: 18px;
            padding-top: 3px!important;
            padding-bottom: 3px!important;
          }
          @include ReSassResponsive(480){
            height: 33px!important;
            font-size: 16px;
          }
        }
      }
    }

    &-form{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      &-wrapper{
        margin: 35px 0;

        @include ReSassResponsive(480){
          margin: 15px 0 25px;
        }
        @include ReSassResponsive(400){
          margin: 15px 0;
        }
      }

      &-tags700,
      &-tags900{
        margin: auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &:first-child{
          margin-top: 0;
        }

        .form-row{
          justify-content: center;

          @include ReSassResponsive(768){
            flex-direction: row;
            justify-content: flex-start;
          }

          > div[class*="col-"]{
            @include ReSassResponsive(768){
              width: auto !important;
              flex: 0 0 calc(100% / 2) !important;
              max-width: calc(100% / 2) !important;
              margin: 15px 0;

              &:nth-child(1),
              &:nth-child(2){
                margin-top: 0;
              }
            }
            @include ReSassResponsive(400){
              width: auto !important;
              flex: 0 0 calc(100% / 1) !important;
              max-width: calc(100% / 1) !important;
              margin: 15px 0 !important;

              &:nth-child(1){
                margin-top: 0 !important;
              }
            }
          }
        }
      }
      &-tags900{
        max-width: 100%;

        .form-row{

          @include ReSassResponsive(992){
            flex-direction: row;
          }
          @include ReSassResponsive(400){
            flex-direction: column;
          }

          > div[class*="col-"]{
            @include ReSassResponsive(992){
              width: auto;
              flex-basis: 0;
              flex-grow: 1;
              max-width: 100%;
            }
          }
        }
      }
      &-tags700{
        max-width: 700px;
      }

      div.rightarrows{
        width: 44px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 !important;

        i.rightarrows{
          position: relative;
          width: 8px;

          &::before{
            content:"";
            position:absolute;
            width: 9px;
            height: 9px;
            top: -4px;
            left: -3px;
            border-top:2px solid $global-clr-soft-blue;
            border-right:2px solid $global-clr-soft-blue;
            @include rotate(45);
          }
        }
      }

      #{$tabcont}-infoarea{
        padding: 30px 0 0;
        margin-top: 0;

        @include ReSassResponsive(768){
          padding: 40px 0 0;
        }
        @include ReSassResponsive(480){
          padding: 30px 0 0;
        }
        @include ReSassResponsive(400){
          padding: 20px 0 0;
        }

        &.pt-4{
          @include ReSassResponsive(400){
            padding-top: 15px !important;
          }
        }
      }

      .custom-control-label{
        font-size: 17px;
        line-height: 1.1;
      }

      &-check{

        &-single{
          display: flex;
          margin: auto;
          margin-top: 20px;
        }
      }

      &-btn{
        &-tooltiparea{

          .tooltip{

            &.show{
              opacity: 1;
            }

            &-inner{
              background-color: $global-clr-red;
              &.show{
                opacity: 1;
              }
            }
          }

          .bs-tooltip-top{
            .arrow {
              &::before {
                border-top-color: $global-clr-red;
              }
            }
          }

          .bs-tooltip-right{
            .arrow {
              &::before {
                border-right-color: $global-clr-red;
              }
            }
          }

          .bs-tooltip-bottom {
            .arrow {
              &::before {
                border-bottom-color: $global-clr-red;
              }
            }
          }

          .bs-tooltip-left {
            .arrow {
              &::before {
                border-left-color: $global-clr-red;
              }
            }
          }
        }
      }
    }

    &-formarea{
      display:flex;
      flex-flow:column nowrap;
      justify-content:space-around;

      &-title{
        color: $global-clr-dark-blue;
        margin: 0;
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: normal;

        @include ReSassResponsive(576){
          font-size: 18px;
          margin-bottom: 20px;
        }
      }
    }

    &-infoarea{
      display: flex;
      flex-flow: column nowrap;
      color: $global-clr-dark-blue;
      text-align: center;
      margin-top: 15px;

      @include ReSassResponsive(992){
        display: block !important;
      }

      &-icon{
        display: block;
        width: 40px;
        margin: 0 auto 10px;

        i[class*="wizardiconinformation"]{
          width: 40px;
          height: 40px;
        }
      }
      &-title{
        color: $global-clr-dark-blue;
        margin: 0;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: normal;

        @include ReSassResponsive(576){
          font-size: 18px;
        }
      }
      &-desc{
        color: $global-clr-dark-blue;
        font-size: 17px;
        line-height: 1.18;

        @include ReSassResponsive(576){
          font-size: 15px;
        }

        a.link{
          color: $global-clr-soft-blue;
          text-decoration: underline;
        }

      }
      &-contlist{
        color: $global-clr-dark-blue;
        font-size: 17px;
        line-height: 1.5;
        text-align: left;
        margin: auto;

        @include ReSassResponsive(576){
          font-size: 15px;
        }

        li{
          position: relative;
          padding-left: 15px;
          line-height: 1.2;
          margin-bottom: 5px;

          @include ReSassResponsive(480){
            padding-left: 13px;
            line-height: 1.1;
          }

          &:last-child{
            margin-bottom: 0;
          }

          &::before{
            content:"";
            position:absolute;
            width: 9px;
            height: 9px;
            top: 7px;
            left: 0;
            border-top:2px solid $global-clr-soft-blue;
            border-right:2px solid $global-clr-soft-blue;
            @include rotate(45);

            @include ReSassResponsive(480){
              width: 8px;
              height: 8px;
              top: 5px;
            }
          }
        }

      }
      &-callcenter{
        margin-top: 15px;

        &-title{
          margin: 0;
          font-size: 17px;
          font-weight: normal;
        }
        &-number{
          color: $global-clr-dark-blue;
          font-size: 17px;
          font-weight: 500;
        }
      }

      &-qrcode{
        margin: 15px 0 30px;
        text-align: left;
        justify-content: center;

        @include ReSassResponsive(576){
          justify-content: flex-start;
        }
        @include ReSassResponsive(480){
          flex-direction: column;
        }
        @include ReSassResponsive(400){
          margin: 5px 0 10px;
        }

        &-code{
          margin-right: 15px;
          margin-bottom: 0 !important;

          @include ReSassResponsive(576){
            margin-right: 10px;
          }
          @include ReSassResponsive(480){
            margin-right: 0;
            margin-bottom: 10px !important;
          }

          &-svg{
            width: 152px;
            height: 152px;
            padding: 3px;
            border: 1px solid transparentize($global-clr-soft-gray, 0.7);

            @include ReSassResponsive(576){
              width: 130px;
              height: 145px;
              padding: 10px 3px;
            }
            @include ReSassResponsive(480){
              width: 144px;
              height: 144px;
              padding: 3px;
            }
          }
        }

        &-form{
          .form-group{
            margin-bottom: 12px !important;

            @include ReSassResponsive(576){
              width: 100%;
            }

            &:last-child{
              margin-bottom: 0 !important;
            }
          }
        }
      }

    }

    &-navigation{
      margin-top: 10px;

      &-buttons{
        color: $global-clr-soft-gray;
        position: relative;
        display: flex;
        font-size: 17px;
        align-items: center;
        @include transition(color, 0.3s, ease-in-out);

        &:hover{
          color: $global-clr-soft-blue;
        }

        i.iconcircleback{
          width: 20px;
          height: 20px;
          margin-right: 5px;
          position:relative;
          display: block;
          border: 1px solid transparentize($global-clr-soft-gray, 0.7);
          @include border-radius(100%);

          &::after{
            content:"";
            position:absolute;
            width: 6px;
            height: 6px;
            top: calc(50% - 3px);
            left: calc(50% - 2px);
            border-bottom:1px solid $global-clr-soft-blue;
            border-left:1px solid $global-clr-soft-blue;
            @include rotate(45);
          }
        }
      }
    }

    &-bigicon{
      width: 90px;
      height: 90px;
      margin: 0 auto;
      border: 2px solid $global-clr-green;
      position: relative;
      @include border-radius(50%);
      animation-name:pulse;
      animation-duration:1s;
      animation-fill-mode:both;

      @include ReSassResponsive(576){
        width: 70px;
        height: 70px;
      }
      @include ReSassResponsive(400){
        width: 50px;
        height: 50px;
      }

      &.success{
        border-color: $global-clr-green;
      }

      &.error{
        border-color: $global-clr-red;
      }

      i{
        width: 50px;
        height: 50px;
        position: absolute;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
      }
      i[class*="check"]{
        top: calc(50% - 25px);

        &::after{
          content:"";
          position:absolute;
          width: 42px;
          height: 18px;
          top: 10px;
          left: 6px;
          border-bottom:2px solid $global-clr-green;
          border-left:2px solid $global-clr-green;
          @include rotate(-50);

          @include ReSassResponsive(576){
            width: 32px;
            height: 18px;
            top: 12px;
            left: 10px;
          }
          @include ReSassResponsive(400){
            width: 22px;
            height: 11px;
            top: 18px;
            left: 15px;
          }
        }

      }

      i[class*="error"]{
        left: calc(50% - 26px);
        top: calc(50% - 24px);

        &::after,
        &::before{
          content:"";
          position:absolute;
          width: 2px;
          height: 50px;
          top: 0;
          left: 50%;
          background-color: $global-clr-red;

          @include ReSassResponsive(400){
            height: 30px;
            top: 10px;
          }
        }

        &:before{
          @include rotate(45);
        }

        &:after{
          @include rotate(-45);
        }

      }
    }

  }
}
