.depositandwithdraw{

  &-section{}

  &-flex{
    background-color: $global-clr-white;
    display: flex;

    &-width{width: 100%;}

    &-center{
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &-wrapper{
      display: flex;
      flex-direction: column;
      height: 100%;

      @include ReSassWidthResponsive(992){
        display: block !important;
      }

      &-column{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        @include ReSassWidthResponsive(992){
          display: block !important;
        }

        &-top{}

        &-middle{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          padding-top: 40px;
          padding-bottom: 40px;

          @include ReSassWidthResponsive(992){
            display: block !important;
          }

          @include ReSassWidthResponsive(576){
            padding-left: 15px !important;
            padding-right: 15px !important;
          }
        }

        &-bottom{
          @include ReSassWidthResponsive(576){
            padding-left: 15px !important;
            padding-right: 15px !important;
          }
        }
      }
    }
  }

  &-tablist{
    background-color: $global-clr-light-gray;
    padding: 25px 0;

    @include ReSassWidthResponsive(992){
      padding: 15px 0;
    }

    > .container{
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-tabcont{
    background-color: $global-clr-white;
    padding: 40px 0;

    @include ReSassWidthResponsive(992){
      padding: 25px 0;
    }
    @include ReSassWidthResponsive(480){
      padding: 20px 0;
    }

    .columntitle{
      color: $global-clr-dark-blue;
      font-weight: normal;

      @include ReSassWidthResponsive(576){
        font-size: 16px;
      }

      &::before{
        max-width: inherit;
      }

    }
  }

  &-latesttransactions{
    background-color: $global-clr-light-gray;
    padding: 30px 0;

    @include ReSassWidthResponsive(992){
      padding-bottom: 20px !important;
    }
    @include ReSassWidthResponsive(576){
      padding: 15px 0;
    }

    &::before{
      @include ReSassWidthResponsive(992){
        content: "";
        background-color: $global-clr-light-gray;
        position: absolute;
        width: 100%;
        height: 140px;
        bottom: 0;
        left: 0;
        z-index: -1;
      }
    }
  }

  &-modallg{

    .modal{
      &.show{
        @include ReSassWidthResponsive(768){
          align-items: flex-start !important;
        }
      }
    }


    .modal-dialog{
      width: 800px;
      max-width: 800px;

      @include ReSassWidthResponsive(768){
        width: 100%;
        max-width: calc(100% - 40px);
        min-height: auto;
        padding-top: 20px;
        align-items: flex-start !important;
      }
      @include ReSassWidthResponsive(480){
        max-width: calc(100% - 20px);
        padding-top: 10px;
      }
    }

    .form-row{
      @include ReSassWidthResponsive(768){
        flex-direction: column;



        label[style]{
          display: none;
        }
      }
    }

    .modal-bank-account-table{

      td, th{
        font-size: 14px;
        padding-top: 3px;
        padding-bottom: 3px;
      }

      thead{
        tr{
          th{
            &:last-child{
              width: 110px;

              @include ReSassWidthResponsive(768){
                width: 100%;
              }
            }
          }
        }
      }

      tbody{
        tr{
          td{

            @include ReSassWidthResponsive(768){
              padding-left: 65px !important;
            }

            &:last-child{
              @include ReSassWidthResponsive(768){
                padding-left: 10px !important;
              }
            }

            .btn{
              padding: 2px 5px;

              @include ReSassWidthResponsive(768){
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}