$globalSvgIconImgPath : "../../img/global/svg";

.latesttransactions{

  &-box{
    width: 100%;
    border: 1px solid transparentize($global-clr-soft-gray, 0.70);
    padding: 10px 15px;

    @include ReSassResponsive(576){
      padding: 10px;
    }

    *[class*="boxtitle"]{
      @include ReSassResponsive(768){
        font-size: 17px;
      }
    }

  }

  &-area{}

  &-contentbox{
    color: $global-clr-dark-blue;
    padding: 16px;
    border: 1px solid transparentize($global-clr-soft-gray, 0.7);

    div[class*="boxtitle"]{margin-bottom: 0; padding-bottom: 10px;}

    > .row{
      position: relative;

      &::before{
        content: "";
        position: absolute;
        width: 1px;
        height: calc(100% - 0);
        background-color: transparentize($global-clr-soft-gray, 0.7);
        top: 0;
        left: 50%;
      }
    }
  }

  &-table{

    thead{
      tr{
        th{
          &:last-child{
            width: 20%;
          }
        }
      }
    }

    tbody{

      @include ReSassResponsive(768){
        margin: 0;
      }

      tr{
        @include transition(all, 0.2s, ease-in-out);

        @include ReSassResponsive(768){
          width: calc(100% - 0) !important;
          margin: 5px 0 !important;
        }

        &:hover{
          background-color: darken($global-clr-light-gray, 5%);
        }

        &:first-child{
          td{
            padding-top: 17px;
          }
        }

        td{
          border: none;

          @include ReSassResponsive(992){
            width: auto !important;
          }
          @include ReSassResponsive(768){
            width: 100% !important;
            font-size: 15px!important;
            padding-left: 100px !important;
          }
          @include ReSassResponsive(576){
            padding-left: 120px !important;
            font-size: 15px !important;
            padding-top: 5px !important;
            padding-bottom: 5px !important;

            &::before{
              padding: 5px 6px !important;
            }
          }

          &::before{
            @include ReSassResponsive(768){
              color: $global-clr-dark-blue;
            }
          }
        }
      }
    }

    &-status{
      width: 10%;
    }
    &-type{
      width: 10%;
    }
    &-method{
      width: 10%;
    }
    &-date{
      width: 10%;
    }
    &-hour{
      width: 10%;
    }
    &-unit{
      width: 10%;
    }
    &-amount{
      width: 10%;
    }
    &-iban-address{
      width: 23%;
    }
    &-code{
      width: 15%;
    }
  }

  .latesttransactions-iban-address{
    display: block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;

    @include ReSassResponsive(992){
      width: 190px;
      margin-right: 10px;
    }
    @include ReSassResponsive(576){
      width: 200px;
    }

    &::before{
      @include ReSassResponsive(992){
        content: "";
      }
    }
  }

}