$globalSvgIconImgPath : "../../img/global/svg";

.easybuysell{

  &-order{
    background-color: $global-clr-white;
    padding: 30px 0;

    @include ReSassWidthResponsive(768){
      padding: 20px 0;
    }
    @include ReSassWidthResponsive(576){
      padding: 15px 0 20px;
    }

    div[class*="tabcontent"]{
      border-top: 4px solid $global-clr-soft-blue;
    }

    .sidebar{

      @include ReSassWidthResponsive(576){
        padding-left: 15px;
        padding-right: 15px;
      }

      &-marketdata{
        @include ReSassWidthResponsive(992){
          display: none !important;
        }
      }
    }

    .order-orders-list{
      @include ReSassWidthResponsive(768){
        margin-top: 0 !important;
      }
    }
  }

  &-wrapper{

    @include ReSassWidthResponsive(1200){
      flex: 0 0 80%;
      max-width: 80%;
    }
    @include ReSassWidthResponsive(992){
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
    }
    @include ReSassWidthResponsive(576){
      padding-left: 15px;
      padding-right: 15px;
    }
    @include ReSassWidthResponsive(400){
      padding-left: 10px;
      padding-right: 10px;
    }

    .order-orders-form{
      .input-group-append{
        @include ReSassWidthResponsive(1200){
          &::before{
            width: 10px !important;
            left: -9px !important;
          }
        }

        select.form-control{
          @include ReSassWidthResponsive(1200){
            min-width: 80px !important;
            padding-left: 10px;
          }
        }
      }
    }
  }

  &-mobiletabs{
    display: none;
    position: relative;

    @include ReSassWidthResponsive(768){
      display: block;
      margin-bottom: 10px;
    }

    &-wallet{
      position: absolute;
      top: 11px;
      right: 0;
    }

    &-btn{}

    &-menu{
      span.selecttext{
        display: inline-block;
        width: calc(100% - 40px);
        text-align: left;
        white-space: nowrap;
      }
    }

    span.selectcointext{
      display: inline-block;
    }

    i[class*=titleicon] {
      width: 26px;
      height: 26px;
      margin-right: 4px;
      display: inline-block;

      @include ReSassWidthResponsive(480){
        width: 24px;
        height: 24px;
      }
    }

    .responsive-dropdown{

      &-btn{
        color: $global-clr-dark-blue !important;
        background-color: $global-clr-light-gray;
        font-weight: 500;
        letter-spacing: initial;
        margin-left: 0;
        text-align: left;
        justify-content: flex-start;
        max-width: 260px;

        @include ReSassWidthResponsive(480){
          font-size: 17px;
          padding-left: 6px;
          padding-right: 6px;
          max-width: 220px;
        }
        @include ReSassWidthResponsive(400){
          font-size: 15px;
          max-width: 200px;
        }

        &::after{
          position: absolute;
          right: 14px;
          left: auto;
        }

        &::after{
          border-bottom-color: $global-clr-dark-blue;
          border-left-color: $global-clr-dark-blue;
        }
      }

      &-menu{
        background-color: $global-clr-light-gray;
        margin: 0 auto;
        max-width: 260px;
        //transform: translate3d(0, 0, 0) !important;

        @include ReSassWidthResponsive(480){
          max-width: 220px;
        }
        @include ReSassWidthResponsive(400){
          max-width: 200px;
        }

        > li > a{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-align: left;
          color: $global-clr-dark-blue;
          font-weight: 500;
          letter-spacing: initial;
          border-bottom-color: $global-clr-white;
          margin-left: 0;
          padding: .375rem .75rem;

          @include ReSassWidthResponsive(480){
            font-size: 15px;
            padding-left: 6px;
            padding-right: 6px;
          }

          &.active{
            display: none !important;
          }
        }
      }
    }

    &-content{

      .boxcolumn-headtitle{
        @include ReSassWidthResponsive(768){
          margin-bottom: 0;
        }

        &-title{
          @include ReSassWidthResponsive(768){
            display: none;
          }
        }

        &-wallet{
          @include ReSassWidthResponsive(768){
            position: absolute;
            top: 11px;
            right: 15px;
          }
          @include ReSassWidthResponsive(480){
            display: block !important;
            font-size: 17px;
            text-align: right;
            line-height: 0.9;
            top: 6px;

            > span{
              display: block;
              margin: 0;

              &:first-child{
                font-size: 15px;
              }
              &:last-child{
                font-size: 20px;
                font-weight: 500;

                @include ReSassWidthResponsive(480){
                  font-size: 17px;
                }
              }
            }
          }
        }
      }

      > .tab-pane{
        display: block;

        @include ReSassWidthResponsive(768){
          display: none;
        }
      }

      > .fade{
        opacity: 1;

        @include ReSassWidthResponsive(768){
          opacity: 0;
        }
      }

      > .show{
        opacity: 1 !important;
      }

      >.active{
        @include ReSassWidthResponsive(768){
          display: block !important;
        }
      }
    }

  }

}