$tradepageSvgIconImgPath : "../../img/tradepage/svg";

.easybuysell{

  &-order{
    padding: 20px 0;

    div[class*="tabcontent"]{
      border-top: 4px solid $tradepage-color-blue;
    }
  }

  &-wrapper{}

}