$tradepageHomepageImgPath : "../../img/tradepage";

.homepage{

  &-bigchart{
    background-color: $tradepage-color-light-bg-gray;
    padding: 20px 0;
  }

  &-order{

    &-tabs{}

    &-book{}

    &-open{}

  }

}