$tradepageHomepageImgPath : "../../img/tradepage";

.homepage{

  &-bigchart{
    background-color: $tradepage-color-light-bg-gray;
    padding: 20px 0;
  }

  &-order{
    padding: 20px 0 40px;
    min-height: 800px;

    &-wrapper{}

    &-orders{}

    &-book{
      margin-top: 15px;
    }

    &-open{
      margin-top: 15px;
    }

  }

}