$tradepageHomepageImgPath : "../../img/tradepage";

.homepage{

  &-bigchart{
    background-color: $tradepage-color-light-bg-gray;
    padding: 20px 0;
  }

  &-order{
    padding: 20px 0;
    min-height: 800px;

    &-orders{

      &-buy{}
      &-sale{}

    }

    &-book{}

    &-open{}

  }

}