
// Tradepage Print
@media print{

  .tradepage{

    .sidebar{
      display: none !important;
    }

    .profile-wrapper{
      border: 1px solid $global-clr-soft-gray !important;

      > h3.columntitle{
        font-size: 20pt !important;
        text-align: right !important;
        position: fixed !important;
        width: calc(100% - 200px) !important;
        height: 50px !important;
        right: 0 !important;
        top: 25px !important;
      }
    }

    .profile-box{
      border: 0 !important;

      &::before{
        display: none !important;
      }
    }

    .profile-box-content{
      border: 0 !important;

      &.chartistbipolar{
        display: none !important;
      }

      .alert{
        display: none !important;
      }
    }

    .profile-transaction{
      > .boxcolumn-boxtitle{
        visibility: hidden !important;
        overflow: hidden !important;
        height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
      }

      .sitetable{
        border: 0 !important;

        td, th{
          border-color: $global-clr-soft-gray !important;
        }
      }
    }

  }

}