
.profile{

  &-limitprogress{
    background-color: $global-clr-light-gray;
    padding: 20px 0 15px;

    @include ReSassWidthResponsive(992){
      padding: 20px 10px 15px;
    }
    @include ReSassWidthResponsive(768){
      padding: 15px 10px;
    }

    &-list {

      @include ReSassWidthResponsive(768){
        display: block !important;
      }

      &-item{
        position: relative;
        text-align: center;

        @include ReSassWidthResponsive(768){
          margin-bottom: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);

          &:last-child{
            margin-bottom: 0;
          }
        }

        .limittext{
          display: block;
        }

        &::before{
          content: "";
          position: absolute;
          width: 1px;
          height: calc(100% - 5px);
          top: 5px;
          right: 0;
          background-color: transparentize($global-clr-soft-gray, 0.7);

          @include ReSassWidthResponsive(768){
            display: none;
          }
        }

        &:last-child{
          &::before{display: none;}
        }
      }
    }

    .profile-box-info-list{
      > li{
        text-align: center;

        &::before{
          left: auto;
          margin-left: -23px;
        }
      }
    }

    .limitprogress{
      margin-top: 5px;
    }

    .progress,
    .progress-bar{
      height: 5px;
    }
  }

  &-summarychart{
    padding-top: 10px;
    padding-bottom: 5px;

    @include ReSassWidthResponsive(768){
      padding-bottom: 0;
    }

    &.row > div[class*="col"]{
      padding-left: 10px;
      padding-right: 10px;

      &:first-child{
        padding-left: 15px;
      }
      &:last-child{
        padding-right: 15px;
      }

      @include ReSassWidthResponsive(768){
        padding-left: 15px !important;
        padding-right: 15px !important;
      }
    }

    &-big{
      &-pie{
        width: 140px;
        height: 140px;
        position: relative;

        @include ReSassWidthResponsive(768){
          margin: 0 auto 15px;
        }
      }

      &-text{
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        font-size: 17px;
        line-height: 1.1;

        span{
          display: block;
          font-weight: 500;
        }
      }
    }

    &-small{
      &-list{
        flex-wrap: wrap;

        &-item{
          width: 20%;
          margin: 10px 0;

          @include ReSassWidthResponsive(1200){
            width: 25%;
          }
          @include ReSassWidthResponsive(768){
            width: calc(100% / 3);
          }
          @include ReSassWidthResponsive(480){
            width: calc(100% / 2);
          }
        }
      }

      &-pie{
        width: 40px;
        height: 40px;
        margin-right: 7px;
      }

      &-text{
        font-size: 17px;
        line-height: 0.9;

        *{display: block;}
      }
    }
  }

  &-tabswallet{

    &-table{
      thead th{
        border-top-width: 1px;
        &.btnwidth200{

          @include ReSassWidthResponsive(1200){
            width: 150px !important;
          }
        }
      }

      tbody{

        td{
          padding-top: 2px;
          padding-bottom: 2px;

          span.coinaddress{
            @include ReSassWidthResponsive(768){
              overflow: hidden;
              margin-right: 15px;
              position: relative;

              &::after{
                content: "...";
                background-color: $global-clr-white;
                width: 14px;
                position: absolute;
                top: 2px;
                right: 0;
              }
            }
          }
        }

        tr:last-child{
          td{
            border-bottom-width: 1px;
            border-bottom-style: solid;
          }
        }
      }

      &-btn{

        @include ReSassWidthResponsive(768){
          background-color: $global-clr-light-gray;

          &::before{
            display: none;
          }
        }

        .btn{
          display: inline-block;
          padding: 1px 5px;
          width: calc(50% - 5px);

          &:first-child{
            float: left;
            margin-right: 5px;
          }
          &:last-child{
            float: right;
            margin-left: 5px;
          }
        }
      }
    }
  }
}