
.profile{

  &-bank-account{
    max-width: 750px;

    &-table{
      margin-top: -10px;

      thead th{

        &.btnwidth110{
          width: 110px;
        }
      }

      tbody{

        td{
          padding-top: 2px;
          padding-bottom: 2px;
          text-transform: uppercase;
        }

        tr:last-child{
          td{
            border-bottom-width: 1px;
            border-bottom-style: solid;
          }
        }
      }

      &-btn{
        .btn{
          display: block;
          padding: 1px 5px;
        }
      }
    }
  }
}