
.profile{

  &-notification{

    &-settings{

      &-table{
        max-width: 800px;

        .sitebggraylight{
          width: 140px;
          position: relative;
        }

        .ioscheckbox{
          display: flex;
          justify-content: center;
          align-items: center;

          > span{
            margin: 0 5px;
          }

        }

        th, td{
          text-align: center;
          padding-top: 7px !important;
          padding-bottom: 7px !important;

          &:first-child{
            text-align: left;
          }
        }

        thead{

          th{
            font-size: 17px;
          }

          tr:first-child{
            th{
              font-weight: 500;
            }
          }
        }

        tbody{
          tr:last-child{
            td{
              border-bottom-width: 1px;
              border-bottom-style: solid;
            }
          }
        }
      }
    }
  }
}