
.profile{

  &-notification{

    &-table{

      .headbutton{
        text-align: right;
        float: right;

        a{
          color: $global-clr-soft-blue;
        }

        i.iconclose{
          position: relative;
          width: 16px;
          height: 16px;
          border: 1px solid transparentize($global-clr-soft-gray, 0.7);
          @include border-radius(18px);
          display: inline-block;
          margin: 0 2px;

          &::before,
          &::after{
            content: "";
            position: absolute;
            background-color: $global-clr-soft-blue;
            width: 9px;
            height: 2px;
            left: calc(50% - 4px);
            top: calc(50% - 1px);
          }

          &::before{
            @include rotate(45);
          }
          &::after{
            @include rotate(135);
          }

          &.darkblue{
            &::before,
            &::after{
              background-color: $global-clr-dark-blue;
            }
          }

          &.darkred{
            &::before,
            &::after{
              background-color: $global-clr-red;
            }
          }
        }
      }

      thead{
        th{
          font-size: 17px;
          height: 30px;
          border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);
        }
      }

      tbody{
        td{
          padding-top: 10px !important;
          padding-bottom: 10px !important;

          &.notificationtd{
            @include ReSassResponsive(768){
              padding-left: 10px !important;
              padding-right: 10px !important;
              font-size: 15px !important;
              overflow: hidden;
              max-height: 120px;

              &::before{
                font-size: 17px !important;
                width: 100% !important;
                position: relative !important;
                height: auto !important;
                padding: 0 0 5px 0 !important;

                @include ReSassResponsive(480){
                  font-size: 15px !important;
                }
              }
            }
            @include ReSassResponsive(576){
              max-height: none;
            }
          }

          @include ReSassResponsive(768){
            .custom-control{
              &.width20px{
                min-height: 20px;
                top: 0 !important;

                .custom-control-label{
                  &::before,
                  &::after{
                    width: 20px;
                    height: 20px;
                  }
                }

                .custom-control-input:checked ~ .custom-control-label {
                  &::after {
                    top: 6px;
                    left: -21px;
                  }
                }
              }
            }
          }
        }

        tr:last-child{
          td{
            border-bottom-width: 1px;
            border-bottom-style: solid;
          }
        }

        td.nonotificationsalert{
          color: $global-clr-dark-blue;
          font-size: 17px;
          padding: 50px 0 !important;
        }

      }

      tr.message-read{
        td{
          opacity: 0.5;

          &:first-child,
          &:last-child{
            opacity: 1;
          }

        }
      }

      &-btn{
        @include ReSassResponsive(768){
          background-color: $global-clr-light-gray;

          &::before{
            display: none !important;
          }
        }
        .btn{
          display: block;
          padding: 1px 5px;
          height: 30px;

          @include ReSassResponsive(768){
            width: 100% !important;
          }
        }
      }

      .custom-control{
        top: -2px;
      }
    }
  }
}