
.profile{

  &-commision{

    &-table{
      max-width: 750px;

      .sitebggraylight{
        width: 80px;

        @include ReSassWidthResponsive(768){
          width: 100%;
        }
      }

      th, td{
        text-align: center;
        padding-top: 7px !important;
        padding-bottom: 7px !important;
        text-transform: uppercase;

        &:first-child{
          text-align: left;

          @include ReSassWidthResponsive(768){
            //color: $global-clr-white;
            background-color: transparentize($global-clr-soft-gray, 0.7) !important;
            font-weight: 500;
            border-top: none !important;
            border-bottom: none !important;
          }
        }

        @include ReSassWidthResponsive(768){
          &.mobiletd{
            border-top: 1px solid transparentize($global-clr-soft-gray, 0.7) !important;
            border-bottom: none !important;
            padding-top: 5px !important;
            padding-bottom: 5px !important;

            &::before{
              width: 100% !important;
              font-weight: 500;
              padding-top: 5px !important;
              padding-bottom: 5px !important;
            }

            &-01{
              background-color: darken($global-clr-light-gray, 0%) !important;

              &.mobiletd ~ .sitebggraylight{
                //background-color: darken($global-clr-light-gray, 0%) !important;
                background-color: $global-clr-white !important;
                border-bottom: none !important;
                padding-top: 5px !important;
                padding-bottom: 5px !important;

                &::before{
                  padding-top: 5px !important;
                  padding-bottom: 5px !important;
                }
              }
            }

            &-02{
              background-color: darken($global-clr-light-gray, 0%) !important;

              &.mobiletd ~ .sitebggraylight{
                //background-color: darken($global-clr-light-gray, 5%) !important;
                background-color: $global-clr-white !important;
                border-bottom: none !important;
                padding-top: 5px !important;
                padding-bottom: 5px !important;

                &::before{
                  padding-top: 5px !important;
                  padding-bottom: 5px !important;
                }
              }
            }

            &-03{
              background-color: darken($global-clr-light-gray, 0%) !important;

              &.mobiletd ~ .sitebggraylight{
                //background-color: darken($global-clr-light-gray, 10%) !important;
                background-color: $global-clr-white !important;
                border-bottom: none !important;
                padding-top: 5px !important;
                padding-bottom: 5px !important;

                &::before{
                  padding-top: 5px !important;
                  padding-bottom: 5px !important;
                }
              }
            }
          }
        }
      }

      thead{

        th{
          font-size: 14px;
        }

        tr:first-child{
          th{
            font-weight: 500;
          }
        }
      }

      tbody{
        tr:last-child{
          td{
            border-bottom-width: 1px;
            border-bottom-style: solid;
          }
        }

        tr{
          @include ReSassWidthResponsive(768){
            border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7) !important;
          }
        }
      }
    }
  }
}