
.profile{

  &-profile{
    max-width: 600px;

    @include ReSassWidthResponsive(992){
      max-width: none;
    }

    .form-row{
      @include ReSassWidthResponsive(480){
        flex-direction: column;
      }

      &:last-child{
        .form-group{
          @include ReSassWidthResponsive(480){
            margin-bottom: 10px !important;
          }
        }
      }

      .labelwidth100100{
        @include ReSassWidthResponsive(480){
          display: none;
        }
      }
    }

    .mobilebottombutton{
      @include ReSassWidthResponsive(480){
        margin-bottom: 5px !important;
      }
    }
  }
}