.profile{

  &-section{
    padding: 35px 0 60px;
  }

  &-wrapper{
    > .columntitle{
      color: $tradepage-color-dark-blue;
      padding-bottom: 6px;
      margin-bottom: 0;
    }

    .formui{
      .form-control{
        font-weight: 500;
        color: $tradepage-color-dark-blue;
      }
      @include placeholder{
        font-weight: 500;
      }
    }
  }

  &-box{
    color: $tradepage-color-dark-blue;
    border: 1px solid transparentize($tradepage-color-light-stale-gray, 0.7);
    border-bottom: none;
    border-top: none;
    position: relative;
    font-size: 17px;

    &:before{
      content: "";
      background-color: $tradepage-color-blue;
      height: 4px;
      width: calc(100% + 2px);
      left: -1px;
      position: absolute;
    }

    a.link{
      color: $tradepage-color-blue;
      text-decoration: underline;
    }

    &-content{
      padding: 15px;
      padding-top: 20px;
      border-bottom: 1px solid transparentize($tradepage-color-light-stale-gray, 0.7);

      div[class*="boxtitle"]{
        margin-bottom: 10px;
        padding-bottom: 7px;
      }

      label > i{
        cursor: pointer;
      }

      span[class*="wallet"]{
        font-size: 17px;
      }
    }

    &-btn{
      margin-top: 20px;
      margin-bottom: -20px;

      &:before{
        width: calc(100% + 2px);
        height: 4px;
        left: -1px;
        top: calc(50% - 2px);
      }
    }
  }


  &-tabs{

    &-tabnav{
      border-bottom: 5px solid $tradepage-color-blue;
      position: relative;

      &:after{
        content: "";
        position: absolute;
        width: 100%;
      }
      &:after{
        background-color: $tradepage-color-white;
        height: 2px;
        bottom: 0;
      }

      .nav{
        &-item{
          position: relative;
          margin-bottom: 0;
          font-size: 18px;
          overflow: hidden;
          background-color: $tradepage-color-light-stale-gray;
        }
        &-link{
          color: $tradepage-color-white;
          border-color: $tradepage-color-white;
          border-style: solid;
          border-right-width: 2px;
          border-left-width: 0;
          border-top: none;
          border-bottom-width: 0;
          padding: 2px 10px 4px;
          min-width: 50px;
          text-align: center;
          @include border-radius(0);
          @include transition(color, 0.2s, linear);

          span{
            position: relative;
            z-index: 1;
            display: block;
            margin-bottom: 1px;
          }

          &:before{
            content: "";
            position: absolute;
            width: calc(100% - 2px);
            height: 0;
            left: 0;
            bottom: 0;
            background-color: transparent;
            @include transition(height, 0.2s, linear);
          }

          &.active,
          &.show,
          &:hover{
            color: $tradepage-color-white;
            background-color: transparent;
            border-color: $tradepage-color-white;
            &:before{
              height: 100%;
              background-color: $tradepage-color-blue;
              z-index: 1;
            }
          }
        }

      }
    }
    &-content{
      border: 1px solid transparentize($tradepage-color-light-stale-gray, 0.7);
      border-top: none;

      &-tablebox{
        padding: 15px;
      }

      &-footer{
        background-color: $tradepage-color-light-bg-gray;
        padding: 15px;
      }

      &:before{
        display: none;
      }
    }
  }


  i[class*="icon-svg"]{
    margin: 0 5px;
    display: inline-block;
  }
  i[class*="profilehelp"]{
    width: 18px;
    height: 18px;
  }

}