
.profile{

  &-notification{

    &-alert{
      .alert{
        margin-bottom: 15px;
      }
    }

    &-settings{
      //max-width: 800px;

      &-table{

        .sitebggraylight{
          width: 140px;

          @include ReSassWidthResponsive(992){
            width: 130px;
          }
          @include ReSassWidthResponsive(768){
            width: 100%;
          }
        }

        .ioscheckbox{
          display: flex;
          justify-content: center;
          align-items: center;

          > span{
            margin: 0 5px;
          }
        }

        th, td{
          text-align: center;
          padding-top: 7px !important;
          padding-bottom: 7px !important;

          &:first-child{
            text-align: left;
          }
        }

        thead{

          tr:first-child{
            th{
              font-weight: 500;
            }
          }

          th{
            font-size: 17px;

            &:last-child{
              display: none;
            }
          }
        }

        tbody{
          tr:last-child{
            td{
              border-bottom-width: 1px;
              border-bottom-style: solid;
            }
          }

          td{

            &:first-child{
              padding-left: 10px !important;
              font-weight: 500;

              &::before{
                @include ReSassWidthResponsive(768){
                  display: none;
                }
              }
            }

            &.mobiletd{
              @include ReSassWidthResponsive(768){
                display: none;
              }
            }
          }
        }
      }
    }
  }
}