
.profile{

  &-transaction{

    .table-filter{
      @include ReSassWidthResponsive(1200){
        background-color: $global-clr-light-gray;
        padding: 7px;
      }
      @include ReSassWidthResponsive(576){
        padding-top: 1px;
      }

      .filter-horizontal{

        .form-row{

          > div[class*="maxwidth"]{
            @include ReSassWidthResponsive(992){
              flex: 0 0 25% !important;
              max-width: 25% !important;
              margin: 6px 0;
            }
            @include ReSassWidthResponsive(768){
              flex: 0 0 50% !important;
              max-width: 50% !important;
              margin: 6px 0;
            }
            @include ReSassWidthResponsive(480){
              flex: 0 0 100% !important;
              max-width: 100% !important;
            }
          }


          .filterbutton{

            @include ReSassWidthResponsive(992){
              flex: 0 0 100% !important;
              max-width: 100% !important;
              width: auto;
              margin-top: 5px;
              padding: 0 3px;
            }
          }
        }
      }

      .qs-datepicker-container{
        @include ReSassWidthResponsive(480){
          left: 0 !important;
          right: 0 !important;
        }
      }
    }

    div[class*=boxtitle] {
      margin-bottom: 0;
      align-items: center;

      @include ReSassWidthResponsive(1200){
        display: block !important;
      }

      @include ReSassWidthResponsive(768){
        border-bottom: none;
      }

      > span[class*="boxtitle-date"]{
        @include ReSassWidthResponsive(768){
          margin-top: 5px;
        }
      }
    }

    i[class*="icon-svg"]{
      width: 18px;
      height: 18px;
      margin-left: 0;
    }

    a{
      color: $global-clr-soft-blue;
      margin-left: 5px;
      @include transition(all, 0.5s, ease-in-out);

      &:first-child{
        margin-left: 0;
      }

      &:hover{
        color: transparentize($global-clr-soft-blue, 0.3);
      }

    }

    &-history{

      &-table{

        th, td{
          &:first-child{
            text-align: center;
          }
        }

        thead{
          th{
            font-size: 14px;
            white-space: nowrap;
          }
        }

        tbody{
          tr:last-child{
            td{
              border-bottom-width: 1px;
              border-bottom-style: solid;
            }
          }

          td{

            &:first-child{
              text-align: left;
              padding-left: 3px;
            }

            &::before{
              color: $global-clr-dark-blue;
            }

            span{
              display:block;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            span.refcode{width: 120px;}
            span.bankname{width: 80px;}

            @include ReSassWidthResponsive(768){
              span.refcode,
              span.bankname{width: auto;}
            }
          }
        }

        tr.message-read{
          td{
            opacity: 0.5;

            &:first-child,
            &:last-child{
              opacity: 1;
            }
          }
        }

        &-btn{
          @include ReSassWidthResponsive(768){
            background-color: $global-clr-light-gray;

            &::before{
              display: none !important;
            }
          }
          a{
            display: block;
            padding: 1px 5px;

            @include ReSassWidthResponsive(768){
              width: 100% !important;
              justify-content: center;
            }

            i[class*="icon-svg"]{
              margin-right: 2px;
            }
          }
        }
      }
    }
  }
}