
.profile{

  &-box{

    .phoneeditmodal{

      &-step01{}
      &-step02{}

      .modal-content{
        width: 400px;

        @include ReSassWidthResponsive(400){
          width: 100%;
        }

        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type=number] {
          -moz-appearance:textfield;
        }

        .inputcountdown{
          display: block;
          position: absolute;
          top: 34px;
          right: 10px;
        }
      }
    }

  }

  &-profile{
    max-width: 600px;

    @include ReSassWidthResponsive(992){
      max-width: none;
    }

    .form-row{
      @include ReSassWidthResponsive(480){
        flex-direction: column;
      }

      &:last-child{
        .form-group{
          @include ReSassWidthResponsive(480){
            margin-bottom: 10px !important;
          }
        }
      }

      .labelwidth100100{
        @include ReSassWidthResponsive(480){
          display: none;
        }
      }
    }

    .mobilebottombutton{
      @include ReSassWidthResponsive(480){
        margin-bottom: 5px !important;
      }
    }
  }
}