
.profile{

  &-infoarea{
    color: $global-clr-dark-blue;

    &-title{
      color: $global-clr-dark-blue;
      margin: 0;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: normal;
    }
    &-contlist{
      color: $global-clr-dark-blue;
      font-size: 17px;
      line-height: 1.5;

      li{
        position: relative;
        padding-left: 15px;

        &:before{
          content:"";
          position:absolute;
          width: 9px;
          height: 9px;
          top: 8px;
          left: 0;
          border-top:2px solid $global-clr-soft-blue;
          border-right:2px solid $global-clr-soft-blue;
          @include rotate(45);
        }
      }
    }
  }

  &-keycreate{

    &.formui{
      .form-control{
        font-size: 17px;
      }
    }

    .form-check{
      margin: 15px 0;
    }

    &-tags500{
      max-width: 500px;
    }

  }

}