
.profile{

  &-activity-history{
    max-width: 600px;

    @include ReSassWidthResponsive(992){
      max-width: none;
    }

    &-table{

      thead{
        th{
          font-size: 14px;
          border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);
        }

        th.btnwidth110{
          width: 110px;
        }

      }

      tbody{
        td{
          padding-top: 3px !important;
          padding-bottom: 3px !important;
        }

        tr:last-child{
          td{
            border-bottom-width: 1px;
            border-bottom-style: solid;
          }
        }
      }

      &-btn{

        @include ReSassWidthResponsive(768){
          background-color: $global-clr-light-gray;

          &::before{
            display: none;
          }
        }

        .btn{
          display: block;
          padding: 1px 5px;

          @include ReSassWidthResponsive(768){
            width: 100% !important;
          }
        }
      }
    }
  }
}