
.profile{

  &-progress{
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-around;
    background-color: $global-clr-light-gray;

    &-list{
      margin: 20px auto 15px;

      &-item{
        width:140px;
        margin: 0 6px;
        float: left;
        position:relative;
        $liitem: &;

        @include ReSassWidthResponsive(768){
          width: 120px;
        }
        @include ReSassWidthResponsive(576){
          width: 100px;
        }
        @include ReSassWidthResponsive(480){
          width: 80px;
        }
        @include ReSassWidthResponsive(400){
          width: 60px;
        }

        &:first-child{
          margin-left:0;
          //&::before{display:none;}
        }

        &:last-child{
          margin-right: 0;
          &::before{display:none;}
        }

        &-circle{
          color: lighten($global-clr-soft-gray, 25%);
          background-color: lighten($global-clr-soft-gray, 25%);
          width:26px;
          height:26px;
          display:block;
          font-size:12px;
          line-height:26px;
          text-align:center;
          margin:0 auto;
          position:relative;
          z-index: 1;
          @include border-radius(52px);
          @include transition(all, 0.4s, linear);

          &::before{
            content:"";
            width:48px;
            height:48px;
            position:absolute;
            display:none;
            left:0;
            top:0;
            border:2px solid $global-clr-white;
            @include border-radius(48px);
          }
        }

        &-title{
          color: $global-clr-dark-blue;
          font-size: 14px;
          line-height:1;
          font-weight: normal;
          text-align:center;
          display: block;
          margin: 0;
          padding-top: 7px;
          @include transition(all, 0.4s, linear);

          @include ReSassWidthResponsive(480){
            font-size:13px;
            white-space: nowrap;
          }
        }

        &.active,
        &.check{
          #{$liitem}-circle{
            color: $global-clr-soft-blue;
            background-color: $global-clr-soft-blue;
            position:relative;
            text-indent: -9999px;
            animation-name:pulse;
            animation-duration:1s;
            animation-fill-mode:both;

            &::after{
              content:"";
              position:absolute;
              width: 12px;
              height: 6px;
              top: 9px;
              left: 7px;
              border-bottom:2px solid $global-clr-white;
              border-left:2px solid $global-clr-white;
              @include rotate(-50);
            }
          }
        }

        &.active{
          &::after{width: 50%;}
        }

        &.check{
          &::after{width: 100%;}
          &::before{opacity:0;}
        }
        &.finished{
          #{$liitem}-circle{
            color: $global-clr-soft-blue;
            background-color: $global-clr-soft-blue;
            position:relative;
            text-indent: -9999px;
            animation-name:pulse;
            animation-duration:1s;
            animation-fill-mode:both;

            &::after{
              content:"";
              position:absolute;
              width: 12px;
              height: 6px;
              top: 9px;
              left: 7px;
              border-bottom:2px solid $global-clr-white;
              border-left:2px solid $global-clr-white;
              @include rotate(-50);
            }
          }
        }

        &::after,
        &::before{
          content:"";
          width: 100%;
          height:5px;
          background-color: lighten($global-clr-soft-gray, 25%);
          position:absolute;
          top:11px;
          left:calc(50% + 6px);
          @include border-radius(5px);
          @include transition-delay (0.4s);
          @include transition(all, 0.5s, ease-in-out);
        }
        &::after{
          background-color: $global-clr-soft-blue;
          width:0;
        }
      }
    }
  }

  &-fileupload{

    &-box{
      margin: 5px 0;
      flex: 0 0 calc(100% / 5);
      max-width: calc(100% / 5);

      @include ReSassWidthResponsive(1400){
        flex: 0 0 calc(100% / 4);
        max-width: calc(100% / 4);
      }
      @include ReSassWidthResponsive(768){
        flex: 0 0 calc(100% / 2);
        max-width: calc(100% / 2);

        &:nth-child(4n+1),
        &:nth-child(4n+2){
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
      @include ReSassWidthResponsive(400){
        flex: 0 0 calc(100% / 1);
        max-width: calc(100% / 1);
        margin-top: 10px;
        margin-bottom: 10px;

        &:first-child{
          margin-top: 8px;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }

      .btn{
        margin-top: 10px;
      }
    }
  }

  &-accconfirm{

    &-box{
      color: $global-clr-dark-blue;
      background-color: $global-clr-white;
      padding: 16px;
      border: 1px solid transparentize($global-clr-soft-gray, 0.7);
      margin-top: 15px;

      &:first-child{margin-top: 0;}

      @include ReSassWidthResponsive(480){
        padding: 10px;
      }

      div[class*="boxtitle"]{
        flex-direction: column;
        margin-bottom: 0;

        h3[class*="boxtitle-"],
        span[class*="boxtitle-"]{
          @include ReSassWidthResponsive(768){
            font-size: 14px;
          }
          @include ReSassWidthResponsive(576){
            font-size: 16px;
          }
        }
      }


    }

    &-table{
      //margin-top: 10px;

      .latestrequestdetails,
      .pastconfirmrequests,
      .documentsuploaded{

        tbody tr:last-child td{
          padding-bottom: 0 !important;
        }

        thead tr th,
        tbody tr td{
          padding-top: 8px;
          padding-bottom: 8px;
          text-align: center;

          &.badgearea{
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }

        .badge{
          font-size: 100%;
          font-weight: 400;
          @include box-shadow(none);
        }
      }

      .latestrequestdetails,
      .pastconfirmrequests,
      .documentsuploaded{
        thead tr th:first-child,
        tbody tr td:first-child{
          text-align: left;
        }
        thead tr th:last-child,
        tbody tr td:last-child{
          text-align: right;
        }
      }

      .documentsuploaded{
        thead tr th:last-child,
        tbody tr td:last-child{
          text-align: left;
          width: 40%;
          padding-left: 20px;
        }
        tbody tr td{
          //vertical-align: top;
        }
      }

    }
  }
}