.profile{

  &-section{
    padding: 35px 0 60px;

    @include ReSassWidthResponsive(1400){
      padding: 25px 0 50px;
    }
    @include ReSassWidthResponsive(992){
      padding: 20px 0 20px;
    }
    @include ReSassWidthResponsive(576){
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    > .container > .row{
      @include ReSassWidthResponsive(992){
        flex-direction: column;
        display: block !important;
      }
    }
  }

  &-wrapper{

    &.maincont-right{
      @include ReSassWidthResponsive(1200){
        flex: 0 0 80%;
        max-width: 80%;
      }
      @include ReSassWidthResponsive(992){
        flex: 0 0 100%;
        max-width: 100%;
        display: block !important;
        padding: 0 !important;
        margin-top: 20px;
      }
      @include ReSassWidthResponsive(576){
        margin-top: 15px;
      }
    }

    > .columntitle{
      color: $global-clr-dark-blue;
      padding-bottom: 6px;
      margin-bottom: 0;

      @include ReSassWidthResponsive(768){
        font-size: 20px;
        text-align: center;
      }
    }
  }

  &-box{
    color: $global-clr-dark-blue;
    border: 1px solid transparentize($global-clr-soft-gray, 0.7);
    //border-bottom: none;
    border-top: none;
    position: relative;
    font-size: 17px;

    &::before{
      content: "";
      background-color: $global-clr-soft-blue;
      height: 4px;
      width: calc(100% + 2px);
      left: -1px;
      position: absolute;
    }

    &.lineorange{
      &::before{
        background-color: $global-clr-orange;
      }
    }

    a.link{
      color: $global-clr-soft-blue;
      text-decoration: underline;
    }

    &-content{
      padding: 20px 0 15px;
      margin: auto 15px;
      border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);

      @include ReSassWidthResponsive(576){
        padding: 15px 0 10px;
      }
      @include ReSassWidthResponsive(400){
        padding: 9px 0 6px;
        margin: auto 10px;
      }

      &:last-child{
        border-bottom: 0;
      }

      &.nobordertop{
        border-top: 0;
      }
      &.noborderbottom{
        border-bottom: 0;
      }
      &.bordertop{
        border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);
      }
      &.borderbottom{
        border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);
      }

      div[class*="boxtitle"]{
        margin-bottom: 10px;
        padding-bottom: 7px;

        > *{
          @include ReSassWidthResponsive(576){
            display: block !important;
          }
        }

        @include ReSassWidthResponsive(768){
          flex-direction: column;
          align-items: center;
          //display: block !important;
          text-align: center;
        }
        @include ReSassWidthResponsive(400){
          margin-bottom: 5px;
          margin-top: 10px;
        }

        span[class*="boxtitle-info"]{
          @include ReSassWidthResponsive(768){
            display: block !important;
            text-align: center;
            margin-top: 5px;
            line-height: 1;
          }
          > *{
            @include ReSassWidthResponsive(768){
              margin: 0;
            }
          }
          > i{
            @include ReSassWidthResponsive(768){
              position: relative;
              top: 3px;
            }
          }

        }
      }

      label > i{
        cursor: pointer;
        width: 18px;
        height: 18px;
        margin-left: 3px;
      }

      span[class*="wallet"]{
        font-size: 17px;

        @include ReSassWidthResponsive(768){
          margin-top: 5px;
        }
      }
    }

    &-info{

      &-list{
        margin-top: 15px;
        margin-bottom: 5px;

        &-item{
          position: relative;
          padding-left: 22px;
          font-size: 17px;
          line-height: 1.2;

          @include ReSassWidthResponsive(768){
            font-size: 15px;
          }

          &::before{
            content: "";
            position: absolute;
            background-image: url(#{$globalSvgIconImgPath}/Icon_Information.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            width: 18px;
            height: 18px;
            left: 0;
            top: 2px;

            @include ReSassWidthResponsive(768){
              top: 0;
            }
          }

          &.infoyellow{
            &::before{
              background-image: url(#{$globalSvgIconImgPath}/Icon_Information_Yellow.svg);
            }
          }
          &.infored{
            &::before{
              background-image: url(#{$globalSvgIconImgPath}/Icon_Information_Red.svg);
            }
          }

        }
      }
    }

    &-btn{
      top: 20px;

      &::before{
        width: calc(100% + 2px);
        height: 4px;
        left: -1px;
        top: calc(50% - 2px);
      }
    }

    &-bottombtnform{
      margin-bottom: 20px;
    }
  }

  &-tabs{

    &-tabnav{
      border-bottom: 5px solid $global-clr-soft-blue;
      position: relative;

      &::after{
        content: "";
        position: absolute;
        width: 100%;
      }
      &::after{
        background-color: $global-clr-white;
        height: 2px;
        bottom: 0;
      }

      .nav{
        &-item{
          position: relative;
          margin-bottom: 0;
          font-size: 18px;
          overflow: hidden;
          background-color: $global-clr-soft-gray;
        }
        &-link{
          color: $global-clr-white;
          border-color: $global-clr-white;
          border-style: solid;
          border-right-width: 2px;
          border-left-width: 0;
          border-top: none;
          border-bottom-width: 0;
          padding: 2px 10px 4px;
          min-width: 50px;
          text-align: center;
          @include border-radius(0);
          @include transition(color, 0.2s, linear);

          span{
            position: relative;
            z-index: 1;
            display: block;
            margin-bottom: 1px;
          }

          &::before{
            content: "";
            position: absolute;
            width: calc(100% - 2px);
            height: 0;
            left: 0;
            bottom: 0;
            background-color: transparent;
            @include transition(height, 0.2s, linear);
          }

          &.active,
          &.show,
          &:hover{
            color: $global-clr-white;
            background-color: transparent;
            border-color: $global-clr-white;
            &::before{
              height: 100%;
              background-color: $global-clr-soft-blue;
              z-index: 1;
            }
          }
        }

      }
    }
    &-content{
      border: 1px solid transparentize($global-clr-soft-gray, 0.7);
      border-top: none;

      &-tablebox{
        padding: 15px;

        @include ReSassWidthResponsive(480){
          padding: 10px;
        }
      }

      &-footer{
        background-color: $global-clr-light-gray;
        padding: 15px;

        .btn{
          @include ReSassWidthResponsive(768){
            width: 100% !important;
          }
        }
      }

      &::before{
        display: none;
      }
    }
  }

  i[class*="icon-svg"]{
    margin: 0 5px;
    display: inline-block;
  }
  i[class*="profilehelp"]{
    width: 18px;
    height: 18px;
  }

  &-tooltiparea{
    .tooltip{

      &.show{
        opacity: 1;
      }

      &-inner{
        color: $global-clr-white;
        background-color: $global-clr-soft-gray;
        font-family: $global-font-family-barlow;
        max-width: 380px;
        width: 380px;
        padding:15px;
        @include border-radius(3px);

        *{color: $global-clr-white;}

        &.show{
          opacity: 1;
        }
      }

      &-html{

        div[class*="boxtitle"]{
          border-color: transparentize($global-clr-white, 0.7);
          align-self: end;
          margin-bottom: 10px;

          > span[class*="-title"],
          > span[class*="-info"]{
            font-size: 17px;
            font-weight: normal;
            display: block;
            line-height: 1;
          }
          > *[class*="-info"]{
            opacity: 0.7;
          }
        }

        img.image{
          margin-bottom: 10px;
          display: block;
          max-width: 100%;
          height: auto;
          @include border-radius(3px);
        }

        p.desc{
          margin-top: 10px;
          line-height: 1.2;
          font-size: 17px;
          text-align: left;

          &:first-child{
            margin-top: 0;
          }
        }

        ul.list{
          font-size: 17px;
          line-height: 1.3;
          text-align: left;
          margin-top: 10px;

          li{
            position: relative;
            padding-left: 15px;

            &::before{
              content:"";
              position:absolute;
              width: 9px;
              height: 9px;
              top: 9px;
              left: 0;
              border-top:2px solid $global-clr-white;
              border-right:2px solid $global-clr-white;
              @include rotate(45);
            }
          }
        }
      }
    }

    .bs-tooltip-top{
      .arrow {
        &::before {
          border-top-color: $global-clr-soft-gray;
        }
      }
    }

    .bs-tooltip-right{
      .arrow {
        &::before {
          border-right-color: $global-clr-soft-gray;
        }
      }
    }

    .bs-tooltip-bottom {
      .arrow {
        &::before {
          border-bottom-color: $global-clr-soft-gray;
        }
      }
    }

    .bs-tooltip-left {
      .arrow {
        &::before {
          border-left-color: $global-clr-soft-gray;
        }
      }
    }
  }

}


/* Cross Browser Start */
html.IExplorer{

  .profile-box-info-list{}

}
/* Cross Browser End */