
.profile{

  &-topinfo{
    background-color: $global-clr-light-gray;
    padding: 20px 15px;

    > ul[class*="info"]{
      margin: 0;
    }
  }

  &-authenticator-download{
    background-color: $global-clr-light-gray;
    padding: 20px 15px;

    &.borderbottom{
      border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);
    }

    &-box{
      padding-left: 15px;
      padding-right: 15px;
      position: relative;

      &:first-child{
        padding-left: 0;
        &::before{
          display: none;
        }
      }
      &:last-child{
        padding-right: 0;
      }

      &::before{
        content: "";
        position: absolute;
        background-color: transparentize($global-clr-soft-gray, 0.7);
        width: 1px;
        height: 30px;
        left: 0;
        bottom: 0;
      }


      &-title{
        font-size: 17px;
        margin-bottom: 5px;
      }

      &-btn{

        > *{
          padding: 2px 3px;
          margin-left: 2px;
          margin-right: 2px;

          &:first-child{
            margin-left: 0;
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }

  &-twofa{
    &-activation{
      &-tags350{
        max-width: 350px;
      }

      .ioscheckbox{
        display: flex;
        justify-content: center;
        align-items: center;

        > span{
          margin: 0 5px;
        }
      }

      &-qrcode{
        max-width: 600px;
        margin-top: 10px;

        &-code{
          margin-right: 15px;
          margin-bottom: 0 !important;

          &-svg{
            width: 152px;
            height: 152px;
            padding: 3px;
            border: 1px solid transparentize($global-clr-soft-gray, 0.7);
          }
        }

        &-info{
          color: $global-clr-dark-blue;
          line-height: 1.2;
          font-size: 17px;
          min-height: 75px;
        }

        &-form{
          padding-left: 0;
        }
      }
    }
  }
}