
.profile{

  &-airdrop{
    padding: 0;
    margin: 0;

    @include ReSassWidthResponsive(768){
      padding: 10px;
    }

    &-table{

      .tdcurrencyname{
        display: flex;
        align-items: center;

        .icon-svg{
          width: 34px;
          height: 34px;
          margin-right: 7px;

          @include ReSassWidthResponsive(768){
            width: 28px;
            height: 28px;
            margin-right: 4px;
          }
        }
      }

      .tdchartgrap{
        svg{
          width: 100%;
        }
      }

      td, th{
        font-size: 14px;
        text-align: center;
        padding-left: 9px;
        padding-right: 9px;

        @include ReSassWidthResponsive(768){
          font-size: 12px;
          padding-left: 5px;
          padding-right: 5px;
        }

        &:first-child{
          text-align: left;
          padding-left: 15px;
        }
        &:last-child{
          padding-right: 15px;
        }
      }

      thead{
        th{
          padding-top: 20px;
          padding-bottom: 20px;
          border-top-width: 0;
          border-bottom-width: 0;
          vertical-align: top;
        }
      }

      tbody{
        tr:first-child{
          td{
            border-top-width: 0;
          }
        }

        td{
          padding-top: 12px;
          padding-bottom: 12px;
          border-top-style: dashed;

          @include ReSassWidthResponsive(992){
            padding-top: 8px;
            padding-bottom: 8px;
          }

          &:last-child{
            text-align: right;
          }
        }
      }
    }

    &-ratio{

      &-table{

        .thairdropcurrency{}
        .thairdropratio{}
        .thairdropbalance{}
        .thairdropearning{}
        .thairdropchart{
          width: 210px;

          @include ReSassWidthResponsive(768){
            width: auto;
          }
        }
      }
    }

    &-earnings{

      &-table{

        .thairdropcurrency{}
        .thairdrophistory{}
        .thairdropdate{}
        .thairdropbalance{}
        .thairdroprates{}
        .thairdropquantity{}
      }

    }

  }
}