$globalSvgIconImgPath : "../../img/global/svg";

.sidebar{

  /* Market Data */
  &-marketdata{

    .boxtitle{
      margin-bottom: 5px;
    }

    &-table{
      td, th{
        padding: 1px 5px;
        line-height: 1.4;
        &:first-child{padding-left: 5px;}
        &:last-child{padding-right: 0;}
      }

      thead th{
        color: $global-clr-white;
        background-color: $global-clr-soft-gray;
        border: none;
      }
      tbody td{
        font-weight: 500;
        position: relative;

        &:first-child{padding-left: 18px;}
      }

      &-symbol{
        color: $global-clr-dark-blue;
        font-weight: normal !important;
      }
    }
  }
  /* Market Data */

  /* Balance */
  &-balance{

    @include ReSassWidthResponsive(992){
      table[class*="balance-table"]{
        tbody{
          tr{
            &:last-child{
              td{
                border-bottom: none;
              }
            }
          }
        }
      }
    }

    @include ReSassWidthResponsive(480){
      display: block !important;
      max-width: initial !important;
    }

    @include ReSassWidthResponsive(480){
      table[class*="balance-table"]{
        thead{
          tr{
            th{
              &:first-child{
                width: 30%;
                min-width: 100px;
              }
            }
          }
        }
      }
    }

    .boxtitle{
      margin-bottom: 5px;
      margin-top: 7px;
    }

    &-table{
      td, th{
        border-top: 0;
        border-bottom:1px solid transparentize($global-clr-soft-gray, 0.7);
        font-size: 15px;
        padding: 1px 5px;
        line-height: 1.4;

        &:first-child{padding-left: 5px;}
        &:last-child{padding-right: 0;}
      }

      thead th{
        color: $global-clr-white;
        background-color: $global-clr-soft-gray;
        border: none;
      }
      tbody td{
        color: $global-clr-dark-blue;
        font-weight: 500;

        &:first-child{
          font-weight: normal;
        }
      }
    }
  }
  /* Balance */

  /* Tradepage Profile Sidebar Start */
  &-tradepage{
    &.maincont-left{
      @include ReSassWidthResponsive(1200){
        flex: 0 0 20%;
        max-width: 20%;
      }
      @include ReSassWidthResponsive(992){
        display: flex;
        flex-direction: row;
        flex: 0 0 100%;
        max-width: 100%;
      }
      @include ReSassWidthResponsive(400){
        flex-direction: column;
        margin-top: 0;
      }
    }
  }

  &-navigasyon{

    &-account{
      @include ReSassWidthResponsive(992){
        border-bottom: 4px solid $global-clr-soft-blue;
      }
    }
    &-security{
      @include ReSassWidthResponsive(992){
        border-bottom: 4px solid $global-clr-orange;
      }
      @include ReSassWidthResponsive(400){
        border-top: 4px solid $global-clr-orange;
        border-bottom: none;
      }
    }

    .responsive-dropdown{
      &-account{
        &-btn{
          background-color: $global-clr-soft-blue;
          padding: 7px 5px 5px;
          margin-right: 0;

          @include ReSassWidthResponsive(400){
            margin: 0 auto;
          }
        }
        &-menu{
          margin: 4px auto;
        }
      }

      &-security{
        &-btn{
          background-color: $global-clr-orange;
          padding: 7px 5px 5px;
          margin-left: 0;

          @include ReSassWidthResponsive(400){
            padding: 4px 5px 8px;
            margin: 0 auto;
          }
        }
        &-menu{
          background-color: lighten($global-clr-btn-blue, 3%);
          margin: 4px auto;

          @include ReSassWidthResponsive(400){
            margin: 0 auto;
          }
        }
      }
    }
  }
  /* Tradepage Profile Sidebar End */

}