$globalSvgIconImgPath : "../../img/global/svg";

.sidebar{

  &-mainpage{}

  /* Market Data */
  &-marketdata{

    .boxtitle{
      margin-bottom: 5px;
    }

    &-table{
      td, th{
        padding: 1px 5px;
        line-height: 1.4;
        &:first-child{padding-left: 5px;}
        &:last-child{padding-right: 0;}
      }

      thead th{
        color: $global-clr-white;
        background-color: $global-clr-soft-gray;
        border: none;
      }
      tbody td{
        font-weight: 500;
        position: relative;

        &:first-child{padding-left: 18px;}
      }

      &-symbol{
        color: $global-clr-dark-blue;
        font-weight: normal !important;
      }
    }
  }
  /* Market Data */

  /* Balance */
  &-balance{

    .boxtitle{
      margin-bottom: 5px;
      margin-top: 7px;
    }

    &-table{
      td, th{
        border-top: 0;
        border-bottom:1px solid transparentize($global-clr-soft-gray, 0.7);
        font-size: 15px;
        padding: 1px 5px;
        line-height: 1.4;

        &:first-child{padding-left: 5px;}
        &:last-child{padding-right: 0;}
      }

      thead th{
        color: $global-clr-white;
        background-color: $global-clr-soft-gray;
        border: none;
      }
      tbody td{
        color: $global-clr-dark-blue;
        font-weight: 500;

        &:first-child{
          font-weight: normal;
        }
      }
    }
  }
  /* Balance */

  /* Tradepage Sidebar Start */
  &-tradepage{
    &.maincont-left{
      @include ReSassResponsive(1200){
        flex: 0 0 20%;
        max-width: 20%;
      }
      @include ReSassResponsive(992){
        flex: 0 0 100%;
        max-width: 100%;
        display: block !important;
        padding: 0 !important;
      }
    }

    > *[class*="sidebar-"]{
      margin-top: 15px;

      &:first-child{
        margin-top: 0;
      }
    }
  }

  &-navigasyon{

    .columntitle{
      color: $global-clr-dark-blue;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    &-list{
      &-item{
        margin-top: 5px;
        font-size: 17px;

        &:first-child{
          margin-top: 0;
        }
      }

      .nav{
        &-link{
          color: $global-clr-white;
          background-color: $global-clr-soft-gray;
          padding: 8px 12px;
          @include border-radius(3px);
          @include transition(background, 0.3s, ease-in-out);

          &:hover{
            background-color: lighten($global-clr-soft-gray, 10%);
          }

          &.active{
            background-color: $global-clr-soft-blue;
          }
        }
      }

      &.navorange{
        .active{
          background-color: $global-clr-orange;
        }
      }
    }

    &:hover{
      .columntitle{
        &.bottomborder{
          &::after{
            width: 100%;
          }
        }
      }
    }
  }
  /* Tradepage Sidebar End */

}