$globalSvgIconImgPath : "../../img/global/svg";

.sidebar{

  &-mainpage{}

  /* Market Data */
  &-marketdata{

    .boxtitle{
      margin-bottom: 5px;
    }

    &-table{
      td, th{
        padding: 1px 5px;
        line-height: 1.4;
        &:first-child{padding-left: 5px;}
        &:last-child{padding-right: 0;}
      }

      thead th{
        color: $global-clr-white;
        background-color: $global-clr-soft-gray;
        border: none;
      }
      tbody td{
        font-weight: 500;
        position: relative;

        &:first-child{padding-left: 18px;}
      }

      &-symbol{
        color: $global-clr-dark-blue;
        font-weight: normal !important;
      }
    }
  }
  /* Market Data */

  /* Balance */
  &-balance{

    .boxtitle{
      margin-bottom: 5px;
      margin-top: 7px;
    }

    &-table{
      td, th{
        border-top: 0;
        border-bottom:1px solid transparentize($global-clr-soft-gray, 0.7);
        font-size: 15px;
        padding: 1px 5px;
        line-height: 1.4;

        &:first-child{padding-left: 5px;}
        &:last-child{padding-right: 0;}
      }

      thead th{
        color: $global-clr-white;
        background-color: $global-clr-soft-gray;
        border: none;
      }
      tbody td{
        color: $global-clr-dark-blue;
        font-weight: 500;

        &:first-child{
          font-weight: normal;
        }
      }
    }
  }
  /* Balance */

  /* Tradepage Profile Sidebar Start */
  &-tradepage{
    &.maincont-left{
      @include ReSassResponsive(1200){
        flex: 0 0 20%;
        max-width: 20%;
      }
      @include ReSassResponsive(992){
        display: flex;
        flex-direction: row;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 !important;
      }
      @include ReSassResponsive(400){
        flex-direction: column;
        margin-top: 0;
      }
    }

    > *[class*="sidebar-"]{
      margin-top: 15px;

      @include ReSassResponsive(992){
        flex: 0 0 calc((100% / 2) - 3px);
        max-width: calc((100% / 2) - 3px);
        margin-top: 0;
        margin-left: 3px;
        margin-right: 3px;

        @include ReSassResponsive(400){
          margin: 0;
        }

        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }
      @include ReSassResponsive(400){
        flex: 0 0 calc(100% / 1);
        max-width: calc(100% / 1);
        margin-top: 4px;
      }

      &:first-child{
        margin-top: 0;
      }
    }
  }

  &-navigasyon{

    &-account{
      @include ReSassResponsive(992){
        border-bottom: 4px solid $global-clr-soft-blue;
      }
    }

    &-security{
      @include ReSassResponsive(992){
        border-bottom: 4px solid $global-clr-orange;
      }
      @include ReSassResponsive(400){
        border-top: 4px solid $global-clr-orange;
        border-bottom: none;
      }
    }

    .columntitle{
      color: $global-clr-dark-blue;
      padding-bottom: 10px;
      margin-bottom: 10px;

      @include ReSassResponsive(992){
        display: none;
      }
    }

    &-list{
      &-item{
        margin-top: 5px;
        font-size: 17px;

        &:first-child{
          margin-top: 0;
        }
      }

      .nav{
        &-link{
          color: $global-clr-white;
          background-color: $global-clr-soft-gray;
          padding: 8px 12px;
          @include border-radius(3px);
          @include transition(background, 0.3s, ease-in-out);

          &:hover{
            background-color: lighten($global-clr-soft-gray, 10%);
          }

          &.active{
            background-color: $global-clr-soft-blue;
          }
        }
      }

      &.navorange{
        .active{
          background-color: $global-clr-orange;
        }
      }
    }

    &:hover{
      .columntitle{
        &.bottomborder{
          &::after{
            width: 100%;
          }
        }
      }
    }

    .responsive-dropdown{
      &-btn{
        background-color: $global-clr-soft-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 260px;
        min-height: 42px;
        margin: 0 auto;
        font-size: 20px;
        letter-spacing: -.02em;
        border: none;
        position: relative;
        @include border-radius(0);

        @include ReSassResponsive(768){
          max-width: 220px;
        }
        @include ReSassResponsive(576){
          max-width: 182px;
        }
        @include ReSassResponsive(400){
          max-width: 240px;
        }

        &::after{
          content: "";
          position: relative;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-bottom: 2px solid transparentize($global-clr-white, 0.5);
          border-left: 2px solid transparentize($global-clr-white, 0.5);
          left: 10px;
          margin-top: -2px;
          @include rotate(-45);
          @include transition(all, 0.3s, ease-in-out);
        }

        &[aria-expanded^="true"]{
          &::after{
            @include rotate(-225);
            margin-top: 6px;
          }
        }
      }
      &-menu{
        display: none;
        width: 100%;
        min-width: auto;
        max-width: 260px;
        margin: 0 auto;
        padding: 0;
        border: none;
        @include border-radius(0);

        @include ReSassResponsive(768){
          max-width: 220px;
        }
        @include ReSassResponsive(576){
          max-width: 182px;
        }
        @include ReSassResponsive(400){
          max-width: 240px;
        }

        &.show{
          display: block;
        }

        > li{
          margin: 0 !important;
        }

        > li > a{
          font-size: 20px;
          text-align: center;
          padding: 7px 2px;
          border: none;
          border-bottom: 1px solid transparentize($global-clr-white , 0.8);
          @include border-radius(0);

          @include ReSassResponsive(576){
            font-size: 17px;
          }
        }
      }

      &-account{
        &-btn{
          background-color: $global-clr-soft-blue;
          padding: 7px 5px 5px;
          margin-right: 0;

          @include ReSassResponsive(400){
            margin: 0 auto;
          }
        }
        &-menu{
          margin: 4px auto;
        }
      }

      &-security{
        &-btn{
          background-color: $global-clr-orange;
          padding: 7px 5px 5px;
          margin-left: 0;

          @include ReSassResponsive(400){
            padding: 4px 5px 8px;
            margin: 0 auto;
          }
        }
        &-menu{
          background-color: lighten($global-clr-btn-blue, 3%);
          margin: 4px auto;

          @include ReSassResponsive(400){
            margin: 0 auto;
          }
        }
      }
    }
  }
  /* Tradepage Profile Sidebar End */

}