$tradepageHomepageImgPath : "../../img/tradepage";

.trader{

  &-stats{
    background-color: #cfd7df;
    padding: 5px 0;
    height: 60px;
    opacity: 1;

    &-price{
      color: $global-clr-dark-blue;

      &-big{
        color: $global-clr-dark-blue;

        .coinareaselect{

          &-toggle{
            display: flex;
            align-items: center;

            &-icons{
              display: flex;
              align-items: center;
              margin-right: 5px;

              i[class*="icon-svg"]{
                background-color: $global-clr-btn-blue;
                display: block;
                width: 35px;
                height: 35px;
                position: relative;
                @include border-radius(50%);

                &:first-child{
                  z-index: 1;
                }
                &:last-child{
                  z-index: 0;
                  margin-left: -5px;
                }
              }
              i[class*="btc"]{
                background-color: $global-clr-currency-btc;
              }
            }
            &-currency{
              font-size: 45px;
              font-weight: 300;
              letter-spacing: -0.9px;
            }
            &-arrow{}
          }
          &-menu{}

        }

        &-list{
          display: flex;
          justify-content: flex-end;
          margin-bottom: 0;

          &-item{
            color: $global-clr-dark-blue;
            text-align: left;
            font-size: 17px;
            font-weight: 500;
            line-height: 0.95;
            letter-spacing: -0.3px;
            position: relative;
            padding-right: 15px;
            padding-left: 15px;

            &::before{
              content: "";
              position: absolute;
              width: 1px;
              height: 34px;
              top: calc(50% - 16px);
              right: 0;
              background-color: $global-clr-soft-gray;
            }

            &:first-child{
              padding-left: 0;
            }
            &:last-child{
              padding-right: 0;

              &::before{display: none;}
            }
          }
        }

        &-title{
          font-size: 15px;
          font-weight: normal;
          letter-spacing: -0.2px;
          margin: 0;
        }

        &-volume{
          display: block;

          span[class*="sitecolor"]{
            font-weight: 500;
          }

          sup{
            font-size: 12px;
            font-weight: 900;
            letter-spacing: normal;
            text-align: center;
            position: relative;
            top: -6px;
          }
        }
      }
    }
  }

  &-bigchart{
    background-color: $global-clr-light-gray;
    flex: inherit !important;
    padding: 20px 0;
  }

  &-order{
    background-color: $global-clr-white;
    padding: 20px 0 40px;
    
    &-wrapper{}

    &-orders{

      &-tabnav{
        border-bottom: 5px solid $global-clr-soft-blue;
        position: relative;
        justify-content: center!important;

        &::after{
          content: "";
          position: absolute;
          width: 100%;
        }
        &::after{
          background-color: $global-clr-white;
          height: 2px;
          bottom: 0;
        }

        .nav{
          &-item{
            position: relative;
            margin-bottom: 0;
            font-size: 18px;
            overflow: hidden;
            background-color: $global-clr-soft-gray;
          }
          &-link{
            color: $global-clr-white;
            border-color: $global-clr-white;
            border-style: solid;
            border-right-width: 2px;
            border-left-width: 0;
            border-top: none;
            border-bottom-width: 0;
            padding: 3px 10px 4px;
            min-width: 120px;
            text-align: center;
            @include border-radius(0);
            @include transition(color, 0.2s, linear);

            span{
              position: relative;
              z-index: 1;
              display: block;
              margin-bottom: 1px;
            }

            &::before{
              content: "";
              position: absolute;
              width: calc(100% - 2px);
              height: 0;
              left: 0;
              bottom: 0;
              background-color: transparent;
              @include transition(height, 0.2s, linear);
            }

            &.active,
            &.show,
            &:hover{
              color: $global-clr-white;
              background-color: transparent;
              border-color: $global-clr-white;
              &::before{
                height: 100%;
                background-color: $global-clr-soft-blue;
                z-index: 1;
              }
            }
          }

        }
      }
      &-box{
        &::before{
          display: none;
        }
      }
    }

    &-book{
      margin-top: 15px;
    }

    &-open{
      margin-top: 15px;

      #editOrder.modal{
        .modal-content{
          form{

            .mt-3{
              margin-top: 10px !important;
            }

            .form-group.button{
              margin-bottom: 0 !important;
            }
          }
        }
      }
    }
  }

}