$tradepageHomepageImgPath : "../../img/tradepage";

.trader{

  &-bigchart{
    //background-color: $global-clr-light-gray;
    flex: inherit !important;
    padding: 20px 0 0;

    > .container{
      border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);
      padding-bottom: 15px;
    }
  }

  &-order{
    background-color: $global-clr-white;
    padding: 15px 0 40px;
    
    &-wrapper{}

    &-orders{

      &-tabnav{
        border-bottom: 5px solid $global-clr-soft-blue;
        position: relative;
        justify-content: center!important;

        &::after{
          content: "";
          position: absolute;
          width: 100%;
        }
        &::after{
          background-color: $global-clr-white;
          height: 2px;
          bottom: 0;
        }

        .nav{
          &-item{
            position: relative;
            margin-bottom: 0;
            font-size: 18px;
            overflow: hidden;
            background-color: $global-clr-soft-gray;
          }
          &-link{
            color: $global-clr-white;
            border-color: $global-clr-white;
            border-style: solid;
            border-right-width: 2px;
            border-left-width: 0;
            border-top: none;
            border-bottom-width: 0;
            padding: 3px 10px 4px;
            min-width: 120px;
            text-align: center;
            @include border-radius(0);
            @include transition(color, 0.2s, linear);

            span{
              position: relative;
              z-index: 1;
              display: block;
              margin-bottom: 1px;
            }

            &::before{
              content: "";
              position: absolute;
              width: calc(100% - 2px);
              height: 0;
              left: 0;
              bottom: 0;
              background-color: transparent;
              @include transition(height, 0.2s, linear);
            }

            &.active,
            &.show,
            &:hover{
              color: $global-clr-white;
              background-color: transparent;
              border-color: $global-clr-white;
              &::before{
                height: 100%;
                background-color: $global-clr-soft-blue;
                z-index: 1;
              }
            }
          }

        }
      }
      &-box{
        &::before{
          display: none;
        }
      }
    }

    &-book{
      margin-top: 15px;
    }

    &-open{
      margin-top: 15px;

      #editOrder.modal{
        .modal-content{
          form{

            .mt-3{
              margin-top: 10px !important;
            }

            .form-group.button{
              margin-bottom: 0 !important;
            }
          }
        }
      }
    }
  }

}