.btn{
  font-size: 17px;
  font-weight: normal;
  @include border-radius(3px);

  &-primary{
    background-color: $tradepage-color-blue !important;
    border-color: $tradepage-color-blue !important;
  }
  &-success{
    background-color: $tradepage-color-green !important;
    border-color: $tradepage-color-green !important;
  }
  &-danger{
    background-color: $tradepage-color-red !important;
    border-color: $tradepage-color-red !important;
  }
  &-info{
    background-color: $tradepage-color-blue !important;
    border-color: $tradepage-color-blue !important;
  }

  &.btnwidth110{
    width: 110px !important;
  }

  &.btnwidth100100{
    width: 100% !important;
  }

}


.site{

  &-button{

    &-formbottom{

      &-btn{
        position: relative;

        &:before{
          content: "";
          background-color: $tradepage-color-light-stale-gray;
          position: absolute;
          width: 100%;
          height: 1px;
          top: 50%;
        }
        &.success{
          &:before{background-color: $tradepage-color-green;}
        }
        &.info{
          &:before{background-color: $tradepage-color-blue;}
        }

        .btn{
          color: $tradepage-color-white !important;
          background-color: $tradepage-color-light-stale-gray;
          width: 200px;
          margin: 0 auto;
          display: block;
          border:none;
          font-size: 20px;
          font-weight: normal;
          position: relative;
          z-index: 1;
        }
      }

    }

  }

}