/* Form UI */
.formui{

  label{
    color: $tradepage-color-dark-blue;
    font-size: 17px;
    font-weight:normal;
    margin-bottom: 5px;
  }
  fieldset{
    font-size:17px;
    margin-bottom:20px;
    padding:10px 15px;
    border:1px solid;
    border-top:0;
    text-align:center;
  }
  .alert{
    border-radius:0;
    strong{
      display:block;
      margin-bottom:5px;
    }
  }
  .form-group{
    margin-bottom:20px;

    .btn{
      width:100%;
    }

    .input-group{

      *{@include transition(border-color, 0.15s, ease-in-out);}

      .form-control{
        border-right: none;
        padding-right: 0;
      }

      &:focus-within{
        .input-group-append{
          border-color:transparentize($tradepage-color-light-stale-gray, 0.40);
          &.graybg{
            border-color: transparentize($tradepage-color-light-stale-gray, 0.40);
          }
        }
      }

      .input-group-append{
        border: 1px solid transparentize($tradepage-color-light-stale-gray, 0.70);
        border-left: none;
        &.graybg{
          border-color: $tradepage-color-light-bg-gray;
        }
      }
      .input-group-text{
        font-size: 20px;
        padding: 6px 10px 9px;
        line-height: 1;
        background-color:$tradepage-color-light-bg-gray;
        border: none;
        @include border-radius(0);

        &.whitebg{
          background-color:$tradepage-color-white;
        }
        &.graybg{
          background-color:$tradepage-color-light-bg-gray;
        }
      }
    }

    .dropdown-menu{
      padding:0;
      margin:0;
      margin-top:-1px;
      @include border-radius(0);
      @include box-shadow(0,0,0,transparent);

      > li > a{padding:10px 15px;}
    }

    &:last-child{
      margin-bottom:0;
    }
  }

  .form-control{
    color:#282828;
    background-color:$tradepage-color-white;
    border-color:transparentize($tradepage-color-light-stale-gray, 0.70);
    padding:6px 10px 8px;
    font-size: 20px;
    line-height: 1;
    height:auto;
    @include box-shadow(0,0,0,transparent);
    @include border-radius(0);

    &.whitebg{
      background-color:$tradepage-color-white;
      &:focus{
        background-color:$tradepage-color-white;
      }
    }

    &.graybg{
      background-color:$tradepage-color-light-bg-gray;
      border-color: $tradepage-color-light-bg-gray;
      &:focus{
        background-color:$tradepage-color-light-bg-gray;
      }
    }

    &:focus{
      box-shadow:none;
      border-color:transparentize($tradepage-color-light-stale-gray, 0.40);
      background-color:$tradepage-color-white;
    }
  }

  select.form-control{
    padding-bottom: 7px;
  }

  @include placeholder{
    color: $tradepage-color-dark-blue;
    opacity: 0.75;
  }

}
/* Form UI */