/* Form UI */
.formui{

  label{
    color: $tradepage-color-dark-blue;
    font-size: 17px;
    font-weight:normal;
    margin-bottom: 5px;
    display: block;
    span.labelright{
      color: $tradepage-color-light-stale-gray;
      display: inline-block;
      float: right;
    }
  }
  fieldset{
    font-size:17px;
    margin-bottom:20px;
    padding:10px 15px;
    border:1px solid;
    border-top:0;
    text-align:center;
  }
  .alert{
    border-radius:0;
    strong{
      display:block;
      margin-bottom:5px;
    }
  }
  .form-group{
    margin-bottom:20px;

    .btn{
      width:100%;
    }

    &-icons{
      &-buttons{
        color: $tradepage-color-blue;
        position: relative;
        display: flex;
        font-size: 17px;
        align-items: center;
        max-width: 100px;
        margin-top: 5px;

        i.iconcopy{
          width: 20px;
          height: 20px;
          margin-right: 5px;
          position:relative;
          display: block;
          border: 1px solid transparentize($tradepage-color-light-stale-gray, 0.7);
          @include border-radius(100%);

          &:before,
          &:after{
            content:"";
            position:absolute;
            background-color: $tradepage-color-blue;
            width: 10px;
            height: 2px;
            top: calc(50% - 1px);
            left: calc(50% - 5px);
            @include rotate(0);
          }
          &:after{
            @include rotate(90);
          }
        }
      }
    }

    .input-group{

      *{@include transition(border-color, 0.15s, ease-in-out);}

      .form-control{
        border-right: none;
        padding-right: 0;
      }

      &:focus-within{
        .input-group-append{
          border-color:transparentize($tradepage-color-light-stale-gray, 0.40);
          &.graybg{
            border-color: transparentize($tradepage-color-light-stale-gray, 0.40);
          }
        }
      }

      .input-group-append{
        border: 1px solid transparentize($tradepage-color-light-stale-gray, 0.70);
        border-left: none;
        &.graybg{
          border-color: $tradepage-color-light-bg-gray;
        }
      }
      .input-group-text{
        font-size: 20px;
        padding: 6px 10px 9px;
        line-height: 1;
        background-color:$tradepage-color-light-bg-gray;
        border: none;
        @include border-radius(0);

        &.whitebg{
          background-color:$tradepage-color-white;
        }
        &.graybg{
          background-color:$tradepage-color-light-bg-gray;
        }
        &.colorgreen{
          color:$tradepage-color-green;
        }
        &.colorgray{
          color:$tradepage-color-light-stale-gray;
        }
      }
    }

    .dropdown-menu{
      padding:0;
      margin:0;
      margin-top:-1px;
      @include border-radius(0);
      @include box-shadow(0,0,0,transparent);

      > li > a{padding:10px 15px;}
    }

    &:last-child{
      margin-bottom:0;
    }
  }

  .form-control{
    color:$tradepage-color-dark-blue;
    background-color:$tradepage-color-white;
    border-color:transparentize($tradepage-color-light-stale-gray, 0.70);
    padding:6px 10px 8px;
    font-size: 20px;
    line-height: 1;
    height:auto;
    @include box-shadow(0,0,0,transparent);
    @include border-radius(0);

    &.whitebg{
      background-color:$tradepage-color-white;
      &:focus{
        background-color:$tradepage-color-white;
      }
    }
    &.graybg{
      background-color:$tradepage-color-light-bg-gray;
      border-color: $tradepage-color-light-bg-gray;
      &:focus{
        background-color:$tradepage-color-light-bg-gray;
      }
    }
    &.colorgreen{
      color:$tradepage-color-green;
    }
    &.colorgray{
      color:$tradepage-color-light-stale-gray;
    }

    &:focus{
      box-shadow:none;
      border-color:transparentize($tradepage-color-light-stale-gray, 0.40);
      background-color:$tradepage-color-white;
    }
  }

  div.form-control{
    padding-top: 8px;
    padding-bottom: 10px;
  }

  select.form-control{
    padding-bottom: 7px;
  }

  @include placeholder{
    color: $tradepage-color-dark-blue;
    opacity: 0.75;
  }

}
/* Form UI */