$tradepageSvgIconImgPath : "../../img/tradepage/svg";

.icon{
  &-svg{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    overflow: hidden;
    display: block;

    &-icrypexsymbol{
      background-image: url(#{$tradepageSvgIconImgPath}/Icrypex_Symbol.svg);
    }

    &-loginlock{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Login.svg);
    }

    &-headersearch{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Search.svg);
    }
    &-headerchat{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Chat.svg);
    }
    &-headertheme{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Theme.svg);
    }
    &-headerbell{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Bell.svg);
    }
    &-headerbell{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Bell.svg);
    }
    &-arrowdown{
      background-image: url(#{$tradepageSvgIconImgPath}/Arrow_Down.svg);
    }
  }
}