$tradepageSvgIconImgPath : "../../img/tradepage/svg";

.icon{
  &-svg{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    overflow: hidden;
    display: block;

    &-icrypexsymbol{
      background-image: url(#{$tradepageSvgIconImgPath}/Icrypex_Symbol.svg);
    }
    &-loginlock{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Login.svg);
    }
    &-loginf2a{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_2FA.svg);
    }
    &-headersearch{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Search.svg);
    }
    &-headerchat{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Chat.svg);
    }
    &-headertheme{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Theme.svg);
    }
    &-headerbell{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Bell.svg);
    }
    &-headerbell{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Bell.svg);
    }
    &-paginationarrow{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Arrow.svg);
    }
    &-arrowdown{
      background-image: url(#{$tradepageSvgIconImgPath}/Arrow_Down.svg);
    }
    &-arrowup{
      background-image: url(#{$tradepageSvgIconImgPath}/Arrow_Up.svg);
    }
    &-orderwallet{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Wallet.svg);
    }
    &-orderinformation{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Information.svg);
    }
    &-headtitleiconwallet{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Wallet_02.svg);
    }
    &-titleiconbtc{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Title_Btc.svg);
    }
    &-titleiconeth{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Title_Eth.svg);
    }
    &-titleiconxrp{
      background-image: url(#{$tradepageSvgIconImgPath}/Icon_Title_Xrp.svg);
    }
    &-wizardiconbank{
      background-image: url(#{$tradepageSvgIconImgPath}/Wizard_Icon_Bank.svg);
    }
    &-wizardiconpapara{
      background-image: url(#{$tradepageSvgIconImgPath}/Wizard_Papara_Logo.svg);
    }
    &-wizardicondigitalwallet{
      background-image: url(#{$tradepageSvgIconImgPath}/Wizard_Icon_Digital_Wallet.svg);
    }
    &-wizardiconinformation{
      background-image: url(#{$tradepageSvgIconImgPath}/Wizard_Information_Icon.svg);
    }
    &-wizardiconallbank{
      background-image: url(#{$tradepageSvgIconImgPath}/Wizard_Icon_All_Bank.svg);
    }


  }
}