$tradepageSvgIconImgPath : "../../img/tradepage/svg";

.icon{
  &-svg{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    overflow: hidden;
    display: block;

    &-icrypexsymbol{
      background-image: url(#{$tradepageSvgIconImgPath}/Icrypex_Symbol.svg);
    }
  }
}