
/* Title Border Bottom */
.columntitle{
  width: 100%;
  font-weight: normal;
  letter-spacing: -0.2px;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;

  &.bottomborder{
    position: relative;

    &:before{
      content: "";
      background-color: $tradepage-color-light-stale-gray;
      width: 100%;
      max-width: 300px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: calc(50% - 150px);
      opacity: 0.3;
    }
    &:after{
      content: "";
      background-color: $tradepage-color-blue;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &.titleleft{
      text-align: left;
      &:before{
        left: 0;
      }
      &:after{
        left: 0;
      }

    }
    &.titlecenter{
      text-align: center;
    }
    &.fullborder{
      &:before{
        width: 100% !important;
        left: 0 !important;
      }
    }
  }

  &.bottomorange{
    &:after{
      background-color: $tradepage-color-orange;
    }
  }

  &.titlebold{
    font-weight: 500;
  }

  &-xs{
    font-size: 17px;
    &.bottomborder{
      &:before{
        max-width: 150px;
      }
      &:after{
        width: 40px;
      }
    }
    &.titlecenter{
      &:after{
        left: calc(50% - 20px);
      }
    }
  }

  &-sm{
    font-size: 20px;
    &.bottomborder{
      &:before{
        max-width: 250px;
      }
      &:after{
        width: 40px;
      }
    }
    &.titlecenter{
      &:after{
        left: calc(50% - 20px);
      }
    }
  }

  &-md{
    font-size: 23px;
    &.bottomborder{
      &:before{
        max-width: 300px;
      }
      &:after{
        width: 40px;
      }
    }
    &.titlecenter{
      &:before{
        left: calc(50% - 150px);
      }
      &:after{
        left: calc(50% - 20px);
      }
    }
  }

  &-lg{
    font-size: 25px;
    &.bottomborder{
      &:before{
        max-width: 300px;
        left: 0;
      }
      &:after{
        width: 60px;
      }
    }
    &.titlecenter{
      &:before{
        left: calc(50% - 150px);
      }
      &:after{
        left: calc(50% - 30px);
      }
    }
  }

  &-xl{
    font-size: 35px;
    line-height: 1.17;
    &.bottomborder{
      &:before{
        max-width: 300px;
        left: 0;
      }
      &:after{
        width: 60px;
      }
    }
    &.titlecenter{
      &:before{
        left: calc(50% - 150px);
      }
      &:after{
        left: calc(50% - 30px);
      }
    }

  }

}
/* Title Border Bottom */

/* Title Box */
.boxtitle{
  color: $tradepage-color-dark-blue;
  font-weight: 500;
  margin: 0;
  padding: 0;

  &-xs{font-size: 17px;}
  &-sm{font-size: 20px;}
  &-lg{}
  &-xl{}
}
/* Title Box */

/* Title Column */
.boxcolumn{

  &-headtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    i[class*="titleicon"]{
      width: 30px;
      height: 30px;
      margin-right: 4px;
      display: inline-block;
    }

    &-title,
    &-wallet{
      color: $tradepage-color-dark-blue;
      font-size: 20px;
      margin: 0;
      padding: 0;
      line-height: 1;
      display: flex;
      align-items: center;
    }
    &-title{font-weight: 500;}
    &-wallet{font-weight: normal;}

  }

  &-boxtitle{
    display: flex;
    justify-content: space-between;
    color: $tradepage-color-dark-blue;
    border-bottom: 1px solid transparentize($tradepage-color-light-stale-gray, 0.7);
    padding-bottom: 7px;
    margin-bottom: 5px;

    i[class*="wallet"]{
      width: 19px;
      height: 14px;
      margin-right: 2px;
      display: inline-block;
    }

    &-title,
    &-wallet,
    &-date{

      font-size: 20px;
      margin: 0;
      padding: 0;
      line-height: 1;
    }
    &-title{font-weight: 500;}
    &-wallet{font-weight: normal;}
    &-date{font-size:17px; font-weight: normal;}
  }

}
/* Title Column */