$mainpageSvgIconImgPath : "../../img/mainpage/svg";

.container-1890{
  max-width: 1890px;
}

.content{
  &-list{
    &-item{
      position: relative;
      padding-left: 10px;
      &:before{
        content: "";
        position: absolute;
        background-image: url(#{$mainpageSvgIconImgPath}/Arrow_Li.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 6px;
        height: 12px;
        top: calc(50% - 6px);
        left: 0;
      }
    }
  }
}