/* Form UI */
.formui{

  form{
    .row > *[class*="col"]{
      padding-left: 7px;
      padding-right: 7px;

      &:first-child{
        padding-left: 15px;
      }
      &:last-child{
        padding-right: 15px;
      }
      .btn{
        padding-top: 4px;
        padding-bottom: 5px;
      }
    }
  }

  label{
    color: $mainpage-color-title-blue;
    font-size: 17px;
    font-weight:normal;
    margin-bottom: 5px;
    display: block;
    span.labelright{
      color: $mainpage-color-light-stale-gray;
      display: inline-block;
      float: right;
    }
  }
  fieldset{
    font-size:17px;
    margin-bottom:20px;
    padding:10px 15px;
    border:1px solid;
    border-top:0;
    text-align:center;
  }
  .alert{
    border-radius:0;
    strong{
      display:block;
      margin-bottom:5px;
    }
  }
  .form-group{
    margin-bottom:20px;

    &.borderbottom{
      border-bottom: 1px solid transparentize($mainpage-color-light-stale-gray, 0.7);
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 15px;

      &:last-child{
        border-bottom: none;
        margin-bottom: 0;
      }

      > *[class*="col"]{
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    .btn{
      width:100%;
    }

    .sitebggraylight{
      border-color: $mainpage-color-light-bg-gray !important;
    }

    > .d-flex{
      > *{
        margin-left: 7px;
        margin-right: 7px;
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }

    .infotext{
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 7px;
      display: flex;
      align-items: center;
      align-self: flex-start;

      i[class*="icon-svg"]{
        width: 18px;
        height: 18px;
        margin-left: 0;
      }
    }

    .width100100{
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }

    &-info{
      color: $mainpage-color-light-stale-gray;
      font-size: 15px;
      margin-top: 5px;
    }

    &-icons{
      &-buttons{
        color: $mainpage-color-blue;
        position: relative;
        display: inline-flex;
        font-size: 17px;
        align-items: center;
        margin-top: 5px;

        i.iconcopy{
          width: 20px;
          height: 20px;
          margin-right: 5px;
          position:relative;
          display: block;
          border: 1px solid transparentize($mainpage-color-light-stale-gray, 0.7);
          @include border-radius(100%);

          &:before,
          &:after{
            content:"";
            position:absolute;
            background-color: $mainpage-color-blue;
            width: 10px;
            height: 2px;
            top: calc(50% - 1px);
            left: calc(50% - 5px);
            @include rotate(0);
          }
          &:after{
            @include rotate(90);
          }
        }

        i[class*="icon-svg"]{
          display: block;
          margin-right: 5px;
          width: 20px;
          height: 20px;
        }

      }
    }

    .input-group{

      *{@include transition(border-color, 0.15s, ease-in-out);}

      .form-control{
        border-right: none;
        padding-right: 0;
      }

      &:focus-within{
        .input-group-append{
          border-color:transparentize($mainpage-color-light-stale-gray, 0.40);
        }
      }

      .input-group-append{
        border: 1px solid transparentize($mainpage-color-light-stale-gray, 0.70);
        border-left: none;
      }
      .input-group-text{
        color: $mainpage-color-title-blue;
        background-color:$mainpage-color-light-bg-gray;
        font-size: 20px;
        padding: 6px 10px 9px;
        line-height: 1;
        border: none;
        @include border-radius(0);
      }
    }

    .dropdown-menu{
      padding:0;
      margin:0;
      margin-top:-1px;
      @include border-radius(0);
      @include box-shadow(0,0,0,transparent);

      > li > a{padding:10px 15px;}
    }

    &:last-child{
      margin-bottom:0;
    }
  }

  .form-control{
    color: $mainpage-color-title-blue;
    background-color:$mainpage-color-white;
    border-color:transparentize($mainpage-color-light-stale-gray, 0.70);
    padding:6px 10px 8px;
    font-size: 20px;
    line-height: 1;
    height:auto;
    min-height: 37px;
    @include box-shadow(0,0,0,transparent);
    @include border-radius(0);
    &:focus{
      box-shadow:none;
      border-color:transparentize($mainpage-color-light-stale-gray, 0.40);
      background-color:$mainpage-color-white;
    }
  }

  div.form-control{
    padding-top: 8px;
    padding-bottom: 10px;
  }

  select.form-control{
    padding-bottom: 7px;
  }
  textarea.form-control{
    min-height: 100px;
  }

  div.rightarrows{
    margin: 0 !important;

    i.rightarrows{
      position: relative;
      width: 10px;

      &:before{
        content:"";
        position:absolute;
        width: 9px;
        height: 9px;
        top: -4px;
        left: 0;
        border-top:2px solid $mainpage-color-blue;
        border-right:2px solid $mainpage-color-blue;
        @include rotate(45);
      }
    }
  }
}
/* Form UI */