$mainpageSvgIconImgPath : "../../img/mainpage/svg";

.icon{
  &-svg{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    overflow: hidden;
    display: block;

    &-icrypexsymbol{
      background-image: url(#{$mainpageSvgIconImgPath}/Icrypex_Symbol.svg);
    }
    &-search{
      background-image: url(#{$mainpageSvgIconImgPath}/Search_Icon.svg);
    }
    &-conn{
      background-image: url(#{$mainpageSvgIconImgPath}/Icon_Conn.svg);
    }
    &-why-2fa{
      background-image: url(#{$mainpageSvgIconImgPath}/2FA_Icon.svg);
    }
    &-why-speed{
      background-image: url(#{$mainpageSvgIconImgPath}/Speed_Icon.svg);
    }
    &-why-api{
      background-image: url(#{$mainpageSvgIconImgPath}/API_Icon.svg);
    }
    &-why-segwit{
      background-image: url(#{$mainpageSvgIconImgPath}/Segwit_Icon.svg);
    }
    &-why-freeze{
      background-image: url(#{$mainpageSvgIconImgPath}/Freeze_Icon.svg);
    }
    &-why-deep{
      background-image: url(#{$mainpageSvgIconImgPath}/Deep_Icon.svg);
    }

    &-productslistbtc{
      background-image: url(#{$mainpageSvgIconImgPath}/Icon_Btc.svg);
    }
    &-productslisteth{
      background-image: url(#{$mainpageSvgIconImgPath}/Icon_Eth.svg);
    }
    &-productslistxrp{
      background-image: url(#{$mainpageSvgIconImgPath}/Icon_Xrp.svg);
    }
    &-productslistltc{
      background-image: url(#{$mainpageSvgIconImgPath}/Icon_Ltc.svg);
    }
    &-productslistmpay{
      background-image: url(#{$mainpageSvgIconImgPath}/Icon_Mpay.svg);
    }
    &-productslistxlm{
      background-image: url(#{$mainpageSvgIconImgPath}/Icon_Xlm.svg);
    }
    &-productsfullwidth{
      background-image: url(#{$mainpageSvgIconImgPath}/Full_Width_Icon.svg);
    }

    &-productscoininfolinkblog{
      background-image: url(#{$mainpageSvgIconImgPath}/Coin_Info_Link_Blog.svg);
    }
    &-productscoininfolinkfacebook{
      background-image: url(#{$mainpageSvgIconImgPath}/Coin_Info_Link_Facebook.svg);
    }
    &-productscoininfolinklinkedin{
      background-image: url(#{$mainpageSvgIconImgPath}/Coin_Info_Link_Linkedin.svg);
    }
    &-productscoininfolinkpresentation{
      background-image: url(#{$mainpageSvgIconImgPath}/Coin_Info_Link_Presentation.svg);
    }
    &-productscoininfolinktelegram{
      background-image: url(#{$mainpageSvgIconImgPath}/Coin_Info_Link_Telegram.svg);
    }
    &-productscoininfolinktwitter{
      background-image: url(#{$mainpageSvgIconImgPath}/Coin_Info_Link_Twitter.svg);
    }
    &-productscoininfolinkwebsite{
      background-image: url(#{$mainpageSvgIconImgPath}/Coin_Info_Link_Website.svg);
    }
    &-productscoininfolinkwhitepaper{
      background-image: url(#{$mainpageSvgIconImgPath}/Coin_Info_Link_Whitepaper.svg);
    }

  }
}