.site{

  &tabs{

    &light{
      border-bottom: 5px solid $mainpage-color-blue;
      position: relative;
      justify-content: center!important;

      &:after{
        content: "";
        position: absolute;
        width: 100%;
      }
      &:after{
        background-color: $mainpage-color-white;
        height: 2px;
        bottom: 0;
      }

      .nav{
        &-item{
          position: relative;
          margin-bottom: 0;
          font-size: 18px;
          overflow: hidden;
          color: transparentize($mainpage-color-white, 0.5);
          background-color: $mainpage-color-light-stale-gray;
        }
        &-link{
          border-color: $mainpage-color-white;
          border-style: solid;
          border-right-width: 2px;
          border-left-width: 0;
          border-top: none;
          border-bottom-width: 0;
          padding: 5px 20px 6px;
          min-width: 120px;
          text-align: center;
          cursor: pointer;
          @include border-radius(0);
          @include transition(color, 0.2s, linear);

          span{
            position: relative;
            z-index: 1;
            display: block;
            margin-bottom: 1px;
          }

          &:before{
            content: "";
            position: absolute;
            width: calc(100% - 2px);
            height: 0;
            left: 0;
            bottom: 0;
            background-color: transparent;
            @include transition(height, 0.2s, linear);
          }

          &.active,
          &.show,
          &:hover{
            color: $mainpage-color-white !important;
            background-color: transparent;
            border-color: $mainpage-color-white;
            &:before{
              height: 100%;
              background-color: $mainpage-color-blue;
              z-index: 1;
            }
          }
        }
      }
    }

    &-content{
      color: $mainpage-color-title-blue;
      padding: 20px 0;
      text-align: center;
      font-size: 17px;
      line-height: 1.2;
    }
  }

  &alttabs{
    &dark{
      background-color: $mainpage-color-btn-blue;
      position: relative;
      justify-content: center!important;

      .nav{
        &-item{
          position: relative;

          &:before{
            content: "";
            position: absolute;
            width: 1px;
            height: 14px;
            background-color: transparentize($mainpage-color-white, 0.7);
            top: calc(50% - 7px);
            left: 0;
          }

          &:first-child{
            &:before{
              display: none;
            }
          }

        }
        &-link{
          color: transparentize($mainpage-color-white, 0.5);
          font-size: 17px;
          padding: 7px 20px 8px;
          position: relative;

          &.active,
          &.show,
          &:hover{
            color: $mainpage-color-white;
          }
          &.active,
          &.show{
            &:before{
              content: "";
              position: absolute;
              width: 12px;
              height: 12px;
              background-color: $mainpage-color-btn-blue;
              left: calc(50% - 6px);
              bottom: -6px;
              z-index: 1;
              @include rotate(45);
            }
          }
        }
      }
    }
  }

  &altalttabs{
    &light{
      background-color: $mainpage-color-white;
      border-bottom: 1px solid transparentize($mainpage-color-light-stale-gray, 0.7);
      padding-top: 5px;
      position: relative;
      justify-content: center!important;

      .nav{
        &-item{
          padding: 0 17px;
        }
        &-link{
          color: transparentize($mainpage-color-title-blue, 0.5);
          font-size: 17px;
          padding: 7px 3px 8px;
          position: relative;

          &.active,
          &.show,
          &:hover{
            color: $mainpage-color-title-blue;
          }
          &.active,
          &.show{
            &:before{
              content: "";
              position: absolute;
              width: 100%;
              height: 4px;
              background-color: $mainpage-color-blue;
              left: 0;
              bottom: 0;
            }
          }
        }
      }
    }
  }

}