.columntitle{
  width: 100%;
  font-weight: 300;
  letter-spacing: -0.2px;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;

  h1, h2, h3, h4, h5, h6{
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

  &.bottomborder{
    position: relative;

    &:before{
      content: "";
      background-color: $mainpage-color-light-stale-gray;
      width: 300px;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: calc(50% - 150px);
      opacity: 0.3;
    }
    &:after{
      content: "";
      background-color: $mainpage-color-blue;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &.titleleft{
      text-align: left;
      &:before{
        left: 0;
      }
      &:after{
        left: 0;
      }

    }
    &.titlecenter{
      text-align: center;
    }
  }

  &-xs{
    font-size: 17px;
    &.bottomborder{
      &:before{
        width: 150px;
        height: 1px;
      }
      &:after{
        width: 40px;
        height: 2px;
      }
    }
    &.titlecenter{
      &:after{
        left: calc(50% - 20px);
      }
    }
  }

  &-sm{
    font-size: 20px;
    font-weight: 500;
    &.bottomborder{
      &:before{
        max-width: 250px;
      }
      &:after{
        width: 40px;
        height: 2px;
      }
    }
    &.titlecenter{
      &:after{
        left: calc(50% - 20px);
      }
    }
  }

  &-md{
    font-size: 23px;
    &.bottomborder{
      &:before{
        width: 300px;
      }
      &:after{
        width: 40px;
      }
    }
    &.titlecenter{
      &:before{
        left: calc(50% - 150px);
      }
      &:after{
        left: calc(50% - 20px);
      }
    }
  }

  &-xl{
    font-size: 35px;
    line-height: 1.17;
    &.bottomborder{
      &:before{
        width: 300px;
        left: 0;
      }
      &:after{
        width: 60px;
      }
    }
    &.titlecenter{
      &:before{
        left: calc(50% - 150px);
      }
      &:after{
        left: calc(50% - 30px);
      }
    }

  }

}