/* Custom */

p{
  hyphens: none;
}

.progress{
  background-color: #ccd5dd;
}
.progress-bar{
  background-color: $global-clr-soft-blue;
  border-radius: .25rem;
}

.urllink{
  color: $global-clr-soft-blue !important;
  text-decoration: underline !important;
  @include transition(all, 0.3s, ease-in-out);

  &:hover{
    color: transparentize($global-clr-soft-blue, 0.3) !important;
    text-decoration: underline !important;
  }
}
/* Custom */