$globalSvgIconImgPath : "../../img/global/svg";

/* Custom */
*{outline: 0 !important;}

body{
  font-size: $global-font-size;
  background-color: $global-clr-white;
}
body, input, textarea, select, button {
  font-family: $global-font-family-barlow !important;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
  margin-bottom: 15px;
}

strong, b{
  font-weight: 500;
}

img{
  max-width: 100%;
  height: auto;
}

img, svg {
  vertical-align: middle;
}

p{
  hyphens: none !important;
}

a:hover{
  text-decoration: none !important;
}

figure{
  margin: 0 !important;
}

input, select, textarea{
  resize:none !important;
}

.form-control{
  font-size: $global-font-size;
}

[class^="fa-"], [class*=" fa-"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.progress{
  background-color: #ccd5dd;
}
.progress-bar{
  background-color: $global-clr-soft-blue;
  border-radius: .25rem;
}

.urllink{
  color: $global-clr-soft-blue !important;
  text-decoration: underline !important;
  @include transition(all, 0.3s, ease-in-out);

  &:hover{
    color: transparentize($global-clr-soft-blue, 0.3) !important;
    text-decoration: underline !important;
  }
}

.fullpages{
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @include ReSassWidthResponsive(576){
    display: block;
  }

  main,
  section{
    flex: 1;

    @include ReSassWidthResponsive(992){
      flex: inherit;
      display: block;
    }
  }
}

.container-1890{
  //max-width: 1890px;
}

.maincont{
  &-left{
    padding-left: 0;
    padding-right: 0;
  }

  &-right{
    padding-right: 0;
  }
}

img.imgsize{
  &-1080p{
    display: none;
    @include ReSassWidthResponsive(1400){
      display: block;
    }
  }
  &-2K{
    display: block;
    @include ReSassWidthResponsive(1400){
      display: none;
    }
  }
}

.ps:hover>.ps__scrollbar-x-rail:hover{
  background-color: transparent !important;
}
.ps>.ps__scrollbar-x-rail>.ps__scrollbar-x,
.ps:hover>.ps__scrollbar-x-rail:hover>.ps__scrollbar-x{
  background-color: transparentize($global-clr-soft-gray, 0.7) !important;
}
.ps>.ps__scrollbar-x-rail:hover>.ps__scrollbar-x,
.ps>.ps__scrollbar-x-rail:active>.ps__scrollbar-x{
  height: 6px !important;
}

.content{
  &-list{
    &-item{
      position: relative;
      padding-left: 10px;
      &::before{
        content: "";
        position: absolute;
        background-image: url(#{$globalSvgIconImgPath}/Arrow_Li.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 6px;
        height: 12px;
        top: calc(50% - 6px);
        left: 0;
      }
    }
  }
}
/* Custom */