/* Custom */
*{outline: 0 !important;}

body{
  font-size: $global-font-size;
  background-color: $global-clr-white;
}
body, input, textarea, select, button {
  font-family: $global-font-family-barlow !important;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
  margin-bottom: 15px;
}

strong, b{
  font-weight: 500;
}

img{
  max-width: 100%;
  height: auto;
}

img, svg {
  vertical-align: middle;
}

p{
  hyphens: none !important;
}

a:hover{
  text-decoration: none !important;
}

figure{
  margin: 0 !important;
}

input, select, textarea{
  resize:none !important;
}

.fullpages{
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @include ReSassWidthResponsive(576){
    display: block;
  }
  @include ReSassHeightResponsive(900){
    display: block;
  }

  main,
  section{
    flex: 1;

    @include ReSassWidthResponsive(992){
      flex: inherit;
      display: block;
    }
    @include ReSassHeightResponsive(900){
      display: block;
    }
  }
}
/* Custom */

/* Cross Browser Start */
html.IExplorer{

  .fullpages{
    display: block !important;
    overflow-x: hidden !important;
  }
}
/* Cross Browser End */