.orc{
  &-header{
    background-color: transparent;
  }
  &-menu{
    color: $global-clr-white;
    font-size: 17px;

    &-list{
      display: block;
      text-align: center;
      min-height: 36px;
      > li{
        display: inline-flex;

        &::before{
          content: "";
          position: absolute;
          width: 1px;
          height: 10px;
          top: calc(50% - 5px);
          right: 0;
          background: transparentize($global-clr-soft-gray, 0.7);
          @include border-radius(50%)
        }
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
          &::before{display: none;}
        }
      }
      > li > a{
        color: $global-clr-white;
        padding: 5px 20px
      }
      li:hover,
      li:hover a,
      li a.active,
      li a:hover{
        background-color: rgba(255,255,255,0.01);
      }
    }
  }
}