$globalSvgIconImgPath : "../../img/global/svg";

.order{
  $orderclassname: &;

  /* Orders */
  &-orders{

    &-list{
      margin-top: 15px;

      &:first-child{
        margin-top: 0;
      }
    }

    &-box{
      color: $global-clr-dark-blue;
      border: 1px solid transparentize($global-clr-soft-gray, 0.7);
      border-top: none;
      position: relative;

      &::before{
        content: "";
        background-color: $global-clr-soft-blue;
        height: 4px;
        width: calc(100% + 2px);
        left: -1px;
        position: absolute;

        @include ReSassWidthResponsive(576){
          background-color: $global-clr-green;
        }
      }
    }

    &-alert{
      margin: 0;
      padding: 18px 16px 0;

      @include ReSassWidthResponsive(480){
        padding: 13px 10px 0;
      }

      .alert{
        @include ReSassWidthResponsive(480){
          margin-bottom: 10px;
        }
      }
    }

    &-column{
      margin: 0;
      padding: 16px;
      padding-top: 0;
      position: relative;

      @include ReSassWidthResponsive(576){
        flex-direction: column;
        display: block !important;
      }
      @include ReSassWidthResponsive(480){
        padding: 10px;
        padding-top: 2px;
      }

      > div[class*="col-"]{
        padding: 0;

        @include ReSassWidthResponsive(576){
          display: block;
          width: 100%;
          flex: 0 0 100%;
          max-width: 100%;
          padding-left: 0!important;
          padding-right: 0!important;
        }
      }

      &::before{
        content: "";
        position: absolute;
        width: 1px;
        height: calc(100% - 32px);
        background-color: transparentize($global-clr-soft-gray, 0.7);
        top: 16px;
        left: 50%;

        @include ReSassWidthResponsive(576){
          display: none;
        }
      }
    }

    &-buy{
      padding-right: 16px !important;

      @include ReSassWidthResponsive(576){
        &::before{
          content: "";
          background-color: transparentize($global-clr-soft-gray, 0.7);
          height: 1px;
          width: calc(100% + 32px);
          left: -16px;
          bottom: -15px;
          position: absolute;
        }
      }
      @include ReSassWidthResponsive(480){
        &::before{
          width: calc(100% + 22px);
          left: -11px;
        }
      }
    }
    &-sell{
      padding-left: 16px !important;

      @include ReSassWidthResponsive(576){
        margin-top: 20px;
        padding-top: 25px !important;

        &::before{
          content: "";
          background-color: $global-clr-white;
          height: 20px;
          width: calc(100% + 34px);
          left: -17px;
          top: -5px;
          position: absolute;
        }
        &::after{
          content: "";
          background-color: $global-clr-red;
          height: 4px;
          width: calc(100% + 34px);
          left: -17px;
          top: 10px;
          position: absolute;
        }
      }
      @include ReSassWidthResponsive(480){
        &::before{
          width: calc(100% + 22px);
          left: -11px;
        }
        &::after{
          width: calc(100% + 22px);
          left: -11px;
        }
      }
    }

    &-form{
      flex-direction: column;
      padding: 2px 16px 0;

      .form-group{
        margin-bottom: 15px !important;
      }

      .button{
        margin-bottom: 0 !important;

        .btn{
          font-size: 20px;
          padding: 3px 10px 6px;

          @include ReSassWidthResponsive(400){
            font-size: 17px;
            padding: 4px 5px 5px;
            height: auto;
          }
        }
      }
    }

    &-info{
      font-size: 17px;
      text-align: center;
      padding-bottom: 15px;
      line-height: 1;
      display: flex;
      justify-content: center;

      @include ReSassWidthResponsive(576){
        padding: 10px 0;
        border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);
        background-color: $global-clr-light-gray;
      }

      strong{
        display: inline-block;
        margin-right: 5px;
      }

      i[class*="orderinformation"]{
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-left: 5px;
        cursor: pointer;
      }
    }

    &-tooltiparea{
      .popover{
        color: $global-clr-white;
        background-color: $global-clr-soft-gray;
        font-family: $global-font-family-barlow;
        max-width: 380px;
        width: 380px;
        @include border-radius(3px);

        @include ReSassWidthResponsive(480){
          width: calc(100% - 30px) !important;
          left: -10px !important;
        }

        *{color: $global-clr-white;}

        &.show{
          opacity: 1;
        }

        .tooltip{
          &-html{
            div[class*="boxtitle"]{
              border-color: transparentize($global-clr-white, 0.7);
              align-self: end;
              margin-bottom: 10px;

              > span[class*="-title"],
              > span[class*="-info"]{
                font-size: 17px;
                font-weight: normal;
                display: block;
                line-height: 1;
              }
              > *[class*="-info"]{
                opacity: 0.7;
              }
            }

            &-cont{
              .commision-table{

                .widthpercent30{
                  width: 34%;

                  @include ReSassWidthResponsive(768){
                    width: auto;
                  }

                  &-responsive{
                    @include ReSassWidthResponsive(768){
                      width: 35%;
                    }
                  }
                }

                .widthpercentspace{
                  @include ReSassWidthResponsive(768){
                    width: 1px;
                  }
                }

                .sitebggraylight{
                  background-color: darken($global-clr-soft-gray, 5%) !important;
                }

                &.textallleft{
                  th, td{
                    text-align: left !important;
                  }
                }

                &.bordernobottom{
                  tbody{
                    tr:last-child{
                      td{
                        border-bottom-width: 0 !important;
                      }
                    }
                  }
                }

                td, th{
                  text-align: center;
                  padding-left: 9px;
                  padding-right: 9px;
                  border-color: lighten($global-clr-soft-gray, 5%) !important;;

                  &:first-child{
                    text-align: left;
                    padding-left: 0;
                  }
                }

                thead{
                  th{
                    font-size: 15px;
                  }
                }

                tbody{
                  td{
                    font-size: 14px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                  }
                }
              }
            }
          }
        }
      }

      .bs-popover-top{
        .arrow{
          &::before,
          &::after{
            border-top-color: $global-clr-soft-gray;
          }
        }
      }

      .bs-popover-right{
        .arrow{
          &::before,
          &::after{
            border-right-color: $global-clr-soft-gray;
          }
        }
      }

      .bs-popover-bottom {
        .arrow{
          &::before,
          &::after{
            border-bottom-color: $global-clr-soft-gray;
          }
        }
      }

      .bs-popover-left {
        .arrow{
          &::before,
          &::after{
            border-left-color: $global-clr-soft-gray;
          }
        }
      }
    }
  }
  /* Orders */

  /* Book */
  &-book{
    &-contentbox{
      color: $global-clr-dark-blue;
      padding: 16px;
      border: 1px solid transparentize($global-clr-soft-gray, 0.7);

      @include ReSassWidthResponsive(480){
        padding: 10px;
      }

      div[class*="boxtitle"]{
        flex-direction: column;
        margin-bottom: 0;
        padding-bottom: 10px;
        border-bottom: none;

        @include ReSassWidthResponsive(576){
          padding-bottom: 5px;
        }

        span[class*="boxtitle-wallet"]{
          @include ReSassWidthResponsive(992){
            font-size: 18px;
            margin-top: 2px;
          }
          @include ReSassWidthResponsive(480){
            font-size: 17px !important;
          }
        }

        h3[class*="boxtitle-"],
        span[class*="boxtitle-"]{
          @include ReSassWidthResponsive(768){
            font-size: 17px;
          }
          @include ReSassWidthResponsive(576){
            font-size: 20px;
          }
        }
      }

      &-rowhead{}

      &-rowchart{}

      &-scrollbar{
        width: 100%;

        @include ReSassWidthResponsive(768){
          width: 540px;
          height: 100%;
          overflow-y: auto;
          overflow-x: hidden;
          margin: 0 14px;
          padding-bottom: 10px;
          position: relative;
        }
        @include ReSassWidthResponsive(576){
          width: 100%;
        }
      }

      &-chartbox{
        display: flex;
        width: 100%;
        position: relative;

        @include ReSassWidthResponsive(768){
          width: 650px;
        }

        &::before{
          content: "";
          position: absolute;
          width: 1px;
          height: calc(100% - 0);
          background-color: transparentize($global-clr-soft-gray, 0.7);
          top: 0;
          left: 50%;
        }
      }
    }

    &-buy{

      &-headtitle{
        padding-right: 0 !important;

        @include ReSassWidthResponsive(576){
          order: 1;
          flex: 0 0 50%;
          max-width: 50%;
        }
      }

      &-chart{

        @include ReSassWidthResponsive(768){
          padding-left: 0 !important;
        }

        .table{
          .depthtable{
            &-price{
              text-align: right !important;
            }
            &-amount{}
            &-type{}
            &-total{
              width: 35%;
            }
          }
        }
      }
    }
    &-sell{

      &-headtitle{
        padding-left: 0 !important;

        @include ReSassWidthResponsive(576){
          order: 2;
          flex: 0 0 50%;
          max-width: 50%;
        }
      }

      &-chart{

        @include ReSassWidthResponsive(768){
          padding-right: 0 !important;
        }

        .table{
          .depthtable{
            &-price{
              width: 35%;
            }
            &-amount{}
            &-type{}
            &-total{
              text-align: right !important;
            }
          }
        }
      }
    }

    &-spread{
      width: 300px;
      padding-bottom: 10px;
      line-height: 1;

      @include ReSassWidthResponsive(768){
        width: 190px;
        padding: 0 10px 6px!important;
      }
      @include ReSassWidthResponsive(576){
        order: 3;
        width: 100%;
        padding: 0 14px 6px!important;
      }

      &-wrapper{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;

        @include ReSassWidthResponsive(576){
          background-color: $global-clr-light-gray;
          border: 1px solid transparentize($global-clr-soft-gray, 0.7);
        }

        > div[class*="col"]{
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }

      &-low,
      &-high{
        font-size: 17px;
        display: flex;
        flex-direction: column;

        @include ReSassWidthResponsive(576){
          display: block;
        }
      }

      &-low{
        text-align: right;

        &-text{
          order: 2;
        }
        &-value{
          order: 1;
        }
      }
      &-high{
        text-align: left;

        &-text{}
        &-value{}
      }
      &-percent{
        background-color: $global-clr-light-gray;
        display: flex;
        align-items: center;
        justify-content: center;
        //width: 60px;
        width: auto;
        max-width: 100px;
        height: 40px;
        font-size: 27px;
        text-align: center;
        margin: 0 10px;

        @include ReSassWidthResponsive(768){
          //width: 42px;
          max-width: 70px;
          height: 38px;
          font-size: 23px;
          margin: 0 5px;
        }
        @include ReSassWidthResponsive(576){
          background-color: #d1d9e0;
          max-width: 120px;
        }

        &-value{
          position: relative;
          top: -2px;
          padding: 0 10px;
          display: block;

          @include ReSassWidthResponsive(768){
            top: -1px;
            padding: 0 5px;
          }
        }
      }
    }

    &-box{
      min-height: 460px;
      position: relative;

      &-container,
      &-rectangle{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        //overflow: hidden;

        &.rectangle{
          opacity: 0.8;
          img{height: 401px;}
        }
      }

      &-chart{
        padding-top: 25px;
        &-green{
          text-align: left;
        }
        &-red{
          text-align: right;
        }
      }

      &-table{

        thead{
          tr{
            th{
              border-top-width: 1px;
              border-top-style: solid;
            }
          }
        }

        tbody{

          tr{
            position: relative;
            transition: none !important;

            &:first-child{
              padding-top: 17px;
            }

            &.orderactive.buy{
              td{
                &[class*="total"],
                &[class*="price"]{
                  &::before,
                  &::after{
                    background-color: $global-clr-green;
                  }
                }
              }
            }
            &.orderactive.sell{
              td{
                &[class*="total"],
                &[class*="price"]{
                  &::before,
                  &::after{
                    background-color: $global-clr-red;
                  }
                }
              }
            }

            td{
              font-size: 17px;
              border: none;
              line-height: 0.7;
              white-space: nowrap;
              position: relative;

              &[class*="total"]{
                &::before,
                &::after{
                  content: "";
                  //background-color: $global-clr-red;
                  width: 6px;
                  height: 6px;
                  display: inline-block;
                  position: absolute;
                  top: calc(50% - 3px);
                  left: -10px;
                  right: -10px;
                  @include border-radius(50%);
                  @include transform-multiple(scale(0) translateY(-50%));
                  @include transition-multiple(transform 0.15s ease-in-out);

                  @include ReSassWidthResponsive(768){
                    display: none;
                  }
                }
              }

              &[class*="price"]{
                &::before,
                &::after{
                  @include ReSassWidthResponsive(768){
                    content: "";
                    //background-color: $global-clr-red;
                    width: 6px;
                    height: 6px;
                    display: inline-block;
                    position: absolute;
                    top: calc(50% - 3px);
                    left: -10px;
                    right: -10px;
                    @include border-radius(50%);
                    @include transform-multiple(scale(0) translateY(-50%));
                    @include transition-multiple(transform 0.15s ease-in-out);
                  }
                }
              }
            }
          }

          &#buytable{
            tr{
              &.orderactive{
                td{
                  &[class*="total"]{
                    &::after{
                      left: -10px;
                      right: auto;
                      @include transform-multiple(scale(1));
                    }
                  }
                  &[class*="price"]{
                    &::after{
                      @include ReSassWidthResponsive(768){
                        right: -10px;
                        left: auto;
                        @include transform-multiple(scale(1));
                      }
                    }
                  }
                }
              }
            }
          }

          &#selltable{
            tr{
              &.orderactive{
                td{
                  &[class*="total"]{
                    &::before{
                      right: -10px;
                      left: auto;
                      @include transform-multiple(scale(1));
                    }
                  }
                  &[class*="price"]{
                    &::before{
                      @include ReSassWidthResponsive(768){
                        left: -10px;
                        right: auto;
                        @include transform-multiple(scale(1));
                      }
                    }
                  }
                }
              }
            }
          }

        }

        .depthtable{
          &-price{}
          &-amount{}
          &-type{}
          &-total{}
        }
      }
    }
  }
  /* Book */

  /* Open */
  &-open{
    &-contentbox{
      color: $global-clr-dark-blue;
      padding: 16px;
      border: 1px solid transparentize($global-clr-soft-gray, 0.7);

      @include ReSassWidthResponsive(480){
        padding: 10px;
      }

      div[class*="boxtitle"]{
        margin-bottom: 0;
        padding-bottom: 10px;

        @include ReSassWidthResponsive(768){
          display: block;
          padding-bottom: 0;
          border-bottom: none;
        }

        span[class*="boxtitle-wallet"]{
          @include ReSassWidthResponsive(576){
            font-size: 18px;
            margin-top: 2px;
          }
        }
      }
    }

    &-box{

      &-table{

        i[class*=icon-svg] {
          width: 18px;
          height: 18px;
          margin-left: 0;
          margin-right: 3px;
        }

        td, th{
          white-space: nowrap;
        }

        tbody{

          @include ReSassWidthResponsive(768){
            margin: 0;
          }

          tr{

            @include ReSassWidthResponsive(768){
              width: calc(100% - 0) !important;
              margin: 5px 0 !important;
            }

            &:first-child{
              td{
                padding-top: 15px;
              }
            }

            td{
              border: none;

              button, a{
                background-color: transparent !important;
                margin: 0 3px;
                font-weight: normal;
                @include transition(color, 0.3s, ease-in-out);

                @include ReSassWidthResponsive(768){
                  width: calc(48% - 3px);
                  margin: 0;
                }
              }

              .buttonedit{
                color: $global-clr-soft-blue;

                &:hover{
                  color: lighten($global-clr-soft-blue, 10%) !important;
                }
              }
              .buttondelete{
                color: $global-clr-red;

                &:hover{
                  color: lighten($global-clr-red, 10%) !important;
                }
              }

              &.order-open-table-edit{
                //width: 180px;
                display: flex;

                @include ReSassWidthResponsive(768){
                  width: 100%;
                  background-color: $global-clr-light-gray;
                }
              }
            }
          }
        }
      }

      .traderorderopen-owl{
        position: relative;

        .owl{

          &-stage-outer{
            @include ReSassWidthResponsive(768){
              margin-bottom: 5px;
            }
          }

          &-item{
            @include ReSassWidthResponsive(768){
              background-color: $global-clr-white !important;
            }
          }

          &-nav{
            @include ReSassWidthResponsive(768){
              width: 100%;
              height: 36px;
              margin-top: 0;
              position: absolute;
            }
            @include ReSassWidthResponsive(400){
              height: 30px;
            }
          }

          &-next,
          &-prev{
            @include ReSassWidthResponsive(768){
              background-color: $global-clr-soft-gray !important;
              margin: 0 !important;
              width: 36px;
              height: 36px;
              position: absolute;
              z-index: 1;
              @include border-radius(50% !important);

              &::before{
                content: "";
                position: absolute;
                width: 11px;
                height: 11px;
                border-top: 2px solid $global-clr-white;
                border-right: 2px solid $global-clr-white;
                top: calc(50% - 5px);
                left: 50%;
              }

              span{
                display: none;
              }
            }
            @include ReSassWidthResponsive(400){
              width: 30px;
              height: 30px;
            }
          }

          &-next{
            @include ReSassWidthResponsive(768){
              right: 0;
              &::before{
                left: calc(50% - 7px);
                @include rotate(45);
              }
            }
          }

          &-prev{
            @include ReSassWidthResponsive(768){
              left: 0;
              &::before{
                left: calc(50% - 3px);
                @include rotate(-135);
              }
            }
          }

          &-dots{
            @include ReSassWidthResponsive(768){
              display: flex;
              justify-content: space-between;
              width: 100%;
              height: 36px;
              padding: 0 calc(36px + 10px);
              position: relative;
              bottom: 0;
              z-index: 0;
            }
            @include ReSassWidthResponsive(400){
              height: 30px;
              padding: 0 calc(30px + 10px);
            }
          }

          &-dot{
            @include ReSassWidthResponsive(768){
              max-width: 100%;
              flex-basis: 0;
              flex-grow: 1;

              span{
                background-color: transparentize($global-clr-soft-gray, 0.7) !important;
                width: 100% !important;
                height: 4px !important;
                margin: 0 !important;
                @include border-radius(0 !important);
              }

              &.active{
                span{
                  background-color: $global-clr-soft-gray !important;
                }
              }

              &:first-child{
                span{
                  border-top-left-radius: 3px !important;
                  border-bottom-left-radius: 3px !important;
                }
              }

              &:last-child{
                span{
                  border-top-right-radius: 3px !important;
                  border-bottom-right-radius: 3px !important;
                }
              }
            }
          }
        }
      }
    }
  }
  /* Open */

}