$globalSvgIconImgPath : "../../img/global/svg";

.order{
  $orderclassname: &;

  /* Orders */
  &-orders{

    &-list{
      margin-top: 15px;

      &:first-child{
        margin-top: 0;
      }
    }

    &-box{
      color: $global-clr-dark-blue;
      border: 1px solid transparentize($global-clr-soft-gray, 0.7);
      border-top: none;
      position: relative;

      &::before{
        content: "";
        background-color: $global-clr-soft-blue;
        height: 4px;
        width: calc(100% + 2px);
        left: -1px;
        position: absolute;
      }
    }

    &-alert{
      margin: 0;
      padding: 18px 16px 0;
    }

    &-column{
      margin: 0;
      padding: 16px;
      padding-top: 0;
      position: relative;

      @include ReSassResponsive(576){
        flex-direction: column;
        display: block !important;
      }

      > div[class*="col-"]{
        padding: 0;

        @include ReSassResponsive(576){
          display: block;
          width: 100%;
          flex: 0 0 100%;
          max-width: 100%;
          padding: 0 !important;
          margin-top: 15px;
          padding-top: 15px !important;

          &::before{
            content: "";
            background-color: transparentize($global-clr-soft-gray, 0.7);
            height: 1px;
            width: calc(100% + 32px);
            left: -16px;
            top: 0;
            position: absolute;
          }

          &:first-child{
            margin-top: 0;
            padding-top: 0 !important;

            &::before{
              display: none;
            }
          }
        }
      }

      &::before{
        content: "";
        position: absolute;
        width: 1px;
        height: calc(100% - 32px);
        background-color: transparentize($global-clr-soft-gray, 0.7);
        top: 16px;
        left: 50%;

        @include ReSassResponsive(576){
          display: none;
        }
      }
    }

    &-buy{
      padding-right: 16px !important;
    }
    &-sell{
      padding-left: 16px !important;
    }

    &-form{
      flex-direction: column;
      padding: 2px 16px 0;

      .form-group{
        margin-bottom: 15px !important;
      }

      .button{
        margin-bottom: 0 !important;

        .btn{
          font-size: 20px;
          padding: 3px 10px 6px;
        }
      }

    }

    &-info{
      font-size: 17px;
      text-align: center;
      padding-bottom: 15px;
      line-height: 1;
      display: flex;
      justify-content: center;

      @include ReSassResponsive(576){
        padding: 10px 0;
        border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);
        background-color: $global-clr-light-gray;
      }

      strong{
        display: inline-block;
        margin-right: 5px;
      }

      i[class*="orderinformation"]{
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-left: 5px;
        cursor: pointer;
      }
    }

    &-tooltiparea{
      .tooltip{

        &.show{
          opacity: 1;
        }

        &-inner{
          color: $global-clr-white;
          background-color: $global-clr-soft-gray;
          font-family: $global-font-family-barlow;
          max-width: 380px;
          width: 380px;
          padding:15px;
          @include border-radius(3px);

          *{color: $global-clr-white;}

          &.show{
            opacity: 1;
          }
        }

        &-html{

          div[class*="boxtitle"]{
            border-color: transparentize($global-clr-white, 0.7);
            align-self: end;
            margin-bottom: 10px;

            > span[class*="-title"],
            > span[class*="-info"]{
              font-size: 17px;
              font-weight: normal;
              display: block;
              line-height: 1;
            }
            > *[class*="-info"]{
              opacity: 0.7;
            }
          }

          img.image{
            margin-bottom: 10px;
            display: block;
            max-width: 100%;
            height: auto;
            @include border-radius(3px);
          }

          p.desc{
            margin-top: 10px;
            line-height: 1.2;
            font-size: 17px;
            text-align: left;

            &:first-child{
              margin-top: 0;
            }
          }

          ul.list{
            font-size: 17px;
            line-height: 1.3;
            text-align: left;
            margin-top: 10px;

            li{
              position: relative;
              padding-left: 15px;

              &::before{
                content:"";
                position:absolute;
                width: 9px;
                height: 9px;
                top: 9px;
                left: 0;
                border-top:2px solid $global-clr-white;
                border-right:2px solid $global-clr-white;
                @include rotate(45);
              }
            }
          }
        }
      }

      .bs-tooltip-top{
        .arrow {
          &::before {
            border-top-color: $global-clr-soft-gray;
          }
        }
      }

      .bs-tooltip-right{
        .arrow {
          &::before {
            border-right-color: $global-clr-soft-gray;
          }
        }
      }

      .bs-tooltip-bottom {
        .arrow {
          &::before {
            border-bottom-color: $global-clr-soft-gray;
          }
        }
      }

      .bs-tooltip-left {
        .arrow {
          &::before {
            border-left-color: $global-clr-soft-gray;
          }
        }
      }
    }

  }
  /* Orders */

  /* Book */
  &-book{
    &-contentbox{
      color: $global-clr-dark-blue;
      padding: 16px;
      border: 1px solid transparentize($global-clr-soft-gray, 0.7);

      div[class*="boxtitle"]{margin-bottom: 0; padding-bottom: 10px;}

      > .row{
        position: relative;

        &::before{
          content: "";
          position: absolute;
          width: 1px;
          height: calc(100% - 0);
          background-color: transparentize($global-clr-soft-gray, 0.7);
          top: 0;
          left: 50%;
        }
      }
    }

    &-buy{
      padding-right: 16px !important;
    }
    &-sell{
      padding-left: 16px !important;
    }


    &-box{
      min-height: 440px;
      position: relative;

      &-container,
      &-rectangle{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        &.rectangle{
          opacity: 0.8;
          img{height: 401px;}
        }
      }

      &-chart{
        padding-top: 35px;
        &-green{text-align: left;}
        &-red{text-align: right;}
      }

      &-table{

        thead th{
          &:last-child{
            width: 20%;
          }
        }

        tbody tr:first-child td{
          padding-top: 17px;
        }

        tbody td{
          border: none;
          line-height: 0.6;
        }
      }
    }


  }
  /* Book */

  /* Open */
  &-open{
    &-contentbox{
      color: $global-clr-dark-blue;
      padding: 16px;
      border: 1px solid transparentize($global-clr-soft-gray, 0.7);

      div[class*="boxtitle"]{margin-bottom: 0; padding-bottom: 10px;}
    }

    &-box{

      &-table{

        i[class*=icon-svg] {
          width: 18px;
          height: 18px;
          margin-left: 0;
          margin-right: 3px;
        }

        tbody tr:first-child td{
          padding-top: 15px;
        }

        tbody td{
          border: none;

          button, a{
            background-color: transparent !important;
            @include transition(color, 0.3s, ease-in-out);
          }

          .buttonedit{
            color: $global-clr-soft-blue;

            &:hover{
              color: lighten($global-clr-soft-blue, 10%) !important;
            }
          }
          .buttondelete{
            color: $global-clr-red;

            &:hover{
              color: lighten($global-clr-red, 10%) !important;
            }
          }
        }
      }
    }
  }
  /* Open */

}