$globalSvgIconImgPath : "../../img/global/svg";

.stepwizard{

  &-tablist{
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-around;

    &-list{
      margin:auto;

      &-item{
        width:170px;
        margin: 0 6px;
        float: left;
        position:relative;
        $liitem: &;

        &:first-child{
          margin-left:0;
          &:before{display:none;}
        }

        &:last-child{
          margin-right: 0;
          &:before{display:none;}
        }

        &-circle{
          color: transparentize($global-clr-soft-gray, 0.50);
          background-color:transparent;
          width:52px;
          height:52px;
          display:block;
          font-size:35px;
          line-height:46px;
          text-align:center;
          margin:10px auto;
          position:relative;
          border:2px solid transparentize($global-clr-soft-gray, 0.50);
          @include border-radius(52px);
          @include transition(all, 0.4s, linear);

          &:before{
            content:"";
            width:48px;
            height:48px;
            position:absolute;
            display:none;
            left:0;
            top:0;
            border:2px solid $global-clr-white;
            @include border-radius(48px);
          }
        }

        &-step,
        &-title{
          color: $global-clr-soft-gray;
          font-size:20px;
          line-height:1;
          font-weight: normal;
          text-align:center;
          display: block;
          margin: 0;
          @include transition(all, 0.4s, linear);
        }

        &-title{
          position: relative;
          padding-top: 7px;

          &:before{
            content: "";
            position: absolute;
            width: 20px;
            height: 2px;
            background-color: transparentize($global-clr-soft-gray, 0.50);
            top: 0;
            left: calc(50% - 10px);
          }
        }

        &.active{

          #{$liitem}-circle{
            color: $global-clr-soft-blue;
            background-color:transparent;
            border-color: $global-clr-soft-blue;
          }
          #{$liitem}-step,
          #{$liitem}-title{
            color:$global-clr-dark-blue;
          }
          #{$liitem}-title{
            &:before{
              background-color:$global-clr-soft-blue;
            }
          }
          &:before{display:block;}
        }

        &.check{

          #{$liitem}-circle{
            background-color:$global-clr-soft-blue;
            border-color: $global-clr-soft-blue;
            position:relative;
            text-indent: -9999px;
            animation-name:pulse;
            animation-duration:1s;
            animation-fill-mode:both;

            &:after{
              content:"";
              position:absolute;
              width: 26px;
              height: 12px;
              top: 14px;
              left: 10px;
              border-bottom:2px solid $global-clr-white;
              border-left:2px solid $global-clr-white;
              @include rotate(-50);
            }
          }

          #{$liitem}-step,
          #{$liitem}-title{
            color:$global-clr-soft-blue;
          }
          #{$liitem}-title{
            &:before{
              background-color:$global-clr-soft-blue;
            }
          }
          &:after{width: 124px;}
          &:before{opacity:0;}
        }

        &:after,
        &:before{
          content:"";
          width: 124px;
          height:4px;
          background-image: url(#{$globalSvgIconImgPath}/Step_Wizard_Point_Line_Gray.svg);
          background-position: left center;
          background-repeat: no-repeat;
          position:absolute;
          top:55px;
          left:calc(50% + 30px);
          @include transition-delay (0.4s);
          @include transition(all, 0.5s, ease-in-out);
        }
        &:after{
          background-image: url(#{$globalSvgIconImgPath}/Step_Wizard_Point_Line_Blue.svg);
          width:0;
        }
      }
    }
  }

  &-tabcont{
    $tabcont: &;

    &-boxarea{
      display:flex;
      flex-flow:column nowrap;
      justify-content:space-around;
      margin: 40px 0;

      &-list{
        margin: auto;

        &-item{
          width: 220px;
          min-height: 220px;
          text-align: center;
          float: left;
          padding: 15px;
          margin: 0 15px;
          border: 1px solid transparentize($global-clr-soft-gray, 0.70);

          &:first-child{
            margin-left: 0;
          }
          &:last-child{
            margin-right: 0;
          }
        }

        &-iconbox{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100px;

          i[class*="bank"]{
            width: 58px;
            height: 50px;
          }
          i[class*="papara"]{
            width: 100px;
            height: 26px;
          }
          i[class*="wallet"]{
            width: 52px;
            height: 38px;
          }
        }
        &-boxtitle{
          color: $global-clr-dark-blue;
          font-size: 20px;
          font-weight: normal;
          position: relative;
          margin-top: 4px;
          margin-bottom: 20px;

          &:before{
            content:"";
            width: 12px;
            height: 12px;
            position:absolute;
            bottom: -11px;
            left: calc(50% - 6px);
            border-bottom:2px solid $global-clr-dark-blue;
            border-left:2px solid $global-clr-dark-blue;
            @include rotate(-45);
          }

        }
        &-btn{
          display: block;
          font-size: 20px;
          font-weight: normal;
          border: none;
          padding: 5px 10px;
        }
      }
    }

    &-formarea{
      display:flex;
      flex-flow:column nowrap;
      justify-content:space-around;
      margin: 40px 0;

      &-title{
        color: $global-clr-dark-blue;
        margin: 0;
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: normal;
      }

      &-form{
        width: 100%;
        margin: auto;

        &-tags700,
        &-tags900{
          margin: auto;
          margin-top: 20px;

          &:first-child{
            margin-top: 0;
          }

          > div[class*="col"]{
            padding-left: 7px;
            padding-right: 7px;

            &:first-child{
              padding-left: 15px;
            }
            &:last-child{
              padding-right: 15px;
            }

          }
        }
        &-tags900{
          max-width: 960px;
        }
        &-tags700{
          max-width: 700px;
        }

        #{$tabcont}-infoarea{
          padding: 20px 40px 0;
          margin-top: 0;
        }

        &-check{
          &-single{
            display: flex;
            margin: auto;
            margin-top: 20px;
          }
        }

        &-btn{
          margin-top: 40px;
        }
      }
    }

    &-infoarea{
      display: flex;
      flex-flow: column nowrap;
      color: $global-clr-dark-blue;
      text-align: center;
      margin-top: 15px;

      &-icon{
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;

        i[class*="wizardiconinformation"]{
          width: 40px;
          height: 40px;
        }
      }
      &-title{
        color: $global-clr-dark-blue;
        margin: 0;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: normal;
      }
      &-desc{
        color: $global-clr-dark-blue;
        font-size: 17px;
        line-height: 1.18;

        a.link{
          color: $global-clr-soft-blue;
          text-decoration: underline;
        }

      }
      &-contlist{
        color: $global-clr-dark-blue;
        font-size: 17px;
        line-height: 1.5;
        text-align: left;
        margin: auto;

        li{
          position: relative;
          padding-left: 15px;

          &:before{
            content:"";
            position:absolute;
            width: 9px;
            height: 9px;
            top: 8px;
            left: 0;
            border-top:2px solid $global-clr-soft-blue;
            border-right:2px solid $global-clr-soft-blue;
            @include rotate(45);
          }
        }

      }
      &-callcenter{
        margin-top: 15px;

        &-title{
          margin: 0;
          font-size: 17px;
          font-weight: normal;
        }
        &-number{
          color: $global-clr-dark-blue;
          font-size: 17px;
          font-weight: 500;
        }
      }

      &-qrcode{
        margin: 15px 0;
        margin-bottom: 30px;
        text-align: left;

        &-code{
          margin-right: 15px;
          margin-bottom: 0 !important;

          &-svg{
            width: 152px;
            height: 152px;
            padding: 3px;
            border: 1px solid transparentize($global-clr-soft-gray, 0.7);
          }
        }

        &-form{
          .form-group{
            margin-bottom: 12px !important;

            &:last-child{
              margin-bottom: 0 !important;
            }
          }
        }

      }

    }

    &-navigation{
      margin-top: 10px;

      &-buttons{
        color: $global-clr-soft-gray;
        position: relative;
        display: flex;
        font-size: 17px;
        align-items: center;

        i.iconcircleback{
          width: 20px;
          height: 20px;
          margin-right: 5px;
          position:relative;
          display: block;
          border: 1px solid transparentize($global-clr-soft-gray, 0.7);
          @include border-radius(100%);

          &:after{
            content:"";
            position:absolute;
            width: 6px;
            height: 6px;
            top: calc(50% - 3px);
            left: calc(50% - 2px);
            border-bottom:1px solid $global-clr-soft-blue;
            border-left:1px solid $global-clr-soft-blue;
            @include rotate(45);
          }
        }
      }
    }

    &-bigicon{
      width: 90px;
      height: 90px;
      margin: 0 auto;
      margin-bottom: 20px;
      border: 2px solid $global-clr-green;
      position: relative;
      @include border-radius(50%);
      animation-name:pulse;
      animation-duration:1s;
      animation-fill-mode:both;
      i{
        width: 50px;
        height: 50px;
        position: absolute;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
      }
      i[class*="check"]{
        top: calc(50% - 25px);

        &:after{
          content:"";
          position:absolute;
          width: 42px;
          height: 18px;
          top: 10px;
          left: 6px;
          border-bottom:2px solid $global-clr-green;
          border-left:2px solid $global-clr-green;
          @include rotate(-50);
        }

      }
    }

  }

  .formui{
    .form-control{
      font-weight: 500;
    }
    @include placeholder{
      font-weight: 500;
    }
  }

}
