$tradepageImgPath : "../../img/tradepage";

/* Custom */
*{outline: 0 !important;}

body{
  font-size: $tradepage-font-size;
  background-color: $tradepage-color-white;
}
body, input, textarea, select, button {
  font-family: $tradepage-font-family-barlow;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
  margin-bottom: 15px;
}

strong{
  font-weight: 500;
}

blockquote, p, ul, li{}

p, blockquote{color: #808080;}

img{
  max-width: 100%;
  height: auto;
}
img, svg {
  vertical-align: middle;
}

.form-control{
  font-size: $tradepage-font-size;
}

.progress{
  background-color: #ccd5dd;
}
.progress-bar{
  background-color: $tradepage-color-blue;
}
/* Custom */