
.company{

  &-aboutus{
    &-layout02{

      &-wrapper{
        &.d-flex > *[class*="col"]{
          padding: 0 !important;
        }

        &.layoutleft{

          div[class*="layout02-box"]{
            padding-left: 0 !important;
          }
          div[class*="layout02-cont"]{
            padding-left: 0 !important;
            border-left: 0;
            &::before{
              left: 0;
            }
          }
          div[class*="layout02-imagebox"]{
            &::before{
              border-right: 0;
            }
          }
        }
        &.layoutright{

          div[class*="layout02-box"]{
            padding-right: 0 !important;
          }
          div[class*="layout02-cont"]{
            padding-right: 0 !important;
            border-right: 0;
            &::before{
              right: 0;
            }
          }
          div[class*="layout02-imagebox"]{
            &::before{
              border-left: 0;
            }
          }
        }
      }

      &-box{
        padding: 15px;
        height: 100%;
        position: relative;
      }
      &-cont{
        padding: 15px;
        line-height: 1.2;
        height: 100%;
        border: 1px solid transparentize($global-clr-soft-gray, 0.7);
        position: relative;

        &::before{
          content: "";
          position: absolute;
          width: calc(100% - 100px);
          height: 1px;
          top: -1px;
          background-color: $global-clr-white;
        }

      }
      &-imagebox{
        height: 100%;
        position: relative;

        &::before{
          content: "";
          position: absolute;
          width: calc(100% - 30px);
          height: calc(100% - 30px);
          top: 15px;
          left: 15px;
          border: 1px solid $global-clr-white;
          border-bottom: 0;
        }

      }
      &-image{}
    }

    &-contlist{
      color: $global-clr-dark-blue;
      text-align: left;
      margin: auto;
      margin-bottom: 15px;

      li{
        font-size: 17px;
        position: relative;
        padding-left: 17px;

        &::before{
          content:"";
          position:absolute;
          width: 9px;
          height: 9px;
          top: 8px;
          left: 0;
          border-top:2px solid $global-clr-soft-blue;
          border-right:2px solid $global-clr-soft-blue;
          @include rotate(45);
        }
      }
    }
  }
}