
.company{

  &-contact{
    width: 100%;

    @include ReSassResponsive(992){
      flex-direction: column;
    }

    &-form{
      padding-right: 10px !important;

      @include ReSassResponsive(992){
        padding-right: 0 !important;
      }

      form{
        margin-top: 0;

        .form-row{
          @include ReSassResponsive(400){
            flex-direction: column;
          }
        }

        *[class*="columntitle"]{
          font-weight: normal;
          margin-bottom: 25px;
        }

        textarea.form-control{
          height: 110px;
        }
        .recaptcha{
          padding-top: 10px;
        }
      }
    }

    &-maps{

      @include ReSassResponsive(992){
        margin-top: 30px;
        padding-left: 0 !important;
      }

      &-box{
        color: $global-clr-dark-blue;
        border: 1px solid transparentize($global-clr-soft-gray, 0.7);
        position: relative;
        font-size: 17px;
        margin-top: 15px;

        &:first-child{
          margin-top: 0;
        }

        &-iframe{
          background-color: $global-clr-light-gray;
          margin: 15px;
          //height: 465px;
          min-height: 465px;

          @include ReSassResponsive(576){
            min-height: 400px;
          }
        }

        &-address{
          background-color: $global-clr-light-gray;
          align-items: center;
          justify-content: space-between;
          margin: 2px;
          margin-top: 0;
          padding: 10px 15px;

          @include ReSassResponsive(480){
            flex-direction: column;
          }

          *{
            color: transparentize($global-clr-soft-gray, 0.1);
            display: block;
            margin: 0 !important;
            padding: 0 !important;
            line-height: 1.10;
          }

          .contact{
            &adress{
              font-size: 15px;

              @include ReSassResponsive(480){
                text-align: center;
              }

              h6, p{
                font-size: 15px;
              }
            }
            &callcenter{
              width: 100px;
              position: relative;
              padding-top: 5px !important;
              padding-bottom: 5px !important;
              text-align: center;

              @include ReSassResponsive(480){
                width: 100%;
                margin-top: 3px !important;
              }

              h6{
                font-size: 13px;
              }
              p{
                font-size: 20px;
                line-height: 0.9;
              }
              &::before,
              &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                background-color: transparentize($global-clr-soft-gray, 0.5);
              }
              &::before{
                top: 0;
              }
              &::after{
                bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}