
.company{

  &-section{
    background-color: $mainpage-color-white;
    padding: 0 0 40px;

    .container > .row > .col-12{
      padding-left: 0;
      padding-right: 0;
    }

    .d-flex > *[class*="col"]{
      padding-left: 7px;
      padding-right: 7px;

      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
    }
  }

  &-content{
    padding-top: 30px;

    *{
      color: $mainpage-color-title-blue;
    }

    *[class*="columntitle"]{
      padding-bottom: 10px;
      margin-bottom: 10px;

      &:before{
        width: 100%;
        max-width: inherit;
        height: 1px;
      }
      &:after{
        width: 60px;
        height: 4px;
      }
    }

    p{
      font-size: 17px;
      margin-bottom: 15px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}