$mainpageHomepageImgPath : "../../img/mainpage";

.company{

  &-sponsorship{

    .sponsorship{

      &-headimg{
        background-color: #090a0f;
        background-image: url(#{$mainpageHomepageImgPath}/company/company_sponsorship_headbanner.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 420px;

        @include ReSassMinWidthResponsive(1920){
          background-size: contain;
        }
        @include ReSassWidthResponsive(768){
          height: 300px;
        }
        @include ReSassWidthResponsive(576){
          height: 250px;
          width: calc(100% + 30px);
          position: relative;
          left: -15px;
        }
        @include ReSassWidthResponsive(480){
          height: 220px;
        }
        @include ReSassWidthResponsive(400){
          height: 180px;
        }
      }

      &-content{

        .sponsorheadtitle{
          width: 100%;
          padding-bottom: 40px;
          text-align: center;

          @include ReSassWidthResponsive(768){
            padding-bottom: 25px;
          }
        }

        .sponsorcontlayout{
          display: flex;
          flex-wrap: wrap;
          padding-bottom: 50px;

          @include ReSassWidthResponsive(992){
            display: block;
          }
          @include ReSassWidthResponsive(768){
            padding-bottom: 30px;
          }

          .sponsorconttxt,
          .sponsorcontimg{
            flex: 0 0 50%;
            max-width: 50%;

            img{
              @include border-radius(14px);

              @include ReSassWidthResponsive(992){
                @include border-radius(6px);
              }
            }

            @include ReSassWidthResponsive(992){
              max-width: 100%;
              padding-left: 0 !important;
              padding-right: 0 !important;

              img{
                width: 100%;
                margin-bottom: 15px;
              }
            }
          }

          &.conttextright{
            .sponsorconttxt{
              order: 2;
              padding-left: 15px;
            }
            .sponsorcontimg{
              order: 1;
              padding-right: 15px;
            }
          }

          &.conttextleft{
            .sponsorconttxt{
              order: 1;
              padding-right: 15px;
            }
            .sponsorcontimg{
              order: 2;
              padding-left: 15px;
            }
          }
        }
      }

      &-memforest{
        background-color: #94B428;
        background-image: url(#{$mainpageHomepageImgPath}/company/company_sponsorship_memforest_bgleaf.svg);
        background-repeat: repeat;
        background-position: left top;
        width: 100%;
        height: 440px;
        padding: 0 !important;
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;

        @include ReSassMinWidthResponsive(1920){
          &::before{
            content: "";
            background-color: #0a0b10;
            width: calc(50% - 500px);
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        @include ReSassWidthResponsive(1600){
          height: auto;
          min-height: 440px;
        }
        @include ReSassWidthResponsive(992){
          min-height: auto;
        }
        @include ReSassWidthResponsive(576){
          width: calc(100% + 30px);
          position: relative;
          left: -15px;
        }

        .container{
          height: 100%;

          .row{
            height: 100%;
            align-items: center;
          }
        }

        .sponsorconttxt,
        .sponsorcontimg{}

        .sponsorcontimg{
          background-image: url(#{$mainpageHomepageImgPath}/company/company_sponsorship_memforest_bgsapling.png);
          background-repeat: no-repeat;
          background-position: right center;
          //background-size: cover;
          width: calc(50% - 15px);
          height: 440px;
          position: absolute;
          left: 0;

          @include ReSassWidthResponsive(992){
            height: 100%;
            background-size: cover;
          }
          @include ReSassWidthResponsive(576){
            display: none;
          }
        }

        .sponsorconttxt{
          padding-left: calc(50% + 15px);
          padding-top: 20px;
          padding-bottom: 20px;
          position: relative;

          @include ReSassWidthResponsive(992){
            background-color: transparentize($global-grdint-darkblue01, 0.25);
            padding: 20px 25px;
            margin: 20px 0;
            @include border-radius(6px);
            @include backdrop-filter-multiple(blur(5px));
          }
          @include ReSassWidthResponsive(576){
            background-color: transparent;
            padding: 20px 15px;
            margin: 0;
            @include backdrop-filter-multiple(blur(0));
          }

          *{color: $global-clr-white;}

          .columntitle::before,
          .columntitle::after{
            background-color: $global-clr-white;
          }
        }
      }

      &-edeneruc{
        background-color: #0058FF;
        background-image: url(#{$mainpageHomepageImgPath}/company/company_sponsorship_erdeneruc_bgwave.svg);
        background-repeat: repeat;
        background-position: left top;
        width: 100%;
        height: 440px;
        padding: 0 !important;
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;

        @include ReSassMinWidthResponsive(1920){
          &::before{
            content: "";
            background-color: #010a35;
            width: calc(50% - 500px);
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
        @include ReSassWidthResponsive(1600){
          height: auto;
          min-height: 440px;
        }
        @include ReSassWidthResponsive(992){
          min-height: auto;
        }
        @include ReSassWidthResponsive(576){
          width: calc(100% + 30px);
          position: relative;
          left: -15px;
        }

        .container{
          height: 100%;

          .row{
            height: 100%;
            align-items: center;
          }
        }

        .sponsorconttxt,
        .sponsorcontimg{}

        .sponsorcontimg{
          background-image: url(#{$mainpageHomepageImgPath}/company/company_sponsorship_erdeneruc_bgsea.png);
          background-repeat: no-repeat;
          background-position: left center;
          //background-size: cover;
          width: calc(50% - 15px);
          height: 440px;
          position: absolute;
          left: calc(50% + 15px);

          @include ReSassWidthResponsive(992){
            height: 100%;
            background-size: cover;
          }
          @include ReSassWidthResponsive(576){
            display: none;
          }
        }

        .sponsorconttxt{
          padding-right: calc(50% + 15px);
          padding-top: 20px;
          padding-bottom: 20px;
          position: relative;

          @include ReSassWidthResponsive(992){
            background-color: transparentize($global-grdint-darkblue01, 0.25);
            padding: 20px 25px;
            margin: 20px 0;
            @include border-radius(6px);
            @include backdrop-filter-multiple(blur(5px));
          }
          @include ReSassWidthResponsive(576){
            background-color: transparent;
            padding: 20px 15px;
            margin: 0;
            @include backdrop-filter-multiple(blur(0));
          }

          *{color: $global-clr-white;}

          .columntitle::before,
          .columntitle::after{
            background-color: $global-clr-white;
          }
        }
      }
    }
  }
}