
.company{

  &-section{
    background-color: $global-clr-white;
    padding: 0 0 40px;

    .container > .row > .col-12{
      padding-left: 0;
      padding-right: 0;
    }

    .d-flex > *[class*="col"]{
      padding-left: 7px;
      padding-right: 7px;

      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
    }
  }

  &-content{
    padding-top: 30px;

    *{
      color: $global-clr-dark-blue;
    }

    *[class*="columntitle"]{
      padding-bottom: 10px;
      margin-bottom: 10px;

      &:before{
        width: 100%;
        max-width: inherit;
        height: 1px;
      }
      &:after{
        width: 60px;
        height: 4px;
      }
    }

    &-subtitle{
      font-size: 17px;
      font-weight: 500;
      margin: 0;
    }

    &-contlist{
      color: $global-clr-dark-blue;
      text-align: left;
      margin: auto;
      margin-bottom: 15px;

      li{
        position: relative;
        padding-left: 17px;

        &:before{
          content:"";
          position:absolute;
          width: 9px;
          height: 9px;
          top: calc(50% - 3px);
          left: 0;
          border-top:2px solid $global-clr-soft-blue;
          border-right:2px solid $global-clr-soft-blue;
          @include rotate(45);
        }
      }
    }

    .urllink{
      color: $global-clr-soft-blue;
      text-decoration: underline;
    }

    p{
      font-size: 17px;
      margin-bottom: 15px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}