
.features{
  &-products{

    &-zoom{
      width: 100%;
      padding-top: 20px;
      padding-bottom: 30px;

      @include ReSassResponsive(768){
        flex-direction: column;
      }
      @include ReSassResponsive(576){
        padding-bottom: 15px;
      }

      &-sidebar{
        width: 270px;
        margin-top: 1px;

        @include ReSassResponsive(768){
          width: 100%;
          padding: 0 !important;
          margin-bottom: 30px;
          display: none;
        }

        *[class*="boxtitle"]{
          font-size: 20px;
          margin: 0;
          margin-bottom: 6px;
          padding: 0;
          border: none;
          font-weight: 500;
        }

        &-icon{
          height: 32px;
          margin-bottom: 5px;

          i[class*="icon-svg"]{
            width: 60px;
            height: 60px;
            margin: 0 auto;
            position: relative;
            top: -28px;
            margin-top: 24px;
          }
        }

        &-box{
          color: $global-clr-dark-blue;
          border: 1px solid transparentize($global-clr-soft-gray, 0.7);
          border-top: none;
          position: relative;
          font-size: 17px;

          a{
            color: $global-clr-dark-blue;
            @include transition(color, 0.3s, ease-in-out);

            &:hover{
              color: $global-clr-soft-blue;
            }
          }

          &::before {
            content: "";
            background-color: $global-clr-soft-blue;
            height: 4px;
            width: calc(100% + 2px);
            left: -1px;
            position: absolute;
          }

          &.lineorange{
            &::before {
              background-color: $global-clr-orange;
            }
          }
          &.linebtc{
            &::before {
              background-color: $global-clr-currency-btc;
            }
          }
          &.lineeth{
            &::before {
              background-color: $global-clr-currency-eth;
            }
          }
          &.lineltc{
            &::before {
              background-color: $global-clr-currency-ltc;
            }
          }
          &.linexrp{
            &::before {
              background-color: $global-clr-currency-xrp;
            }
          }
          &.linempay{
            &::before {
              background-color: $global-clr-currency-mpay;
            }
          }
          &.linedefault{
            &::before {
              background-color: transparentize($global-clr-soft-gray, 0.7);
            }
          }

          &-buttons{
            background-color: $global-clr-light-gray;
            margin: 2px;
            padding: 8px 13px;

            .btn-group{
              width: 100%;
              padding: 5px 0;

              .btn{
                border-left: 1px solid $global-clr-white !important;
                border-right: 1px solid $global-clr-white !important;;

                &:first-child{
                  border-left: none !important;;
                }
                &:last-child{
                  border-right: none !important;;
                }
              }
            }

            .coininfolink{
              display: flex;
              flex-wrap: wrap;

              li{
                font-size: 15px;
                width: 50%;
                margin: 5px 0;

                @include ReSassResponsive(768){
                  width: 25%;
                }
                @include ReSassResponsive(480){
                  width: 50%;
                }

                i[class*="icon-svg"]{
                  width: 25px;
                  height: 25px;
                  margin-right: 4px;
                }

                a{
                  display: flex;
                  align-items: center;
                  line-height: 1;
                }

              }

            }
          }
        }

        &-price{
          padding: 5px 15px;

          @include ReSassResponsive(768){
            padding: 5px 15px 15px;
          }

          &-card{
            padding: 10px 0;
            align-items: flex-end;

            &:last-child{
              border-bottom: none;
            }

            span{
              color: $global-clr-dark-blue;
              display: block;
              line-height: 1;
            }
            span.bigtext{
              font-size: 30px;
              font-weight: normal;
              white-space: nowrap;
            }
            span.bigperc{
              font-size: 20px;
              font-weight: 500;
            }
          }
        }
      }

      &-price{}

      &-overview{
        .features-products-zoom-sidebar{
          @include ReSassResponsive(768){
            display: block;
          }
        }
      }

      &-detail{}

      &-feed{}

      &-wrapper{

        @include ReSassResponsive(768){
          width: 100%;
          padding: 0 !important;
        }

        &-boxtitle{
          border-bottom: 1px solid lighten($global-clr-soft-gray, 30%);
          height: 29px;
          font-size: 15px;

          *[class*="boxtitle"]{
            font-size: 20px;
            margin: 0;
            padding: 0;
            padding-bottom: 10px;
            border: none;
            font-weight: 500;
            position: relative;

            &::before{
              content: "";
              position: absolute;
              width: 60px;
              height: 4px;
              bottom: -1px;
              left: 0;
              background-color: $global-clr-soft-blue;
            }
          }
        }

        &-charttitle{
          border-bottom: 1px solid lighten($global-clr-soft-gray, 30%);
          height: 34px;
          font-size: 15px;

          .chartdate{

            &-list{
              line-height: 1;

              li{
                float: left;
                line-height: 1;
                margin: 0 4px;

                a{line-height: 1;}

                &:first-child{
                  margin-left: 0;
                }
                &:last-child{
                  margin-right: 0;
                }
              }

              &-link{
                color: $global-clr-dark-blue;
                font-size: 15px;
                margin: 0;
                padding: 6px 2px;
                position: relative;

                &::before{
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 4px;
                  bottom: 0;
                  left: 0;
                  background-color: transparent;
                }

                &:hover{
                  &::before{
                    background-color: lighten($global-clr-soft-gray, 30%);
                  }
                }

                &.active{
                  font-weight: 500;
                  &::before{
                    background-color: $global-clr-soft-blue;
                  }
                }
              }
            }

            &-select{
              color: $global-clr-dark-blue;
              padding: 6px 2px;
              display: block;
            }
          }
        }

      }

      &-historychart{
        border-left: 1px solid lighten($global-clr-soft-gray, 30%);
      }

      &-content{
        color: $global-clr-dark-blue;
        font-size: 17px;
        padding-top: 10px;
        line-height: 1.25;
        overflow: hidden;

        *{color: $global-clr-dark-blue;}

        p{
          margin-bottom: 15px;

          &:last-child{
            margin-bottom: 0;
          }
        }

        .contentwidth600{max-width: 600px;}
        .contentwidth500{max-width: 500px;}
      }

      &-detail{
        &-table{

          tbody{
            tr:first-child {
              td {
                border-top: none;
              }
            }
            tr:last-child {
              td {
                border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.85);
              }
            }

            td{
              padding-top: 8px;
              padding-bottom: 8px;

              &:last-child{
                font-weight: 500;
              }
            }

            @include ReSassResponsive(768){
              td{
                &:last-child{
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }

      &-socialfeed{
        margin-top: -67px;

        @include ReSassResponsive(480){
          margin-top: -55px;
        }
      }
    }
  }
}