
.features{

  &-products{
    background-color: $mainpage-color-white;
    padding-bottom: 10px;

    &-commision_limit{
      padding: 30px 0;

      &-tables{
        width: 570px;

        &-box{
          color: $mainpage-color-title-blue;
          border: 1px solid transparentize($mainpage-color-light-stale-gray, 0.7);
          position: relative;
          font-size: 17px;
          padding: 10px 15px 15px;
          margin-top: 15px;

          &:first-child{
            margin-top: 0;
          }

          &-title{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 5px;
          }
        }
      }

      &-content{

        &-box{
          padding: 10px 0 15px;
          font-size: 17px;
          line-height: 1.2;

          *{color: $mainpage-color-title-blue;}
          &-title{
            font-size: 20px;
            font-weight: 500;
            margin: 0;
          }

          p{
            margin-bottom: 15px;
          }
        }
      }

      &-table{

        .widthpercent30{
          width: 33%;
        }

        &.textallleft{
          th, td{
            text-align: left !important;
          }
        }

        &.bordernobottom{
          tbody{
            tr:last-child{
              td{
                border-bottom-width: 0 !important;
              }
            }
          }
        }

        td, th{
          text-align: center;
          padding-left: 9px;
          padding-right: 9px;

          &:first-child{
            text-align: left;
            padding-left: 0;
          }
        }

        thead{
          th{
            border-top-width: 1px;
            border-top-style: solid;
          }
        }

        tbody{
          tr:last-child{
            td{
              border-bottom-width: 1px;
              border-bottom-style: solid;
            }
          }

          td{
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}