
.features{

  &-commision{

  }

  &-commision_limit{

    &-table{

      .widthpercent30{
        width: 34%;

        @include ReSassWidthResponsive(768){
          width: auto;
        }

        &-responsive{
          @include ReSassWidthResponsive(768){
            width: 35%;
          }
        }
      }

      .widthpercentspace{
        @include ReSassWidthResponsive(768){
          width: 1px;
        }
      }

      &.textallleft{
        th, td{
          text-align: left !important;
        }
      }

      &.bordernobottom{
        tbody{
          tr:last-child{
            td{
              border-bottom-width: 0 !important;
            }
          }
        }
      }

      td, th{
        text-align: center;
        padding-left: 9px;
        padding-right: 9px;

        &:first-child{
          text-align: left;
          padding-left: 0;
        }
      }

      thead{
        th{
          border-top-width: 1px;
          border-top-style: solid;
        }
      }

      tbody{
        tr:last-child{
          td{
            border-bottom-width: 1px;
            border-bottom-style: solid;
          }
        }

        td{
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
}