
.features{
  &-products{

    &-zoom{
      padding-top: 15px;

      &-sidebar{
        width: 270px;

        *[class*="boxtitle"]{
          font-size: 20px;
          margin: 0;
          padding: 0;
          border: none;
          font-weight: 500;
        }

        &-box {
          color: $mainpage-color-title-blue;
          border: 1px solid transparentize($mainpage-color-light-stale-gray, 0.7);
          border-bottom: none;
          border-top: none;
          position: relative;
          font-size: 17px;

          &:before {
            content: "";
            background-color: $mainpage-color-blue;
            height: 4px;
            width: calc(100% + 2px);
            left: -1px;
            position: absolute;
          }
        }
      }
    }
  }
}