$mainpageHomepageImgPath : "../../img/mainpage";

.homepage{

  &-top{
    padding-top: 20px;
    min-height: 630px;

    @include ReSassResponsive(1400){
      padding-top: 15px;
    }
    @include ReSassResponsive(768){
      min-height: 520px;
    }

    &-left{
      max-width: 840px;
      padding-left: 0;
      padding-right: 40px;

      @include ReSassResponsive(1200){
        max-width: 660px;
      }
      @include ReSassResponsive(992){
        max-width: 100%;
        padding-right: 0;
      }
    }
    &-right{
      max-width: 300px;
      padding-left: 0;
      padding-right: 0;

      @include ReSassResponsive(992){
        display: none;
      }
    }
    &-fullwidth{
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
    &-hidden{
      display: none !important;
    }
  }

  &-slider{
    min-height: 265px;

    @include ReSassResponsive(1400){
      min-height: 260px;
    }
    @include ReSassResponsive(992){
      min-height: 215px;
    }
    @include ReSassResponsive(768){
      min-height: 165px;
      margin-bottom: 20px;
    }

    &-wapper{
      position: relative;
      margin: 0;
      padding-top: 40px;

      @include ReSassResponsive(1400){
        padding-top: 35px;
      }
      @include ReSassResponsive(768){
        padding-top: 15px;
      }

      &-item{
        color: $global-clr-white;
        padding: 20px 0;
      }
      .owl{

        &-dots{
          margin: 0 !important;
          position: absolute;
          left: 0;
          top: 4px;
        }
        &-dot{
          height: 25px;

          span{
            background-color: transparentize($global-clr-soft-gray, 0.7) !important;
            width: 40px !important;
            height: 3px !important;
            margin: 0 !important;
            margin-right: 5px !important;
            position: relative;
            @include border-radius(0px !important);

            &::before{
              content: "";
              position: absolute;
              background: transparent;
              width: 100%;
              height: 3px;
              left: 0;
              top: 0;
              @include transition(all, 0.2s, linear);
            }

          }

          &.active span,
          &:hover span{
            background-color: $global-clr-soft-blue !important;
          }
          &:hover span{
            &::before{
              background-color: $global-clr-soft-blue !important;
              top: -3px;
            }
          }
          &:last-child{
            span{margin-right: 0 !important;}
          }
        }

        &-stage-outer{
          height: 225px;
          overflow: hidden;

          @include ReSassResponsive(992){
            height: 200px;
          }
          @include ReSassResponsive(768){
            height: 150px;
          }
        }
      }
    }

    &-title{
      color: $global-clr-white;
      font-size: 44px;
      font-weight: 300;
      line-height: 1.07;

      @include ReSassResponsive(1400){
        font-size: 38px;
      }
      @include ReSassResponsive(768){
        font-size: 28px;
      }
    }

    &-desc{
      color: $global-clr-white;
      font-size: 26px;
      font-weight: 300;
      line-height: 1.07;

      @include ReSassResponsive(1400){
        font-size: 23px;
      }
      @include ReSassResponsive(768){
        font-size: 18px;
      }
    }
  }

  &-chartarea{
    color: $global-clr-white;
    margin-bottom: 50px;

    @include ReSassResponsive(1200){
      margin-bottom: 25px;
    }

    &-column{

      &-headtitle{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);
        padding-bottom: 5px;

        &-title,
        &-volume{
          font-size: 20px;
          font-weight: normal;
          margin: 0;
          padding: 0;
          line-height: 1;

          @include ReSassResponsive(768){
            font-size: 17px;
          }
        }

        &-title{color: $global-clr-white;}
        &-volume{color: $global-clr-soft-gray;}
      }

      &-chartbox{
        .ct-chart,
        .ct-chart-left{
          overflow: hidden;
        }
      }
    }
  }

  &-bigprice{
    color: $global-clr-white;

    &-list{
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;

      @include ReSassResponsive(1200){
        flex-wrap: wrap;
        //border: 1px solid transparentize($global-clr-soft-gray, 0.7);
      }

      &-item{
        color: $global-clr-white;
        text-align: center;
        font-size: 28px;
        font-weight: 300;
        line-height: 0.9;
        letter-spacing: -0.3px;
        position: relative;
        padding: 0 12px;

        @include ReSassResponsive(768){
          font-size: 22px;
        }

        &::before{
          content: "";
          position: absolute;
          width: 1px;
          height: 44px;
          top: calc(50% - 20px);
          right: -2px;
          background-color: transparentize($global-clr-soft-gray, 0.7);
        }

        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;

          &::before{display: none;}
        }

        @include ReSassResponsive(1400){
          font-size: 28px;
        }
        @include ReSassResponsive(1200){

          &::before{right: 0;}

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3){
            width: calc(100% / 3);
            padding-top: 10px;
            padding-bottom: 10px;
          }
          &:nth-child(3):before{
            display: none;
          }
          &:nth-child(4),
          &:nth-child(5){
            width: calc(100% / 2);
            padding-top: 10px;
            padding-bottom: 10px;
            border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);
          }
        }
      }
    }

    &-title{
      color: $global-clr-soft-gray;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: -0.2px;
      margin: 0;

      @include ReSassResponsive(1400){
        font-size: 17px;
      }
      @include ReSassResponsive(768){
        font-size: 15px;
      }
    }

    &-volume{
      display: block;
      white-space: nowrap;

      sup{
        font-size: 12px;
        font-weight: 900;
        letter-spacing: normal;
        text-align: center;
        position: relative;
        top: -12px;

        @include ReSassResponsive(1400){
          font-size: 11px;
          top: -11px;
        }
      }
    }
  }

  &-register{
    margin-top: 30px;

    &-title{
      text-align: center;
      margin-bottom: 10px;
    }

    .columntitle{
      color: $global-clr-white;
      text-align: center;
      &.bottomborder{
        display: initial;
        &::before{
          background-color: transparentize($global-clr-soft-gray, 0.7);
          opacity: 1;
          width: 100%;
          height: 2px;
          left: 0;
        }
      }
    }

    &-formarea{
      padding-top: 20px;

      label{
        font-size: 15px;
        line-height: 1;
        padding-top: 5px;
      }

      .form-group{
        margin-bottom: 14px;
      }
      .form-control{
        color: $global-clr-white;
        background-color: transparent;
        border-color: transparentize($global-clr-soft-gray, 0.7);
        border-right: none;
        border-top: none;
        height: auto;
        padding: 5px 10px 8px;
        font-size: 17px;
        @include border-radius(0px);
        &:focus{
          @include box-shadow(0,0,0,transparent);
        }
      }
      @include placeholder{
        color: $global-clr-soft-gray;
      }
      .recaptcha{
        //background-color: black;
        margin-bottom: 13px;
        @include border-radius(6px);
      }
      .form-check{
        margin-bottom: 13px;
        *{color: $global-clr-soft-gray;}
        a{
          text-decoration: underline !important;
          &:hover{
            color: $global-clr-soft-blue;
          }
        }
      }

      .custom-control-label{
        &::before,
        &::after{
          background-color: transparent;
          width: 20px;
          height: 20px;
          top: 0.145rem;
          border-color: transparentize($global-clr-soft-gray, 0.7);
        }
      }
      .custom-control-input {
        &:checked ~ .custom-control-label::before {
          border-color: transparentize($global-clr-soft-gray, 0.7);
          background-color: transparent;
        }
      }
      .custom-control-input:checked ~ .custom-control-label {
        &::after {
          border-bottom:2px solid $global-clr-soft-gray;
          border-left:2px solid $global-clr-soft-gray;
        }
      }

      .form-button{
        .btn{
          width: 100%;
          height: auto;
          font-size: 19px;
          font-weight: 300;
          letter-spacing: -0.2px;
          padding: 11px 10px;
          border:none;
          @include gradient(#0a93ea, #00387c);
        }
      }
    }


    &-formlabelarea{
      padding-top: 20px;

      label{
        color: $global-clr-soft-gray;
        font-size: 17px;
        line-height: 1;
      }

      .form-group{
        margin-bottom: 14px;
      }
      .form-control{
        color: $global-clr-white;
        background-color: transparent;
        border-color: transparentize($global-clr-soft-gray, 0.7);
        border-right: none;
        border-top: none;
        height: 40px;
        padding: 5px 10px 8px;
        font-size: 17px;
        @include border-radius(0px);
        &:focus{
          @include box-shadow(0,0,0,transparent);
        }
      }

      .labelanimation{
        margin-top: 0;

        label{
          top: 10px;
        }

        .form-control{

          padding: 10px 10px 5px !important;

          &:focus ~ label,
          &:valid ~ label{
            top: -3px;
            left: 10px;
            color: #b82c0d;
          }

          &:focus ~ .inputbottombar:before,
          &:focus ~ .inputbottombar:after{
            width:50%;
          }

          &:focus ~ .inputbottombar:before,
          &:focus ~ .inputbottombar:after{
            background-color: $global-clr-soft-blue;
          }

          &:valid ~ .inputbottombar:before,
          &:valid ~ .inputbottombar:after{
            color: $global-clr-green;
          }

          &:focus ~ .inputerrormessage,
          &:valid ~ .inputerrormessage{
            top: -3px;
            right: 0;
            font-size: 12px;
          }

          &:valid ~ label{
            color: $global-clr-green;
          }
        }
      }

      .recaptcha{
        //background-color: black;
        margin-bottom: 13px;
        @include border-radius(6px);
      }
      .form-check{
        margin-bottom: 13px;

        *{color: $global-clr-soft-gray;}

        label{
          color: $global-clr-soft-gray;
          font-size: 15px;
          line-height: 1;
          padding-top: 5px;
        }

        a{
          text-decoration: underline !important;
          &:hover{
            color: $global-clr-soft-blue;
          }
        }
      }

      .custom-control-label{
        &::before,
        &::after{
          background-color: transparent;
          width: 20px;
          height: 20px;
          top: 0.145rem;
          border-color: transparentize($global-clr-soft-gray, 0.7);
        }
      }
      .custom-control-input {
        &:checked ~ .custom-control-label::before {
          border-color: transparentize($global-clr-soft-gray, 0.7);
          background-color: transparent;
        }
      }
      .custom-control-input:checked ~ .custom-control-label {
        &::after {
          border-bottom:2px solid $global-clr-soft-gray;
          border-left:2px solid $global-clr-soft-gray;
        }
      }

      .form-button{
        .btn{
          width: 100%;
          height: auto;
          font-size: 19px;
          font-weight: 300;
          letter-spacing: -0.2px;
          padding: 11px 10px;
          border:none;
          @include gradient(#0a93ea, #00387c);
        }
      }
    }
  }

  &-loggedin{
    margin-top: 30px;

    &-title{
      text-align: center;
      margin-bottom: 10px;
    }

    .columntitle{
      color: $global-clr-white;
      text-align: center;
      &.bottomborder{
        display: block;
        &::before{
          background-color: transparentize($global-clr-soft-gray, 0.7);
          opacity: 1;
          width: 100%;
          height: 2px;
          left: 0;
        }
      }
    }

    &-wrapper{
      padding: 5px 0 20px;
      color: $global-clr-soft-gray;
      border-bottom: 2px solid transparentize($global-clr-soft-gray, 0.7);
    }

    &-totalassets{
      text-align: center;
      line-height: 1;

      &-title{
        font-size: 18px;
        font-weight: normal;
        margin: 0;
      }
      &-total{
        color: $global-clr-white;
        font-size: 23px;
      }
    }

    &-detail{
      max-width: 200px;
      margin: 15px auto 0;

      &-row{
        display: flex;
        justify-content: space-between;
        padding: 4px 0 9px;
        border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);

        &:first-child{
          border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);
        }
      }
      &-cell{
        width: 50%;
        text-align: center;
        line-height: 0.8;

        &-title{
          font-size: 17px;
          font-weight: normal;
          margin: 0;
        }
        &-asset{
          color: $global-clr-white;
          font-size: 20px;
        }
      }
    }

    &-btngroup{
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);

      .btn{
        width: 100%;
        font-size: 17px;
        font-weight: normal;
        letter-spacing: -0.2px;
        padding: 6px;
        margin: 0 2px;
        border: none;
        height: 40px;
        @include border-radius(0);
        @include gradient(#0a93ea, #00387c);

        &:first-child{
          margin-left: 0;
          @include border-radii(3px,0,0,3px);
        }
        &:last-child{
          margin-right: 0;
          @include border-radii(0,3px,3px,0);
        }
      }
    }

    &-progress{
      &-bar{
        padding-top: 15px;

        .progress{
          background-color: transparentize($global-clr-soft-gray, 0.65);
          margin-top: 7px;
        }

        .progress,
        .progress-bar{
          height: 5px;
        }
      }

      &-desc{
        font-size: 17px;
        font-weight: normal;
        margin: 0;
        text-align: center;
      }
    }

    &-notification{
      padding-top: 20px;
      font-size: 15px;
      line-height: 1.1;
      text-align: center;
    }

  }

  &-summarytable{
    color: $global-clr-white;
    padding-top: 60px;
    overflow: hidden;

    @include ReSassResponsive(1400){
      padding-top: 80px;
    }
    @include ReSassResponsive(1200){
      padding-top: 50px;
    }

    > .container{
      position: relative;
      padding-bottom: 15px;

      @include ReSassResponsive(992){
        padding-bottom: 10px;
      }

      &::before,
      &::after{
        content: "";
        background-color: $global-clr-white;
        position: absolute;
        width: 1000%;
        height: 50%;
        bottom: 0;
        top: 50%;
        z-index: 1;
      }
      &::before{
        left: calc(100% + 20px);

        @include ReSassResponsive(992){
          left: calc(100% + 15px);
        }
      }
      &::after{
        right: calc(100% + 20px);

        @include ReSassResponsive(992){
          right: calc(100% + 15px);
        }
      }
    }

    > .container > .row{
      &::before,
      &::after{
        content: "";
        background-color: $global-clr-white;
        position: absolute;
        width: 4px;
        height: 4px;
        bottom: -2px;
        z-index: 1;
        @include rotate(45);
      }
      &::before{
        left: -22px;

        @include ReSassResponsive(992){
          left: -17px;
        }
      }
      &::after{
        right: -22px;

        @include ReSassResponsive(992){
          right: -17px;
        }
      }
    }

    &-columntitle{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);
      margin-bottom: 2px;
      padding-bottom: 2px;

      @include ReSassResponsive(768){
        padding-bottom: 0;
      }

      &-title{
        margin: 0;
        padding: 0;
        font-weight: 300;
        font-size: 20px;
        min-height: 26px;

        @include ReSassResponsive(768){
          font-size: 17px;
        }
      }
      &-select{
        color: $global-clr-soft-gray;
        background-color: transparent;
        font-size: 20px;

        @include ReSassResponsive(768){
          font-size: 17px;
        }
      }
    }

  }

  &-depth{
    padding-left: 0;

    .tablecolumn{
      margin: 0;
      &-grid{
        position: relative;

        &-01{
          padding-right: 1px;
          padding-left: 0;

          @include ReSassResponsive(768){
            padding: 0;
          }

          .table{
            th, td{
              text-align: right;
            }
          }
        }
        &-02{
          padding-left: 1px;
          padding-right: 0;

          @include ReSassResponsive(768){
            padding: 0;
          }

          .table{
            th, td{
              text-align: left;
            }
          }
        }

      }
    }
  }

  &-converter{
    padding-right: 0;

    @include ReSassResponsive(768){
      padding: 0;
    }

    &-column{
      margin-top: 12px;
    }
  }

  &-whyicrypex{
    background-color: $global-clr-white;
    padding: 90px 0 110px;

    @include ReSassResponsive(1400){
      padding: 70px 0 90px;
    }
    @include ReSassResponsive(1200){
      padding: 40px 0 50px;
    }

    .container > .columntitle{
      color: $global-clr-dark-blue;
      margin-bottom: 30px;

      &::before{
        height: 2px;
      }

      @include ReSassResponsive(1400){
        margin-bottom: 25px;
      }
    }

    &-list{
      div[class*="col-"]{
        padding-left: 0;
        padding-right: 35px;
      }
      &-item{
        display: flex;
        padding-top: 23px;
        padding-bottom: 23px;
        min-height: 210px;

        @include ReSassResponsive(1400){
          min-height: 200px;
        }

        &-icon{
          flex: 0 0 70px;
          background-color: transparentize(#78787b, 0.85);
          margin-right: 15px;

          .icon-svg{
            width: 42px;
            height: 42px;
            display: block;
            margin: 0 auto;
            margin-top: 12px;
          }

        }
        &-text{
          flex: 0 0 calc(100% - 85px);
          color: $global-clr-dark-blue;

          > .columntitle{
            font-weight: normal;

            &::before{
              height: 2px;

              @include ReSassResponsive(1200){
                width: 100% !important;
                max-width: inherit !important;
              }
            }

            &.bottomborder{
              &::before{
                width: 100%;
              }
              &::after{
                height: 2px;
              }
            }
          }

          p{
            color: $global-clr-dark-blue;
            font-size: 17px;
            line-height: 1.12;
            margin: 0;
            margin-top: 10px;

            @include ReSassResponsive(1400){
              font-size: 16px;
            }
          }
        }
      }

    }
  }

  &-webtrader{
    background-color: $global-sitebg-darkblue01;

    &-content{
      padding: 100px 30px 140px 0;

      @include ReSassResponsive(1400){
        padding: 90px 30px 100px 0;
      }
      @include ReSassResponsive(1280){
        padding: 50px 30px 70px 0;
      }
      @include ReSassResponsive(1200){
        padding: 60px 30px 90px 0;
      }
      @include ReSassResponsive(1024){
        padding: 50px 30px 80px 40px;
      }
      @include ReSassResponsive(992){
        padding: 30px 0 50px;
        order: 2;
      }

      .columntitle{
        color: $global-clr-white;
        &::before{
          width: 200px;
          height: 2px;
        }
      }

      &-desc{
        color: $global-clr-soft-gray;
        font-size: 17px;
        margin: 0;
        margin-top: 25px;
        line-height: 1.18;

        @include ReSassResponsive(1400){
          font-size: 16px;
        }
        @include ReSassResponsive(1200){
          margin-top: 15px;
        }

      }
      &-list{
        color: $global-clr-soft-gray;
        font-size: 17px;
        margin: 0;
        margin-top: 15px;
        line-height: 1.29;

        @include ReSassResponsive(1400){
          font-size: 16px;
        }
      }
      &-btn{
        margin: 0;
        margin-top: 35px;
        background-color: $global-clr-btn-blue;
        border: none;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: -0.2px;
        padding: 10px 20px;

        @include ReSassResponsive(1200){
          margin-top: 20px;
        }
      }
    }

    &-image{
      @include ReSassResponsive(992){
        order: 1;
        text-align: center;
      }

      &-img{
        max-width: none;
        width: 790px;
        height: 656px;
        object-fit: contain;
        margin-top: -37px;

        @include ReSassResponsive(1400){
          width: 720px;
          height: 590px;
          margin-top: -32px;
        }
        @include ReSassResponsive(1280){
          width: 650px;
          height: 535px;
          margin-top: -32px;
        }
        @include ReSassResponsive(1200){
          width: 530px;
          height: 465px;
          margin-top: -38px;
        }
        @include ReSassResponsive(1140){
          width: 480px;
          height: 425px;
          margin-top: -38px;
        }
        @include ReSassResponsive(992){
          width: 100%;
          max-width: 600px;
          height: auto;
          margin-top: -30px;
        }
      }
    }
  }

  &-mobiletrader{
    background-color: $global-clr-white;

    &-content{
      padding-top: 110px;
      padding-right: 30px;
      padding-left: 28px;

      @include ReSassResponsive(1400){
        padding: 75px 0;
      }
      @include ReSassResponsive(1280){
        padding: 50px 0;
        margin-left: -40px;
      }
      @include ReSassResponsive(992){
        order: 1;
        padding: 40px 0;
        margin-left: 0;
      }

      .columntitle{
        color: $global-clr-dark-blue;
        &::before{
          width: 200px;
          height: 2px;
        }
      }

      &-desc{
        color: $global-clr-dark-blue;
        font-size: 17px;
        margin: 0;
        margin-top: 25px;
        line-height: 1.18;

        @include ReSassResponsive(1400){
          font-size: 16px;
        }
        @include ReSassResponsive(1200){
          margin-top: 15px;
        }
      }
      &-list{
        color: $global-clr-dark-blue;
        font-size: 17px;
        margin: 0;
        margin-top: 15px;
        line-height: 1.29;

        @include ReSassResponsive(1400){
          font-size: 16px;
        }
      }
      &-btn{
        margin-top: 35px;
        &-item{
          margin-right: 35px;
          &:last-child{
            margin-right: 0;
          }
          &.apple{}
          &.android{}
        }
      }
    }

    &-image{
      margin-top: -45px;
      padding-left: 0;
      overflow: hidden;

      @include ReSassResponsive(1280){
        padding: 0;
      }
      @include ReSassResponsive(992){
        padding: 0;
        margin: 0;
        order: 2;
      }

      &-list{
        margin-bottom: 0;
        position: relative;

        &-item{
          display: inline-block;
          position: absolute;
          height: 646px;

          @include ReSassResponsive(1400){
            height: 550px;
          }
          @include ReSassResponsive(1280){
            height: 500px;
          }

          img{
            max-width: none;

            @include ReSassResponsive(1400){
              width: 300px;
            }
            @include ReSassResponsive(1280){
              width: 270px;
            }
          }

          &.apple{
            width: 350px;
            left: 0;
          }
          &.android{
            width: 355px;
            left: 110px;
            position: relative;
            img{
              &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 100%;
                box-shadow: -10px 10px 10px rgba(0,0,0,0.5);
              }
            }
          }
        }
      }
    }
  }
}