$homepageImgPath : "../../img/mainpage";

.homepage{

  &-top{
    &-left{
      padding-left: 0;
      padding-right: 40px;
    }
    &-right{
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-slider{
    &-wapper{
      position: relative;
      margin: 0;
      padding-top: 40px;

      &-item{
        color: $main-color-white;
        padding: 20px 0;
      }
      .owl{

        &-dots{
          margin: 0 !important;
          position: absolute;
          left: 0;
          top: 4px;
        }
        &-dot{
          height: 25px;

          span{
            background-color: $main-color-light-stale-gray !important;
            width: 40px !important;
            height: 3px !important;
            margin: 0 !important;
            margin-right: 5px !important;
            position: relative;
            @include border-radius(0px !important);

            &:before{
              content: "";
              position: absolute;
              background: transparent;
              width: 100%;
              height: 3px;
              left: 0;
              top: 0;
              transition: all 0.2s linear;
            }

          }

          &.active span,
          &:hover span{
            background-color: $main-color-blue !important;
          }
          &:hover span{
            &:before{
              background-color: $main-color-blue !important;
              top: -3px;
            }
          }
          &:last-child{
            span{margin-right: 0 !important;}
          }
        }

        &-stage-outer{
          height: 225px;
          overflow: hidden;
        }
      }
    }

    &-title{
      color: $main-color-white;
      font-size: 44px;
      font-weight: 300;
      line-height: 1.07;
    }

    &-desc{
      color: $main-color-white;
      font-size: 26px;
      font-weight: 300;
      line-height: 1.07;
    }
  }

  &-chartarea{
    color: $main-color-white;
    margin-bottom: 50px;

    &-column{

      &-headtitle{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid transparentize($main-color-light-stale-gray, 0.7);
        padding-bottom: 5px;

        &-title,
        &-volume{
          font-size: 20px;
          font-weight: normal;
          margin: 0;
          padding: 0;
          line-height: 1;
        }

        &-title{color: $main-color-white;}
        &-volume{color: $main-color-light-stale-gray;}
      }

      &-chartbox{}
    }
  }

  &-bigprice{
    color: $main-color-white;

    &-list{
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;

      &-item{
        color: $main-color-white;
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        line-height: 0.9;
        letter-spacing: -0.3px;
        position: relative;

        &:before{
          content: "";
          position: absolute;
          width: 1px;
          height: 44px;
          top: calc(50% - 20px);
          right: -25px;
          background-color: transparentize($main-color-light-stale-gray, 0.7);
        }

        &:last-child{
          &:before{display: none;}
        }
      }
    }

    &-title{
      color: $main-color-light-stale-gray;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: -0.2px;
      margin: 0;
    }

    &-volume{
      display: block;

      .colorgreen{color: $main-color-green;}

      sup{
        font-size: 12px;
        font-weight: 900;
        letter-spacing: normal;
        text-align: center;
        position: relative;
        top: -12px;
      }
    }
  }

  &-register{
    margin-top: 30px;

    &-title{
      text-align: center;
      margin-bottom: 10px;
    }


    .columntitle{
      color: $main-color-white;
      text-align: center;
      &.bottomborder{
        display: initial;
        &:before{
          background-color: transparentize($main-color-light-stale-gray, 0.7);
          opacity: 1;
          width: 100%;
          left: 0;
        }
      }
    }

    &-formarea{
      padding-top: 20px;

      .form-group{
        margin-bottom: 14px;
      }
      .form-control{
        color: $main-color-white;
        background-color: transparent;
        border-color: transparentize($main-color-light-stale-gray, 0.7);
        border-right: none;
        border-top: none;
        height: auto;
        padding: 5px 10px 8px;
        font-size: 17px;
        @include border-radius(0px);
        &:focus{
          @include box-shadow(0,0,0,transparent);
        }
      }
      @include placeholder{
        color: $main-color-light-stale-gray;
      }
      .recaptcha{
        background-color: black;
        margin-bottom: 13px;
        @include border-radius(6px);
      }
      .form-check{
        margin-bottom: 13px;
        *{color: $main-color-light-stale-gray;}
        a{
          text-decoration: underline !important;
          &:hover{
            color: $main-color-green;
          }
        }
      }
      .form-button{
        .btn{
          width: 100%;
          font-size: 19px;
          font-weight: 300;
          letter-spacing: -0.2px;
          padding: 11px 10px;
          border:none;
          @include gradient(#0a93ea, #00387c);
        }
      }
    }
  }

  &-summarytable{
    color: $main-color-white;
    padding-top: 114px;
    overflow: hidden;

    > .container{
      position: relative;
      padding-bottom: 15px;

      &:before,
      &:after{
        content: "";
        background-color: $main-color-white;
        position: absolute;
        width: 1000%;
        height: 50%;
        bottom: 0;
        top: 50%;
        z-index: 1;
      }
      &:before{
        left: calc(100% + 20px);
      }
      &:after{
        right: calc(100% + 20px);
      }
    }

    > .container > .row{
      &:before,
      &:after{
        content: "";
        background-color: $main-color-white;
        position: absolute;
        width: 4px;
        height: 4px;
        bottom: -2px;
        z-index: 1;
        @include rotate(45);
      }
      &:before{
        left: -22px;
      }
      &:after{
        right: -22px;
      }
    }

    &-columntitle{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid transparentize($main-color-light-stale-gray, 0.7);
      margin-bottom: 2px;
      padding-bottom: 2px;

      &-title{
        margin: 0;
        padding: 0;
        font-weight: 300;
        font-size: 20px;
        min-height: 26px;
      }
      &-select{
        color: $main-color-light-stale-gray;
        background-color: transparent;
        border: none;
        font-size: 20px;
        option{
          background-color: $main-color-dark-blue;
        }
      }
    }

  }

  &-depth{
    padding-left: 0;

    .tablecolumn{
      margin: 0;
      &-grid{
        position: relative;

        &-01{
          padding-right: 1px;
          padding-left: 0;
          .table{
            th, td{
              text-align: right;
            }
          }
        }
        &-02{
          padding-left: 1px;
          padding-right: 0;
          .table{
            th, td{
              text-align: left;
            }
          }
        }

      }
    }
  }

  &-converter{
    padding-right: 0;

    &-column{
      margin-top: 12px;
    }
  }

  &-whyicrypex{
    background-color: $main-color-white;
    padding: 90px 0 110px;

    .container > .columntitle{
      margin-bottom: 30px;
      color: $main-color-title-blue;
    }

    &-list{
      div[class*="col-"]{
        padding-left: 0;
        padding-right: 35px;
      }
      &-item{
        display: flex;
        padding-top: 23px;
        padding-bottom: 23px;

        &-icon{
          flex: 0 0 70px;
          background-color: transparentize(#78787b, 0.85);
          margin-right: 15px;

          .icon-svg{
            width: 42px;
            height: 42px;
            display: block;
            margin: 0 auto;
            margin-top: 12px;
          }

        }
        &-text{
          flex: 0 0 calc(100% - 85px);
          color: $main-color-title-blue;

          > .columntitle{
            font-weight: normal;
            &.bottomborder{
              &:before{
                width: 100%;
              }
              &:after{
                height: 2px;
              }
            }
          }

          p{
            color: $main-color-title-blue;
            font-size: 17px;
            line-height: 1.12;
            margin: 0;
            margin-top: 10px;
          }

        }
      }

    }
  }

  &-webtrader{
    background-color: $main-color-dark-blue;

    &-content{
      padding-top: 100px;
      padding-bottom: 140px;
      padding-left: 0;
      padding-right: 30px;
      .columntitle{
        color: $main-color-white;
        &:before{
          width: 200px;
        }
      }

      &-desc{
        color: $main-color-light-stale-gray;
        font-size: 17px;
        margin: 0;
        margin-top: 25px;
        line-height: 1.18;
      }
      &-list{
        color: $main-color-light-stale-gray;
        font-size: 17px;
        margin: 0;
        margin-top: 15px;
        line-height: 1.29;
      }
      &-btn{
        margin: 0;
        margin-top: 35px;
        background-color: $main-color-btn-blue;
        border: none;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: -0.2px;
        padding: 10px 20px;
      }
    }

    &-image{
      &-img{
        max-width: none;
        width: 790px;
        height: 656px;
        object-fit: contain;
        margin-top: -37px;
      }
    }
  }

  &-mobiletrader{
    background-color: $main-color-white;

    &-content{
      padding-top: 110px;
      padding-right: 30px;
      padding-left: 28px;
      .columntitle{
        &:before{
          width: 200px;
        }
      }

      &-desc{
        color: $main-color-title-blue;
        font-size: 17px;
        margin: 0;
        margin-top: 25px;
        line-height: 1.18;
      }
      &-list{
        color: $main-color-title-blue;
        font-size: 17px;
        margin: 0;
        margin-top: 15px;
        line-height: 1.29;
      }
      &-btn{
        margin-top: 35px;
        &-item{
          margin-right: 35px;
          &:last-child{
            margin-right: 0;
          }
          &.apple{}
          &.android{}
        }
      }
    }

    &-image{
      margin-top: -45px;
      padding-left: 0;
      overflow: hidden;

      &-list{
        margin-bottom: 0;
        position: relative;
        &-item{
          display: inline-block;
          position: absolute;
          height: 646px;

          img{
            max-width: none;
          }

          &.apple{
            width: 350px;
            left: 0;
          }
          &.android{
            width: 355px;
            left: 110px;
            position: relative;
            img{
              &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 100%;
                box-shadow: -10px 10px 10px rgba(0,0,0,0.5);
              }
            }
          }
        }
      }
    }

  }

  .cryptinvestment{
    color: $main-color-white;
    background-color: $main-color-dark-blue;
    padding-top: 125px;
    padding-bottom: 70px;

    &-threebox{
      margin-top: 53px;
      &-item{
        padding: 0;

        &-bluebg{
          color: $main-color-white;
          background-color: transparentize($main-color-btn-blue, 0.5);
          width: 70px;
          height: 150px;
          font-size: 50px;
          font-weight: 100;
          line-height: 0.64;
          font-style: normal;
          text-align: center;
          display: block;
          margin: 0 auto;
          padding: 15px 0;
          position: relative;

          &:before{
            content: "";
            background-color: $main-color-blue;
            width: 40px;
            height: 2px;
            position: absolute;
            bottom: 15px;
            left: calc(50% - 20px);
          }
        }
        &-title{
          color: $main-color-white;
          font-size: 20px;
          font-weight: 300;
          text-align: center;
          margin: 0;
          margin-top: 15px;
        }
      }
    }

    &-content{
      color: $main-color-light-stale-gray;
      text-align: center;
      margin-top: 40px;

      &-title{
        color: $main-color-light-stale-gray;
        font-size: 22px;
        font-weight: normal;
        line-height: 1.45;
        margin-bottom: 10px;
      }
      &-desc{
        color: $main-color-light-stale-gray;
        font-size: 17px;
        line-height: 1.12;
        margin: 0;
      }
      &-btn{
        margin: 0;
        margin-top: 50px;
        background-color: $main-color-btn-blue;
        border: none;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: -0.2px;
        padding: 10px 30px
      }
    }
  }

}