$homepageImgPath : "../../img/mainpage";

.homepage{

  &-top{
    &-left{
      padding-left: 0;
      padding-right: 40px;
    }
    &-right{
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-slider{
    &-wapper{
      position: relative;
      margin: 0;
      padding-top: 40px;

      &-item{
        color: $main-color-white;
        padding: 20px 0;
      }
      .owl{

        &-dots{
          margin: 0 !important;
          position: absolute;
          left: 0;
          top: 0;
        }
        &-dot{

          span{
            background-color: $main-color-light-stale-gray !important;
            width: 40px !important;
            height: 3px !important;
            margin: 0 !important;
            margin-right: 5px !important;
            @include border-radius(0px !important);
          }

          &.active span,
          &:hover span{
            background-color: $main-color-blue !important;
          }

          &:last-child{
            span{margin-right: 0 !important;}
          }
        }

        &-stage-outer{
          height: 225px;
          overflow: hidden;
        }
      }
    }

    &-title{
      color: $main-color-white;
      font-size: 44px;
      font-weight: 300;
      line-height: 1.07;
    }

    &-desc{
      color: $main-color-white;
      font-size: 26px;
      font-weight: 300;
      line-height: 1.07;
    }
  }

  &-chartarea{
    color: $main-color-white;
    margin-bottom: 50px;

    &-column{

      &-headtitle{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $main-color-light-stale-gray-border;
        padding-bottom: 5px;

        &-title,
        &-volume{
          font-size: 20px;
          font-weight: normal;
          margin: 0;
          padding: 0;
          line-height: 1;
        }

        &-title{color: $main-color-white;}
        &-volume{color: $main-color-light-stale-gray;}
      }

      &-chartbox{}
    }
  }

  &-bigprice{
    color: $main-color-white;

    &-list{
      display: flex;
      justify-content: space-between;

      &-item{
        color: $main-color-white;
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        line-height: 0.9;
        letter-spacing: -0.3px;
        position: relative;

        &:before{
          content: "";
          position: absolute;
          width: 1px;
          height: 44px;
          top: calc(50% - 20px);
          right: -25px;
          background-color: $main-color-light-stale-gray-border;
        }

        &:last-child{
          &:before{display: none;}
        }
      }
    }

    &-title{
      color: $main-color-light-stale-gray;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: -0.2px;
      margin: 0;
    }

    &-volume{
      display: block;

      .colorgreen{color: $main-color-green;}

      sup{
        font-size: 12px;
        font-weight: 900;
        letter-spacing: normal;
        text-align: center;
        position: relative;
        top: -12px;
      }
    }
  }

  &-register{
    margin-top: 30px;

    &-formarea{
      padding-top: 20px;

      .form-group{
        margin-bottom: 13px;
      }
      .form-control{
        color: $main-color-white;
        background-color: transparent;
        border-color: $main-color-light-stale-gray-border;
        border-right: none;
        border-top: none;
        height: auto;
        padding: 5px 10px 8px;
        font-size: 17px;
        @include border-radius(0px);
        &:focus{
          @include box-shadow(0,0,0,transparent);
        }
      }
      @include placeholder{
        color: $main-color-light-stale-gray;
      }
      .recaptcha{
        background-color: black;
        margin-bottom: 13px;
        @include border-radius(6px);
      }
      .form-check{
        margin-bottom: 13px;
        *{color: $main-color-light-stale-gray;}
        a{
          text-decoration: underline !important;
          &:hover{
            color: $main-color-green;
          }
        }
      }
      .form-button{
        .btn{
          width: 100%;
          font-size: 19px;
          font-weight: 300;
          letter-spacing: -0.2px;
          padding: 14px 10px;
          border:none;
          @include gradient(#0a93ea, #00387c);
        }
      }
    }
  }

}