$mainpageHomepageImgPath : "../../img/mainpage";
$globalSvgIconImgPath : "../../img/global/svg";

// Mainpage Language
html[lang="en"]{
  .homepage-loggedin-progress-desc{
    display: flex;
    justify-content: center;

    strong{
      margin-left: 3px;
      order: 2;
    }
  }

  .homepage-loggedin-notification{
    .firsttext{
      display: inline-flex;

      strong{
        margin-left: 3px;
        order: 2;
        position: relative;

        &::after{
          content: ".";
          position: relative;
        }
      }
    }
    .secondtext{}
  }

  .homepage-mobiletrader-content-btn-item{
    &.apple{
      background-image: url(#{$globalSvgIconImgPath}/Sprite_App_Store_Button_EN.svg);
    }
    &.android{
      background-image: url(#{$globalSvgIconImgPath}/Sprite_Google_Play_Button_EN.svg);
    }
  }

  .homepage-bigprice-list-item{
    &.itemexcavating h4 span{

      &:first-child{order: 2;}
      &:last-child{order: 1;}
    }
  }

}