.login{

  &-page{
    padding: 35px 0;
    background-color: $global-clr-white;
    display: flex;

    > .container{
      display: flex;
      flex-direction: column;
    }

    .body-center{
      //justify-content: center;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .columntitle{
      color: $global-clr-dark-blue;
      padding-bottom: 8px;
      letter-spacing: normal;
      font-size: 25px;
      font-weight: normal;

      &::before{
        width: 100%;
        height: 1px;
        max-width: inherit !important;
        left: 0 !important;
      }
      &::after{
        width: 60px;
        left: calc(50% - 37px);
      }
    }
  }

  &-bigicon{
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 2px solid $global-clr-soft-blue;
    position: relative;
    @include border-radius(50%);
    i{
      width: 50px;
      height: 50px;
      position: absolute;
      left: calc(50% - 25px);
      top: calc(50% - 25px);
    }
    i[class*="loginlock"]{
      top: calc(50% - 28px);
    }
  }

  &-column{
    display: flex;
    flex-direction: column;
    height: 100%;

    &-top{
      color: $global-clr-dark-blue;
      text-align: center;
      margin-top: 25px;
      margin-bottom: 20px;

      &-title{
        font-size: 17px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 2px;
      }
      &-desc{
        color: $global-clr-dark-blue;
        font-size: 17px;
      }
    }

    &-navigation{
      margin-top: 10px;

      &-buttons{
        color: $global-clr-soft-gray;
        position: relative;
        display: flex;
        font-size: 17px;
        align-items: center;

        i.iconcircleback{
          width: 20px;
          height: 20px;
          margin-right: 5px;
          position:relative;
          display: block;
          border: 1px solid transparentize($global-clr-soft-gray, 0.7);
          @include border-radius(100%);

          &::after{
            content:"";
            position:absolute;
            width: 6px;
            height: 6px;
            top: calc(50% - 3px);
            left: calc(50% - 2px);
            border-bottom:1px solid $global-clr-soft-blue;
            border-left:1px solid $global-clr-soft-blue;
            @include rotate(45);
          }
        }
      }
    }
  }

  &-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-tags-300{
      width: 300px;
      margin: 25px auto;
    }

    &-tags-530{
      width: 530px;
      margin: 0 auto;
    }

    .form-group{
      &.recaptcha{
        margin-top: 10px;
      }
    }

    &-info{
      color: $global-clr-soft-blue;
      font-size: 16px;
      margin-top: 5px;

      a{color: $global-clr-soft-blue;}

      &-icon{
        width: 18px;
        height: 18px;
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        line-height: 1.4;
        text-align: center;
        border: 1px solid transparentize($global-clr-soft-gray, 0.70);
        @include border-radius(50%);
      }
    }

    &-btn{
      margin-top: 40px;
    }

    &-check{
      display: flex;
      justify-content: center;
      max-width: 700px;
      margin: auto;
      margin-top: 20px;
    }
  }
}