.login{

  &-page{
    padding: 35px 0;
    background-color: $global-clr-white;
    display: flex;

    @include ReSassWidthResponsive(576){
      padding: 25px 0;
    }

    > .container{
      display: flex;
      flex-direction: column;

      @include ReSassWidthResponsive(992){
        display: block;
      }
      @include ReSassHeightResponsive(800){
        display: block;
      }
    }

    .body-center{
      //justify-content: center;
      display: flex;
      flex-direction: column;
      height: 100%;

      @include ReSassWidthResponsive(992){
        display: block;
      }
      @include ReSassHeightResponsive(1100){
        display: block;
      }
    }

    .columntitle{
      color: $global-clr-dark-blue;
      padding-bottom: 8px;
      letter-spacing: normal;
      font-size: 25px;

      @include ReSassWidthResponsive(576){
        font-size: 20px;
      }

      &::before{
        width: 100%;
        height: 1px;
        max-width: inherit !important;
        left: 0 !important;
      }
      &::after{
        width: 60px;
        left: calc(50% - 37px);
      }
    }
  }

  &-bigicon{
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 2px solid transparentize($global-clr-soft-gray, 0.7);
    position: relative;
    @include border-radius(50%);

    @include ReSassWidthResponsive(576){
      width: 70px;
      height: 70px;
    }

    i{
      width: 36px;
      height: 36px;
      position: absolute;
      left: calc(50% - 18px);
      top: calc(50% - 18px);
    }
    i[class*="loginlock"]{
      top: calc(50% - 20px);
    }
    i[class*="loginsms"]{
      height: 56px;
      top: calc(50% - 28px);
    }
  }

  &-column{
    display: flex;
    flex-direction: column;
    height: 100%;

    @include ReSassWidthResponsive(992){
      display: block;
    }
    @include ReSassHeightResponsive(1100){
      display: block;
    }

    &-top{
      color: $global-clr-dark-blue;
      text-align: center;
      margin-top: 25px;
      margin-bottom: 20px;

      &-title{
        font-size: 17px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 2px;
      }
      &-desc{
        color: $global-clr-dark-blue;
        font-size: 17px;

        @include ReSassWidthResponsive(768){
          line-height: 1.1;
        }
      }
    }

    &-navigation{
      margin-top: 10px;

      &-buttons{
        color: $global-clr-soft-gray;
        position: relative;
        display: flex;
        font-size: 17px;
        align-items: center;

        i.iconcircleback{
          width: 20px;
          height: 20px;
          margin-right: 5px;
          position:relative;
          display: block;
          border: 1px solid transparentize($global-clr-soft-gray, 0.7);
          @include border-radius(100%);

          &::after{
            content:"";
            position:absolute;
            width: 6px;
            height: 6px;
            top: calc(50% - 3px);
            left: calc(50% - 2px);
            border-bottom:1px solid $global-clr-soft-blue;
            border-left:1px solid $global-clr-soft-blue;
            @include rotate(45);
          }
        }
      }
    }
  }

  &-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-tags-300{
      width: 300px;
      margin: 25px auto;
    }

    &-tags-530{
      width: 530px;
      margin: 0 auto;

      @include ReSassWidthResponsive(576){
        width: auto;
      }

      .form-row{
        @include ReSassWidthResponsive(576){
          flex-direction: column;
        }
      }
    }

    .form-group{
      &.recaptcha{
        margin-top: 10px;
      }
    }

    &-info{
      color: $global-clr-soft-blue;
      font-size: 16px;
      margin-top: 5px;

      a{color: $global-clr-soft-blue;}

      &-icon{
        width: 18px;
        height: 18px;
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        line-height: 1.4;
        text-align: center;
        border: 1px solid transparentize($global-clr-soft-gray, 0.70);
        @include border-radius(50%);
      }
    }

    &-btn{
      margin-top: 40px;

      @include ReSassWidthResponsive(576){
        margin-top: 20px;
      }
      @include ReSassWidthResponsive(480){
        margin-top: 0;
      }
    }

    &-check{
      display: flex;
      justify-content: center;
      max-width: 700px;
      margin: auto;
      margin-top: 20px;

      @include ReSassWidthResponsive(576){
        padding-left: 30px;
        margin-bottom: 40px;
      }

      .form-row{
        @include ReSassWidthResponsive(768){
          flex-direction: column;
        }

        div[class*="col"]{
          &:first-child{
            margin-top: 0;
          }
          @include ReSassWidthResponsive(768){
            margin-top: 15px;
          }
          @include ReSassWidthResponsive(480){
            margin-top: 25px;
          }
        }
      }
    }

    @include webkit-autofill{
      -webkit-box-shadow: 0 0 0 30px #FFFFFF inset !important;
      -webkit-text-fill-color: $global-clr-dark-blue !important;
    }
  }

  &-forminfo{
    color: $global-clr-white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;

    &-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &-bigicon{
      width: 90px;
      height: 90px;
      margin: 30px auto 20px;
      border: 2px solid $global-clr-green;
      position: relative;
      @include border-radius(50%);
      animation-name:pulse;
      animation-duration:1s;
      animation-fill-mode:both;

      i{
        width: 50px;
        height: 50px;
        position: absolute;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
      }
      i[class*="check"]{
        top: calc(50% - 25px);

        &::after{
          content:"";
          position:absolute;
          width: 42px;
          height: 18px;
          top: 10px;
          left: 6px;
          border-bottom:2px solid $global-clr-green;
          border-left:2px solid $global-clr-green;
          @include rotate(-50);
        }
      }
    }

    &-infoarea{
      display: flex;
      flex-flow: column nowrap;
      text-align: center;

      &-desc{
        color: $global-clr-dark-blue;
        font-size: 17px;
        line-height: 1.18;
        margin-bottom: 5px;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    &-callcenter{
      margin-top: 15px;
      color: $global-clr-dark-blue;

      &-title{
        margin: 0;
        font-size: 17px;
        font-weight: normal;
      }
      &-number{
        color: $global-clr-dark-blue;
        font-size: 17px;
        font-weight: 500;
      }
    }

    .site-button{
      margin-top: 40px;
    }
  }
}