$globalSvgIconImgPath : "../../img/global/svg";

.research{

  &-blog{
    margin-top: 30px;
    padding-left: 0 !important;
    border-right: 1px solid transparentize($global-clr-soft-gray, 0.7);

    @include ReSassWidthResponsive(768){
      margin-top: 10px;
      border-right: none;
      padding-right: 0 !important;
    }

    &-content{
      .blogheadtitlearea{
        *[class*="boxtitle"]{
          color: $global-clr-dark-blue;
          padding-bottom: 7px;
        }

        *[class*="boxtitle"] > a{
          color: $global-clr-dark-blue;
          @include transition(color, 0.3s, ease-in-out);

          &:hover{
            color: $global-clr-soft-blue;
          }
        }

        .blogdateandtagsbar{
          display: flex;
          justify-content: space-between;
          color: $global-clr-soft-gray;
          border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);
          border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);
          padding-top: 5px;
          padding-bottom: 5px;
          margin-bottom: 5px;
          line-height: 1;

          @include ReSassWidthResponsive(480){
            display: block !important;
          }

          ul{
            li{
              color: $global-clr-soft-gray;
              font-size: 14px;
              font-weight: 500;

              display: inline-block;
              position: relative;

              a{
                color: $global-clr-soft-blue;
                text-decoration: none !important;
              }
            }
          }

          &-date{
            li{
              padding-left: 5px;
              padding-right: 5px;

              &::after{
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                background-color: $global-clr-soft-gray;
                right: -2px;
                top: 0;
              }

              &:first-child{
                padding-left: 0 !important;
              }
              &:last-child{
                padding-right: 0 !important;
                &::after{
                  display: none !important;
                }
              }
            }
          }

          &-tags{
            @include ReSassWidthResponsive(480){
              margin-top: 5px;
            }
          }

        }
      }
    }

    &-list{
      margin-top: 5px;

      &-item{
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 5px;
        border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);

        @include ReSassWidthResponsive(992){
          display: block !important;
        }

        &:first-child{
          padding-top: 0 !important;
        }

        &:last-child{
          padding-bottom: 0 !important;
          margin-bottom: 0 !important;
          border-bottom: 0 !important;
        }

        &-img{
          width: 210px;
          height: 100%;
          padding-right: 0 !important;

          @include ReSassWidthResponsive(992){
            width: 100%;
            padding: 0 !important;
          }

          a{display: block}

          img{
            @include ReSassWidthResponsive(992){
              width: 100%;
            }
          }
        }

        &-content{
          width: 100%;
          height: 100%;
          margin-top: -5px;
          line-height: 1;

          @include ReSassWidthResponsive(992){
            padding: 0 !important;
            margin-top: 10px;
          }

          .blogdescription{

            p{font-size: 14px;}

            &-morelink{
              color: $global-clr-soft-blue;
              text-decoration: none !important;
              font-size: 14px;
              padding-right: 10px;
              position: relative;

              &::before{
                content: "";
                position:absolute;
                width: 8px;
                height: 8px;
                padding: 0;
                border-top: 2px solid $global-clr-soft-blue;
                border-right: 2px solid $global-clr-soft-blue;
                top: calc(50% - 3px);
                right: 0;
                @include rotate(45);
              }
            }
          }
        }
      }
    }

    &-detail{
      &-content{

        .blogdetailimage{
          width: 100%;
          height: 100%;
          margin-top: 20px;

          img{
            width: 100%;
            height: 100%;
          }
        }

        .blogdetailcontent{
          margin-top: 20px;
          line-height: 1;

          h2,h3{
            font-size: 16px;
            margin-bottom: 0;
          }

          p,ul,li{
            font-size: 19px;
          }

          > img{
            display: block;
            text-align: center;
            max-width: 600px;
            margin: 20px auto;
            border: 5px solid transparentize($global-clr-soft-gray, 0.7);
            position: relative;
          }

          > a{
            display: block;
            text-align: center;
            max-width: 600px;
            margin: 20px auto;
            border: 5px solid transparentize($global-clr-soft-gray, 0.7);
            position: relative;
            cursor: inherit;

            &::after{
              content: "DAHA BÜYÜK";
              color: $global-clr-white;
              background-color: $global-clr-soft-gray;
              font-size: 14px;
              padding: 8px 15px;
              position: absolute;
              right: 10px;
              bottom: 10px;
              cursor: pointer;
              @include border-radius(4px);
            }
          }

          a{
            color: $global-clr-soft-blue !important;
            text-decoration: underline !important;
            @include transition(all, 0.3s, ease-in-out);

            &:hover{
              color: transparentize($global-clr-soft-blue, 0.3) !important;
              text-decoration: underline !important;
            }
          }

          ul{
            margin-bottom: 10px;

            li{
              br{display: none;}
            }
            li{
              position: relative;
              padding-left: 17px;
              margin-bottom: 10px;

              &:last-child{
                margin-bottom: 0;
              }

              &::before{
                content:"";
                position:absolute;
                width: 9px;
                height: 9px;
                top: 6px;
                left: 0;
                border-top:2px solid $global-clr-soft-blue;
                border-right:2px solid $global-clr-soft-blue;
                @include rotate(45);
              }
            }
          }
        }
      }

      &-sharenavigation{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
        position: relative;

        &::before{
          content: "";
          background-color: transparentize($global-clr-soft-gray, 0.7);
          position: absolute;
          width: 100%;
          height: 1px;
          left: 0;
          top: calc(50% - 1px);
          z-index: 0;
        }

        .navigationbackbutton{
          color: $global-clr-soft-blue;
          background-color: $global-clr-white;
          display: flex;
          align-items: center;
          font-size: 14px;
          padding-right: 10px;
          text-decoration: none !important;
          position: relative;
          top: -3px;
          z-index: 1;

          i.iconcircleback{
            width: 20px;
            height: 20px;
            margin-right: 5px;
            position:relative;
            display: block;
            border: 1px solid transparentize($global-clr-soft-gray, 0.7);
            @include border-radius(100%);

            &::after{
              content:"";
              position:absolute;
              width: 6px;
              height: 6px;
              top: calc(50% - 3px);
              left: calc(50% - 2px);
              border-bottom:1px solid $global-clr-soft-blue;
              border-left:1px solid $global-clr-soft-blue;
              @include rotate(45);
            }
          }

          span{
            color: $global-clr-soft-blue;
            position: relative;
          }
        }

        .blogsharesocial{
          &-list{
            background-color: $global-clr-white;
            display: flex;
            align-items: center;
            margin: 0;
            padding-left: 10px;
            position: relative;
            z-index: 1;

            li{
              height: 30px;
              margin: 0 2px;

              &:first-child{
                margin-left: 0 !important;
              }
              &:last-child{
                margin-right: 0 !important;
              }
            }

            &-text{
              font-size: 14px;

              span{
                display: block;
                margin-right: 3px;
              }
            }

            &-item{
              position: relative;
              top: -2px;

              a{
                background-color: $global-clr-btn-blue;
                width: 30px;
                height: 30px;
                text-align: center;
                @include border-radius(30px);
                @include transition(background, 0.3s, ease-in-out);

                &:hover{
                  background-color: $global-clr-soft-blue;
                }
              }
            }
          }
          &-icon{
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            overflow: hidden;
            width: 14px;
            height: 14px;
            display: block;
            margin: 8px auto;

            &.facebook{background-image: url(#{$globalSvgIconImgPath}/Footer_Facebook_Logo.svg);}
            &.twitter{background-image: url(#{$globalSvgIconImgPath}/Footer_Twitter_Logo.svg);}
            &.linkedin{background-image: url(#{$globalSvgIconImgPath}/Footer_Linkedin_Logo.svg);}
          }
        }

      }
    }

    &-comments{
      margin-top: 20px;

      &-writearea{
        background-color: $global-clr-light-gray;

        &-notloginuser{
          font-size: 14px;
          text-align: center;
          padding: 30px 15px;
          margin-top: 20px;

          h4, p{
            font-size: 14px;
            margin: 0;
            padding: 0;
          }
        }

        &-loginuser{
          font-size: 14px;
          padding: 15px;
          margin-top: 20px;
        }

        .commentswriteareabuttons{
          max-width: 400px;
          margin: 15px auto 0;

          .btn{
            font-size: 20px !important;
            padding-top: 4px !important;
            padding-bottom: 4px !important;
            height: 40px !important;

            @include ReSassWidthResponsive(480){
              font-size: 17px !important;
              height: 35px !important;
            }
          }
        }
      }

      &-list{
        &-item{
          background-color: $global-clr-light-gray;
          font-size: 14px;
          padding: 15px;
          margin-top: 20px;

          ul{
            margin-bottom: 5px;

            li{
              border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);
              padding-top: 20px;
              padding-left: 35px;
              margin-top: 20px;
              position: relative;

              &:before{
                content: "";
                background-image: url(#{$globalSvgIconImgPath}/Blog_Icon_Comments_Answer.svg);
                background-position: left top;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                position: absolute;
                left: 10px;
                top: 22px;
              }
            }
          }
        }
      }

      .blogcommentsuser{
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &-avatar{
          width:40px;
          height:40px;
          margin-right: 7px;

          img{
            width:40px;
            height:40px;
            border-radius:50%;
          }
        }

        &-textarea{
          line-height: 1.1;
          text-align: left;
          position: relative;
          top: -1px;

          h5{
            color: $global-clr-dark-blue;
            font-size: 14px;
            margin: 0;
            text-transform: uppercase;
          }
          small{
            color: $global-clr-soft-gray;
            font-size: 14px;
          }
        }
      }

      .formuinew{
        .btn{
          font-size: 12px;
          height: 30px;
          padding-top: 3px;
          padding-bottom: 3px;
          margin-top: 5px;
        }
      }
    }

    &-others{
      padding-left: 0 !important;

      &-list{
        margin-top: 15px;

        &-image{
          display: block;
          margin-bottom: 7px;

          img{
            width: 100%;
          }
        }

        &-title{
          font-size: 14px;
          margin-bottom: 7px;

          > a{
            color: $global-clr-dark-blue;
            @include transition(color, 0.3s, ease-in-out);

            &:hover{
              color: $global-clr-soft-blue;
            }
          }
        }

        .blogdateandmorebtn{
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $global-clr-soft-gray;
          border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);
          border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);
          padding-top: 5px;
          padding-bottom: 5px;
          line-height: 1.2;

          &-date{
            li{
              color: $global-clr-soft-gray;
              font-size: 14px;
              font-weight: 500;
              display: block;
              position: relative;
            }
          }

          &-btn{
            padding: 5px 0;

            i.iconcircleback{
              width: 20px;
              height: 20px;
              position:relative;
              display: block;
              border: 1px solid transparentize($global-clr-soft-gray, 0.7);
              @include border-radius(100%);

              &::after{
                content:"";
                position:absolute;
                width: 6px;
                height: 6px;
                top: calc(50% - 3px);
                left: calc(50% - 4px);
                border-bottom:1px solid $global-clr-soft-blue;
                border-left:1px solid $global-clr-soft-blue;
                @include rotate(225);
              }
            }
          }
        }
      }
    }
  }
}

/* Cross Browser Start */
html.IExplorer{

}
/* Cross Browser End */