
.research{

  &-section{
    background-color: $global-clr-white;
    padding: 5px 0 40px;

    @include ReSassWidthResponsive(768){
      padding: 5px 0 25px;
    }
    @include ReSassWidthResponsive(576){
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    .d-flex > *[class*="col"]{
      padding-left: 10px;
      padding-right: 10px;

      @include ReSassWidthResponsive(480){
        padding-left: 0;
        padding-right: 0;
      }

      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
    }

    &.blog-other-section{
      margin-top: -20px;
    }
  }

  &-wrapper{
    width: 100%;
  }

  &-content{

    *{color: $global-clr-dark-blue;}

    *[class*="columntitle"]{
      padding-bottom: 10px;
      margin-bottom: 10px;

      &::before{
        width: 100%;
        max-width: inherit;
        height: 1px;
      }
      &::after{
        width: 60px;
        height: 4px;
      }
    }

    *[class*="columntitle"] + p{
      margin-top: 20px;
    }

    p{
      font-size: 17px;
      margin-bottom: 10px;
      line-height: 1.2;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &-sidebar{
    margin-top: 30px;
    padding-right: 0 !important;

    &-subscription{
      .form-group{
        &:last-child{
          margin-bottom: 0 !important;
        }
      }
    }

    &-navigasyon{}

    &-mostreaded{
      &-list{
        &-item{
          padding-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);

          &:first-child{
            padding-top: 0 !important;
          }

          .boxtitle{
            margin-bottom: 10px;
            > a{
              color: $global-clr-dark-blue;
            }
          }

          .blogdateandtagsbar{
            color: $global-clr-soft-gray;

            &-date{
              display: flex;
              justify-content: space-between;

              @include ReSassWidthResponsive(1200){
                display: block !important;
                line-height: 1;
              }

              li{
                color: $global-clr-soft-gray;
                font-size: 14px;
                font-weight: 500;
                display: inline-block;
                position: relative;
                padding-left: 5px;
                padding-right: 5px;

                @include ReSassWidthResponsive(1200){
                  padding-left: 0 !important;
                  padding-right: 0 !important;
                }

                &:first-child{
                  padding-left: 0 !important;
                }
                &:last-child{
                  padding-right: 0 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Cross Browser Start */
html.IExplorer{

}
/* Cross Browser End */