
.technology{

  &-section{
    background-color: $mainpage-color-white;
    padding: 0 0 40px;

    .container > .row > .col-12{
      padding-left: 0;
      padding-right: 0;
    }

    .d-flex > *[class*="col"]{
      padding-left: 7px;
      padding-right: 7px;

      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
    }

    &-navigation{
      margin-top: 10px;
      width: 100%;

      &-buttons{
        color: $mainpage-color-light-stale-gray;
        position: relative;
        display: flex;
        font-size: 17px;
        align-items: center;

        i.iconcircleback{
          width: 20px;
          height: 20px;
          margin-right: 5px;
          position:relative;
          display: block;
          border: 1px solid transparentize($mainpage-color-light-stale-gray, 0.7);
          @include border-radius(100%);

          &:after{
            content:"";
            position:absolute;
            width: 6px;
            height: 6px;
            top: calc(50% - 3px);
            left: calc(50% - 2px);
            border-bottom:1px solid $mainpage-color-blue;
            border-left:1px solid $mainpage-color-blue;
            @include rotate(45);
          }
        }
      }
    }
  }

  &-tabscontent{
    &-wrapper{
      padding: 10px 0 0;

      &.ptop30{
        padding-top: 30px;
      }
    }

    &-graphics{
      width: 570px;

      &-box{
        color: $mainpage-color-title-blue;
        border: 1px solid transparentize($mainpage-color-light-stale-gray, 0.7);
        position: relative;
        font-size: 17px;
        padding: 10px 15px 15px;
        margin-top: 15px;

        &:first-child{
          margin-top: 0;
        }

        &-title{
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 5px;
        }

        img{
          margin-top: 5px;
        }

        &-desc{
          border-top: 1px solid transparentize($mainpage-color-light-stale-gray, 0.7);
          margin-top: 15px;
          padding-top: 10px;

          h4{
            font-size: 17px;
            margin: 0;
            padding: 0;
          }
          font-size: 15px;
          line-height: 1.2;
        }
      }
    }

    &-content{

      &-box{
        padding: 10px 0 15px;
        font-size: 17px;
        line-height: 1.2;

        *{color: $mainpage-color-title-blue;}
        &-title{
          font-size: 20px;
          font-weight: 500;
          margin: 0;
        }
        &-subtitle{
          font-size: 17px;
          font-weight: 500;
          margin: 0;
        }

        p, ul{
          margin-bottom: 15px;
        }

        &-contlist{
          color: $mainpage-color-title-blue;
          text-align: left;
          margin: auto;

          li{
            position: relative;
            padding-left: 17px;

            &:before{
              content:"";
              position:absolute;
              width: 9px;
              height: 9px;
              top: calc(50% - 3px);
              left: 0;
              border-top:2px solid $mainpage-color-blue;
              border-right:2px solid $mainpage-color-blue;
              @include rotate(45);
            }
          }
        }

        .urllink{
          color: $mainpage-color-blue;
          text-decoration: underline;
        }
      }

      &-icons{
        margin-top: 10px;

        &-buttons{
          color: $mainpage-color-blue;
          position: relative;
          display: inline-flex;
          font-size: 15px;
          align-items: center;

          i.iconplus{
            width: 18px;
            height: 18px;
            margin-right: 5px;
            position:relative;
            display: block;
            border: 1px solid transparentize($mainpage-color-light-stale-gray, 0.7);
            @include border-radius(100%);

            &:before,
            &:after{
              content:"";
              position:absolute;
              background-color: $mainpage-color-blue;
              width: 10px;
              height: 2px;
              top: calc(50% - 1px);
              left: calc(50% - 5px);
              @include rotate(0);
            }
            &:after{
              @include rotate(90);
            }
          }

          i[class*="icon-svg"]{
            display: block;
            margin-right: 5px;
            width: 20px;
            height: 20px;
          }

        }
      }
    }
  }

  &-tabcontent{
    border: 1px solid transparentize($mainpage-color-light-stale-gray, 0.7);
    border-top: none;
    width: 100%;

    &-searchbox{
      background-color: $mainpage-color-light-bg-gray;
      padding: 15px;
      display: flex;
      justify-content: center;

      &-search{
        background-color: transparentize($mainpage-color-light-stale-gray, 0.85);
        width: 388px;
        height: 40px;
        margin-right: 4px;

        .input-group,
        .form-control{
          height: 100%;
        }

        .form-control{
          color: $mainpage-color-light-stale-gray;
          background-color: transparent;
          border: 0;
          font-size: 17px;
          padding-top: 3px;

          &:focus{
            color: $mainpage-color-light-stale-gray;
            @include box-shadow(0,0,0,0);
          }
        }

        @include placeholder{
          color: $mainpage-color-light-stale-gray;
        }

        .btn{
          border: none;
          background-color: transparent;
          width: 40px;
          text-indent: -9999px;
          position: relative;
          &:not(:disabled):not(.disabled):active:focus,
          &:active,
          &:focus{
            @include box-shadow(0,0,0,0);
            background-color: transparent;
          }

          &:before{
            content: "";
            position: absolute;
            width: 17px;
            height: 17px;
            background-image: url(#{$mainpageSvgIconImgPath}/Search_Icon.svg);
            left: calc(50% - 9px);
            top: calc(50% - 9px);
          }
        }
      }
    }

    &-pagination{
      background-color: $mainpage-color-light-bg-gray;
      padding: 15px;
      display: flex;
      justify-content: center;

      .pagination{

        .page{

          &-item{
            margin: 0 5px;
          }

          &-link{
            color: $mainpage-color-light-stale-gray;
            background-color: transparent;
            font-size: 15px;
            line-height: 1;
            min-width: 100px;
            height: 100%;
            padding: 0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-color: lighten($mainpage-color-light-stale-gray, 30%);
            @include border-radius(0);
            @include transition(all, 0.1s, linear);

            i{
              width: 28px;
              height: 28px;
              display: inline-block;
            }

            &-prev,
            &-next{
              background-color: lighten($mainpage-color-light-stale-gray, 30%);
              position: relative;
              @include transition(all, 0.2s, linear);

              &:before{
                content: "";
                position:absolute;
                width: 9px;
                height: 9px;
                top: calc(50% - 5px);
                padding: 0;
                border-top: 2px solid $mainpage-color-light-stale-gray;
                border-right: 2px solid $mainpage-color-light-stale-gray;
              }
            }

            &-prev{
              &:before{
                @include rotate(225);
                left: calc(50% - 3px);
              }
            }

            &-next{
              &:before{
                @include rotate(45);
                left: calc(50% - 5px);
              }
            }

            &-date{
              width: 70px;
            }

            &:hover{
              background-color: transparent;
              border-color: lighten($mainpage-color-light-stale-gray, 20%);

              .page-link-prev,
              .page-link-next{
                background-color: lighten($mainpage-color-light-stale-gray, 20%);
              }

            }
            &.active{
              color: $mainpage-color-white;
              background-color: $mainpage-color-light-stale-gray;
              border-color: $mainpage-color-light-stale-gray;

              .page-link-date{
                width: 100%;
              }
            }
          }
        }
      }
    }

    &-sidebar{
      width: 270px;

      &-box{
        border: 1px solid transparentize($mainpage-color-light-stale-gray, 0.7);
        width: 100%;

        *[class*="boxtitle"]{
          font-size: 20px;
          padding-bottom: 5px;
          margin-bottom: 0;

          h3{
            font-size: 20px;
            font-weight: 500;
            margin: 0;
            padding: 0;
          }

          span{
            font-size: 17px;
          }
        }

        &-p15{
          padding: 10px 15px 5px;
        }
      }

      &-qrcode{
        margin-top: 10px;

        &-svg{
          width: 152px;
          height: 152px;
          padding: 3px;
          border: 1px solid transparentize($mainpage-color-light-stale-gray, 0.7);
          margin: 12px auto;
        }
      }
    }
  }
}