
.technology{

  &-chain{

    &-box{
      position: relative;
      width: 100%;

      &.allblocktables{
        max-width: 620px;
        margin: 0 auto;
      }

      &[class*="col"]{
        padding-left: 15px !important;
        padding-right: 15px !important;

        @include ReSassResponsive(1200){
          padding: 0 !important;
          padding-top: 40px !important;

          &:first-child{
            padding-top: 0 !important;
            margin-top: 0;
          }
        }
        @include ReSassResponsive(768){
          padding-top: 30px !important;
        }

        &::before{
          content: "";
          background-color: transparentize($global-clr-soft-gray, 0.7);
          position: absolute;
          left: 0;
          bottom: 0;
          width: 1px;
          height: calc(100% - 5px);


          @include ReSassResponsive(1200){
            background-color: $global-clr-white;
            width: calc(100% + 32px);
            height: 30px;
            bottom: auto;
            top: 0;
            left: -16px;
          }
          @include ReSassResponsive(768){
            height: 20px;
          }
          @include ReSassResponsive(400){
            width: calc(100% + 22px);
            left: -11px;
          }
        }

        &::after{
          @include ReSassResponsive(1200){
            content: "";
            background-color: transparentize($global-clr-soft-gray, 0.7);
            position: absolute;
            width: calc(100% + 30px);
            height: 1px;
            left: -15px;
          }
          @include ReSassResponsive(400){
            width: calc(100% + 20px);
            left: -10px;
          }
        }

        &:first-child{
          padding-left: 0 !important;
          padding-bottom: 15px !important;

          @include ReSassResponsive(400){
            padding-bottom: 7px !important;
          }

          &::before{display: none}
          &::after{bottom: 0;}
        }
        &:last-child{
          padding-right: 0 !important;
          &::after{
            top: 30px;

            @include ReSassResponsive(768){
              top: 20px;
            }
          }
        }
      }

      &-title{
        color: $global-clr-dark-blue;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;

        &-date{
          color: $global-clr-dark-blue;
          font-size: 17px;
        }

        &-hash{
          color: $global-clr-dark-blue;
          font-size: 17px;
          font-weight: 500;

          @include ReSassResponsive(768){
            margin-top: 5px;
            margin-bottom: 10px;
            overflow: hidden;
            width: 100%;
            text-align: left;
          }
          @include ReSassResponsive(576){
            position: relative;
            display: inline-block;
            padding-top: 5px;
            text-align: center;
          }

          &::after{
            @include ReSassResponsive(768){
              content: "...";
              background-color: $global-clr-white;
              position: absolute;
              width: 12px;
              text-align: left;
              right: auto;
            }
            @include ReSassResponsive(576){
              text-align: center;
              right: 0;
              top: 6px;
            }
          }



        }

        &-pag{

          &.d-flex{
            position: relative;

            @include ReSassResponsive(576){
              background-color: $global-clr-light-gray;
              width: 100%;
              justify-content: space-between;
              align-items: center;
            }

            &::before,
            &::after{
              @include ReSassResponsive(576){
                content: "";
                background-color: lighten($global-clr-soft-gray, 30%);
                position: absolute;
                width: calc(100% - 68px);
                height: 1px;
                left: 34px;
              }
            }

            &::before{
              @include ReSassResponsive(576){
                top: 0;
              }
            }
            &::after{
              @include ReSassResponsive(576){
                bottom: 0;
              }
            }

            *[class*="dropdown"]{
              margin: 0 2px;
              &:first-child{
                margin-left: 0;
              }
              &:last-child{
                margin-right: 0;
              }
            }
            h3[class*="title-pag"]{
              margin-left: 5px;

              @include ReSassResponsive(576){
                margin-left: 0;
                margin-bottom: 0;
              }
            }

            *[class*="leftdirection"],
            *[class*="rightdirection"]{
              @include ReSassResponsive(576){
                background-color: lighten($global-clr-soft-gray, 30%);
                width: 34px;
                height: 34px;
                margin: 0;
                border-color: transparent;
              }
            }
            *[class*="leftdirection"]{
              @include ReSassResponsive(576){
                order: 1;
              }
            }
            *[class*="rightdirection"]{
              @include ReSassResponsive(576){
                order: 3;
              }
            }
            h3[class*="title-pag"]{
              @include ReSassResponsive(576){
                order: 2;
              }
            }

          }
        }
      }
    }

    &-table{

      td, th{
        text-align: left;
        padding-left: 9px;
        padding-right: 9px;

        &:first-child{
          padding-left: 0;
        }
      }

      thead{
        th{
          border-top-width: 1px;
          border-top-style: solid;
        }

        th.buttons{
          width: 90px;
        }
      }

      tbody{
        tr:last-child{
          td{
            border-bottom-width: 1px;
            border-bottom-style: solid;

            @include ReSassResponsive(1200){
              border-bottom-width: 0;
            }
          }
        }

        td{
          padding-top: 2px;
          padding-bottom: 2px;

          &:last-child{
            @include ReSassResponsive(768){
              background-color: $global-clr-light-gray;
              padding-left: 10px !important;
              padding-right: 10px !important;
            }
          }
          &::before{
            color: $global-clr-dark-blue;
          }
        }

        td.blockhash{
          span{
            overflow: hidden;
            display: block;
            max-width: 320px;
            position: relative;

            @include ReSassResponsive(768){
              max-width: 300px;
            }
            @include ReSassResponsive(576){
              max-width: 200px;
            }
            @include ReSassResponsive(480){
              max-width: 160px;
            }
            @include ReSassResponsive(400){
              max-width: 120px;
            }

            &::after{
              content: "...";
              position: absolute;
              right: 0;
              top: 0;
              background: white;
              width: 11px;
              text-align: right;
            }
          }
        }
        td.valueout{
          width: 100px;
          white-space: nowrap;

          @include ReSassResponsive(768){
            width: 100%;
          }
        }
        td.detailbtn{
          width: 80px;

          @include ReSassResponsive(768){
            width: 100%;
          }
        }
      }

      .btn{
        padding: 7px 5px;
        font-size: 15px;
        line-height: 1;
        min-width: 80px;

        @include ReSassResponsive(768){
          width: 100%;
        }
      }
    }

    &-summary{
      padding: 15px;

      @include ReSassResponsive(400){
        padding: 10px;
      }

      @include ReSassResponsive(1200){
        flex-direction: column;
      }
    }

    &-block{
      padding: 15px;

      @include ReSassResponsive(400){
        padding: 10px;
      }

      &-title{
        &-box{
          width: 100%;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);

          @include ReSassResponsive(768){
            flex-direction: column;
            align-items: flex-start;
          }
          @include ReSassResponsive(576){
            align-items: center;
          }
        }
      }

      &-wrapper{
        margin-top: 20px;

        @include ReSassResponsive(992){
          flex-direction: column;
        }
      }

      &-sidebar{

        &-ultwocolumn{
          color: $global-clr-dark-blue;

          @include ReSassResponsive(992){
            display: flex;
            flex-wrap: wrap;
            margin-top: 15px;
          }

          &.bordertop{
            border-top: 1px solid transparentize($global-clr-soft-gray, 0.85);
          }
          &.borderbottom{
            border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.85);
          }

          li{
            border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.85);
            padding: 5px 0;
            font-size: 15px;

            @include ReSassResponsive(992){
              width: calc(50% - 5px);
              padding: 5px 10px;
              border: 1px solid transparentize($global-clr-soft-gray, 0.85);
              margin-top: -1px;

              &:nth-child(odd){
                margin-right: 10px;
              }
            }
            @include ReSassResponsive(576){
              width: 100%;
              padding: 5px 0;
              border: none;
              border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.85);
              margin-top: 0;

              &:nth-child(odd){
                margin-right: 0;
              }
            }

            *[class*="col"]{
              &:first-child{
                width: 45%;
                white-space: nowrap;
              }
              &:last-child{
                white-space: nowrap;
              }
            }

            &:last-child{
              border-bottom: none;

              @include ReSassResponsive(992){
                border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.85);
              }
              @include ReSassResponsive(576){
                border-bottom: none;
              }
            }
          }
        }

        &-page{
          background-color: $global-clr-light-gray;
          padding: 5px 7px;

          .pagination{
            justify-content: space-between;

            .page{

              &-item{
                margin: 0 3px;
                min-height: 30px;

                @include ReSassResponsive(992){
                  width: 100%;
                }
                @include ReSassResponsive(400){
                  width: auto;
                }

                &:first-child{
                  margin-left: 0;
                }
                &:last-child{
                  margin-right: 0;
                }
              }

              &-link{
                color: $global-clr-soft-gray;
                background-color: transparent;
                font-size: 15px;
                line-height: 1;
                min-width: 77px;
                height: 100%;
                padding: 0;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-color: lighten($global-clr-soft-gray, 30%);
                @include border-radius(0);
                @include transition(all, 0.1s, linear);

                @include ReSassResponsive(1200){
                  min-width: auto;
                }

                i{
                  width: 28px;
                  height: 28px;
                  display: inline-block;
                }

                &-prev,
                &-next{
                  background-color: lighten($global-clr-soft-gray, 30%);
                  position: relative;
                  @include transition(all, 0.2s, linear);

                  &::before{
                    content: "";
                    position:absolute;
                    width: 9px;
                    height: 9px;
                    top: calc(50% - 5px);
                    padding: 0;
                    border-top: 2px solid $global-clr-soft-gray;
                    border-right: 2px solid $global-clr-soft-gray;
                  }
                }

                &-prev{
                  &::before{
                    @include rotate(225);
                    left: calc(50% - 3px);
                  }
                }

                &-next{
                  &::before{
                    @include rotate(45);
                    left: calc(50% - 5px);
                  }
                }

                &-height{
                  width: 50px;
                  padding: 7px 0 6px;

                  @include ReSassResponsive(1200){
                    display: none;
                  }
                  @include ReSassResponsive(992){
                    display: block;
                  }
                  @include ReSassResponsive(400){
                    display: none;
                  }
                }

                &:hover{
                  background-color: transparent;
                  border-color: lighten($global-clr-soft-gray, 20%);

                  .page-link-prev,
                  .page-link-next{
                    background-color: lighten($global-clr-soft-gray, 20%);
                  }

                }
                &.active{
                  color: $global-clr-white;
                  background-color: $global-clr-soft-gray;
                  border-color: $global-clr-soft-gray;
                  justify-content: center;

                  &.page-link{
                    @include ReSassResponsive(1200){
                      min-width: 100%;
                    }
                  }

                  .page-link-height{
                    @include ReSassResponsive(1200){
                      display: block;
                      min-width: 150px;
                    }
                    @include ReSassResponsive(576){
                      min-width: 100px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &-transactions{
        padding-top: 10px;

        @include ReSassResponsive(992){
          padding: 0 !important;
        }

        *[class*="boxtitle"]{
          font-size: 20px;
          font-weight: 500;
          padding-bottom: 7px;
          margin-bottom: 12px;
        }

        .divwidth600{
          max-width: 600px;
          margin-top: 15px;

          @include ReSassResponsive(1200){
            max-width: none;
          }

          *[class*="boxtitle"]{
            margin-bottom: 0;
            padding-bottom: 5px;
          }

          &:first-child{
            margin-top: 0;
          }
        }

        &-ultwocolumn{
          color: $global-clr-dark-blue;

          &.bordertop{
            border-top: 1px solid transparentize($global-clr-soft-gray, 0.85);
          }
          &.borderbottom{
            border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.85);
          }

          li{
            border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.85);
            padding: 5px 0;
            font-size: 15px;

            @include ReSassResponsive(480){
              flex-direction: column;
            }

            > *[class*="col"]{

              @include ReSassResponsive(480){
                width: 100% !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
              }

              &:first-child{
                width: 45%;
                white-space: nowrap;
              }
              &:last-child{
                white-space: nowrap;
              }
            }

            &:last-child{
              border-bottom: none;
            }

            .progress{
              width: 100%;
              max-width: 100px;
              height: 12px;
              padding: 0 !important;
              margin-left: 5px;
              @include border-radius(12px);

              &-bar{
                height: 12px;
                background-color: $global-clr-green;
              }
            }

            .blockhash{
              span{
                overflow: hidden;
                display: block;
                max-width: 320px;
                position: relative;

                @include ReSassResponsive(768){
                  max-width: 300px;
                }
                @include ReSassResponsive(576){
                  max-width: 200px;
                }
                @include ReSassResponsive(480){
                  max-width: 100%;
                }
                @include ReSassResponsive(400){
                  max-width: 100%;
                }

                &::after{
                  content: "...";
                  background: white;
                  width: 11px;
                  text-align: left;
                }
              }
            }
          }
        }

        &-box{
          border: 1px solid transparentize($global-clr-soft-gray, 0.7);
          color: $global-clr-dark-blue;
          margin-top: 15px;

          &:first-child{
            margin-top: 0;
          }

          &-header{
            justify-content: space-between;
            padding: 10px 15px;

            @include ReSassResponsive(768){
              flex-direction: column;
            }

            i[class*="icon-svg"]{
              width: 18px;
              height: 18px;
              //margin-right: 4px;
            }

            &-hash{
              @include ReSassResponsive(768){
                padding-right: 0 !important;
              }

              > a{
                @include ReSassResponsive(768){
                  overflow: hidden;
                  width: 100%;
                }
              }

            }

            &-date{
              @include ReSassResponsive(768){
                padding-left: 25px !important;
              }
            }

          }
          &-footer{
            justify-content: space-between;
            align-items: center;
            padding: 10px 15px;

            @include ReSassResponsive(480){
              flex-direction: column;
              padding: 5px 10px;
            }

            &-fee{
              text-align: left;

              @include ReSassResponsive(480){
                padding: 0 !important;
              }
            }

            &-confirm{
              display: flex;
              justify-content: flex-end;

              @include ReSassResponsive(480){
                justify-content: flex-start;
                padding: 0 !important;
              }

              li{
                position: relative;
                float: left;
                padding: 0 10px;
                line-height: 1;
                font-weight: 500;
                white-space: nowrap;

                &::before{
                  content: "";
                  position: absolute;
                  width: 1px;
                  height: 100%;
                  background-color: transparentize($global-clr-soft-gray, 0.7);
                  left: 0;
                  top: 0;
                }

                &:first-child{
                  padding-left: 0;
                  &::before{display: none;}
                }
                &:last-child{
                  padding-right: 0;
                }
              }
            }
          }

          &-body{
            padding: 15px;

            @include ReSassResponsive(576){
              padding: 10px 10px 15px;
            }

            &-form{

              &-group{
                margin-top: 15px;

                &:first-child{
                  margin-top: 0;
                }

                &.rightarrow{
                  position: relative;

                  &::before{
                    content: "";
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    border-top: 3px solid $global-clr-soft-gray;
                    border-right: 3px solid $global-clr-soft-gray;
                    top: 13px;
                    left: calc(50% - 9px);
                    @include rotate(45);

                    @include ReSassResponsive(576){
                      width: 10px;
                      height: 10px;
                      border-top-width: 2px;
                      border-right-width: 2px;
                      top: 22px;
                      left: calc(50% - 7px);
                    }
                  }
                }

                div[class*="col"]{
                  max-width: 50%;

                  &:nth-child(odd){
                    padding-right: 20px !important;

                    @include ReSassResponsive(576){
                      padding-right: 10px !important;
                    }
                  }

                  &:nth-child(even){
                    padding-left: 20px !important;

                    @include ReSassResponsive(576){
                      padding-left: 10px !important;
                    }
                  }
                }

                .transactionsinput{
                  justify-content: space-between;
                  align-items: center;
                  height: 40px;
                  padding: 10px;
                  border-width: 1px;
                  border-style: solid;
                  border-color: transparent;
                  margin-top: 15px;

                  @include ReSassResponsive(576){
                    display: block !important;
                    height: 56px;
                    padding: 5px 10px;
                    overflow: hidden;
                    text-align: left !important;
                  }

                  &:first-child{
                    margin-top: 0;
                  }

                  strong{
                    overflow: hidden;

                    @include ReSassResponsive(576){
                      display: block !important;
                      padding: 0 !important;
                      text-align: left !important;
                    }

                    &:first-child{
                      position: relative;
                      width: 100%;
                      flex-basis: 0;
                      flex-grow: 1;
                      text-align: left;
                      overflow: hidden;
                    }

                    &:last-child{
                      position: relative;
                      text-align: right;
                      overflow: hidden;
                      flex: 0 0 auto;
                      width: auto;
                      max-width: 100%;
                    }

                    &.sitecolorblue{
                      position: relative;
                      display: inline-block;

                      &::after{
                        content: "...";
                        background-color: $global-clr-light-gray;
                        position: absolute;
                        width: 20px;
                        top: 0;
                        right: auto;

                        @include ReSassResponsive(1200){
                          right: 0;
                        }
                        @include ReSassResponsive(576){
                          width: 10px;
                        }
                      }
                    }
                  }

                  &.dashedinput{
                    border-style: dashed;
                    border-color: transparentize($global-clr-soft-gray, 0.7);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}