
.technology{

  &-mining{

    &-wrapper{
      width: 100%;
      padding-top: 30px;

      @include ReSassWidthResponsive(992){
        flex-direction: column;
      }
    }

    &-content{}

    &-graphics{

      @include ReSassWidthResponsive(992){
        padding: 0 !important;
        margin-bottom: 20px;
      }

      &-box{
        color: $global-clr-dark-blue;
        border: 1px solid transparentize($global-clr-soft-gray, 0.7);
        position: relative;
        font-size: 14px;
        padding: 10px 15px 15px;
        margin-top: 15px;

        @include ReSassWidthResponsive(480){
          padding: 10px;
        }

        &:first-child{
          margin-top: 0;
        }

        &-title{
          color: $global-clr-dark-blue;
          font-size: 16px;
          font-weight: 500;
          margin: 0;
          padding: 0;

          @include ReSassWidthResponsive(400){
            font-size: 14px;
          }

          &-box{
            border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);
            padding-bottom: 5px;

            @include ReSassWidthResponsive(576){
              flex-direction: column;
              text-align: center;
            }
          }

          &-converter{
            color: $global-clr-dark-blue;
            font-size: 16px;
            font-weight: 500;

            @include ReSassWidthResponsive(400){
              font-size: 14px;
            }
          }
        }

        &-form{
          padding: 10px 0 5px;

          .form-row{
            @include ReSassWidthResponsive(400){
              flex-direction: column;
            }

            div[class*="col"]{
              @include ReSassWidthResponsive(576){
                flex: 0 0 50%;
                max-width: 50%;
              }
              @include ReSassWidthResponsive(400){
                flex: 0 0 100%;
                max-width: 100%;
              }
            }
          }

          .form-group{
            margin-bottom: 0;
          }

          .form-control{
            font-size: 14px;
            font-weight: 500;
          }

          .input-group-append{
            position: relative;

            &::before{
              content: "";
              position: absolute;
              width: 1px;
              height: 100%;
              background-color: transparentize($global-clr-soft-gray, 0.70);
              left: 1px;
              top: 0;
            }
            select.form-control{
              min-width: 75px !important;
            }
          }
        }

        &-bottomarrow{
          height: 20px;
          position: relative;

          &::before{
            content: "";
            position: absolute;
            width: 14px;
            height: 14px;
            border-bottom: 3px solid $global-clr-soft-blue;
            border-left: 3px solid $global-clr-soft-blue;
            top: 0;
            left: calc(50% - 8px);
            @include rotate(-45);
          }
        }

        &-table{
          padding-top: 8px;

          &-tr{
            border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);
            border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);
            margin-top: 10px;
            padding: 2px 0;

            @include ReSassWidthResponsive(576){
              flex-wrap: wrap;
              text-align: center;
              padding: 0;
              border-top: none;
            }

            &:first-child{
              margin-top: 0;
            }

            div[class*="col"]{
              padding-top: 5px !important;
              padding-bottom: 5px !important;
              padding-left: 15px !important;
              line-height: 1;
              position: relative;

              @include ReSassWidthResponsive(576){
                flex: 0 0 calc(100% / 3);
                max-width: calc(100% / 3);
                padding: 15px 10px !important;
              }
              @include ReSassWidthResponsive(400){
                flex: 0 0 calc(100% / 1);
                max-width: calc(100% / 1);
                padding: 10px !important;
                border-left: 1px solid transparentize($global-clr-soft-gray, 0.7);
                border-right: 1px solid transparentize($global-clr-soft-gray, 0.7);
              }

              &:first-child{
                @include border-radii(3px,0,0,3px);
                padding-left: 5px !important;

                @include ReSassWidthResponsive(576){
                  flex: 0 0 calc(100% / 1);
                  max-width: calc(100% / 1);
                  padding: 8px 10px!important;
                  @include border-radii(3px,3px,0,0);
                }
              }

              &:nth-child(2){
                @include ReSassWidthResponsive(576){
                  border-left: 1px solid transparentize($global-clr-soft-gray, 0.7);
                }
              }
              &:nth-child(4){
                @include ReSassWidthResponsive(576){
                  border-right: 1px solid transparentize($global-clr-soft-gray, 0.7);
                }
              }

              &:nth-child(1),
              &:nth-child(2){
                &::before{
                  display: none !important;
                }
              }

              &[class*="sitebg"]{
                color: $global-clr-white;
              }

              span, strong, small{
                display: block;
                white-space: nowrap;
              }
              span{
                font-size: 12px;

                @include ReSassWidthResponsive(480){
                  font-size: 13px;
                }
                @include ReSassWidthResponsive(400){
                  font-size: 12px;
                }
              }
              strong{
                font-size: 16px;

                @include ReSassWidthResponsive(480){
                  font-size: 14px;
                }
                @include ReSassWidthResponsive(400){
                  font-size: 16px;
                }
              }
              small{
                font-size: 13px;
                font-weight: 500;
                margin-top: 2px;
              }
              sup{
                font-size: 12px;
                font-weight: 900;
                text-align: center;
                position: relative;
                top: -5px;

                @include ReSassWidthResponsive(480){
                  font-size: 10px;
                }
                @include ReSassWidthResponsive(400){
                  font-size: 12px;
                }
              }

              &::before{
                content: "";
                position: absolute;
                width: 1px;
                height: 32px;
                background-color: transparentize($global-clr-soft-gray, 0.7);
                left: -5px;
                top: calc(50% - 14px);

                @include ReSassWidthResponsive(576){
                  left: 0;
                }
                @include ReSassWidthResponsive(400){
                  width: calc(100% - 20px);
                  height: 1px;
                  top: 0;
                  left: 10px;
                }
              }

            }
          }
        }
      }
    }
  }
}