
.technology{

  &-chain{

    &-box{
      position: relative;
      width: 100%;

      &.allblocktables{
        max-width: 620px;
        margin: 0 auto;
      }

      &[class*="col"]{
        padding-left: 15px !important;
        padding-right: 15px !important;

        &::before{
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 1px;
          height: calc(100% - 5px);
          background-color: transparentize($global-clr-soft-gray, 0.7);
        }

        &:first-child{
          padding-left: 0 !important;
          &::before{display: none}
        }
        &:last-child{
          padding-right: 0 !important;
        }
      }

      &-title{
        color: $global-clr-dark-blue;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;

        &-date{
          color: $global-clr-dark-blue;
          font-size: 17px;
        }

        &-hash{
          color: $global-clr-dark-blue;
          font-size: 17px;
          font-weight: 500;
        }
      }
    }

    &-table{

      td, th{
        text-align: left;
        padding-left: 9px;
        padding-right: 9px;

        &:first-child{
          padding-left: 0;
        }
      }

      thead{
        th{
          border-top-width: 1px;
          border-top-style: solid;
        }

        th.buttons{
          width: 90px;
        }
      }

      tbody{
        tr:last-child{
          td{
            border-bottom-width: 1px;
            border-bottom-style: solid;
          }
        }

        td{
          padding-top: 2px;
          padding-bottom: 2px;
        }

        td.blockhash{
          span{
            overflow: hidden;
            display: block;
            max-width: 320px;
            position: relative;
            &::after{
              content: "...";
              position: absolute;
              right: 0;
              top: 0;
              background: white;
              width: 11px;
              text-align: right;
            }
          }
        }
        td.valueout{
          width: 100px;
          white-space: nowrap;
        }
        td.detailbtn{
          width: 80px;
        }

      }

      .btn{
        padding: 7px 5px;
        font-size: 15px;
        line-height: 1;
        min-width: 80px;
      }
    }

    &-summary{
      padding: 15px;
    }

    &-block{
      padding: 15px;

      &-title{
        &.d-flex{
          *[class*="dropdown"]{
            margin: 0 2px;
            &:first-child{
              margin-left: 0;
            }
            &:last-child{
              margin-right: 0;
            }
          }
          *[class*="title"]{
            margin-left: 5px;
          }
        }
        &-box{
          border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);
        }
      }

      &-wrapper{
        margin-top: 20px;
      }

      &-sidebar{

        &-ultwocolumn{
          color: $global-clr-dark-blue;

          &.bordertop{
            border-top: 1px solid transparentize($global-clr-soft-gray, 0.85);
          }
          &.borderbottom{
            border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.85);
          }

          li{
            border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.85);
            padding: 5px 0;
            font-size: 15px;

            *[class*="col"]{
              &:first-child{
                width: 45%;
                white-space: nowrap;
              }
              &:last-child{
                white-space: nowrap;
              }
            }

            &:last-child{
              border-bottom: none;
            }
          }
        }

        &-page{
          background-color: $global-clr-light-gray;
          padding: 5px 7px;

          .pagination{

            .page{

              &-item{
                margin: 0 3px;

                &:first-child{
                  margin-left: 0;
                }
                &:last-child{
                  margin-right: 0;
                }
              }

              &-link{
                color: $global-clr-soft-gray;
                background-color: transparent;
                font-size: 15px;
                line-height: 1;
                min-width: 77px;
                height: 100%;
                padding: 0;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-color: lighten($global-clr-soft-gray, 30%);
                @include border-radius(0);
                @include transition(all, 0.1s, linear);

                i{
                  width: 28px;
                  height: 28px;
                  display: inline-block;
                }

                &-prev,
                &-next{
                  background-color: lighten($global-clr-soft-gray, 30%);
                  position: relative;
                  @include transition(all, 0.2s, linear);

                  &::before{
                    content: "";
                    position:absolute;
                    width: 9px;
                    height: 9px;
                    top: calc(50% - 5px);
                    padding: 0;
                    border-top: 2px solid $global-clr-soft-gray;
                    border-right: 2px solid $global-clr-soft-gray;
                  }
                }

                &-prev{
                  &::before{
                    @include rotate(225);
                    left: calc(50% - 3px);
                  }
                }

                &-next{
                  &::before{
                    @include rotate(45);
                    left: calc(50% - 5px);
                  }
                }

                &-height{
                  width: 50px;
                }

                &:hover{
                  background-color: transparent;
                  border-color: lighten($global-clr-soft-gray, 20%);

                  .page-link-prev,
                  .page-link-next{
                    background-color: lighten($global-clr-soft-gray, 20%);
                  }

                }
                &.active{
                  color: $global-clr-white;
                  background-color: $global-clr-soft-gray;
                  border-color: $global-clr-soft-gray;
                  justify-content: center;

                  .page-link-date{
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }

      &-transactions{
        padding-top: 10px;

        *[class*="boxtitle"]{
          font-size: 20px;
          font-weight: 500;
          padding-bottom: 7px;
          margin-bottom: 12px;
        }

        .divwidth600{
          max-width: 600px;
          margin-top: 15px;

          *[class*="boxtitle"]{
            margin-bottom: 0;
            padding-bottom: 5px;
          }

          &:first-child{
            margin-top: 0;
          }
        }

        &-ultwocolumn{
          color: $global-clr-dark-blue;

          &.bordertop{
            border-top: 1px solid transparentize($global-clr-soft-gray, 0.85);
          }
          &.borderbottom{
            border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.85);
          }

          li{
            border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.85);
            padding: 5px 0;
            font-size: 15px;

            *[class*="col"]{
              &:first-child{
                width: 45%;
                white-space: nowrap;
              }
              &:last-child{
                white-space: nowrap;
              }
            }

            &:last-child{
              border-bottom: none;
            }

            .progress{
              max-width: 100px;
              height: 12px;
              padding: 0 !important;
              @include border-radius(12px);

              &-bar{
                height: 12px;
                background-color: $global-clr-green;
              }
            }
          }
        }

        &-box{
          border: 1px solid transparentize($global-clr-soft-gray, 0.7);
          color: $global-clr-dark-blue;
          margin-top: 15px;

          &:first-child{
            margin-top: 0;
          }

          &-header{
            padding: 10px 15px;

            i[class*="icon-svg"]{
              width: 18px;
              height: 18px;
              margin-right: 4px;
            }
          }
          &-footer{
            padding: 10px 15px;

            ul{
              li{
                position: relative;
                float: left;
                padding: 0 10px;
                line-height: 1;
                font-weight: 500;

                &::before{
                  content: "";
                  position: absolute;
                  width: 1px;
                  height: 100%;
                  background-color: transparentize($global-clr-soft-gray, 0.7);
                  left: 0;
                  top: 0;
                }

                &:first-child{
                  padding-left: 0;
                  &::before{display: none;}
                }
                &:last-child{
                  padding-right: 0;
                }
              }
            }
          }

          &-body{
            padding: 15px;

            &-form{

              &-group{
                margin-top: 15px;

                &:first-child{
                  margin-top: 0;
                }

                &.rightarrow{
                  position: relative;

                  &::before{
                    content: "";
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    border-top: 3px solid $global-clr-soft-gray;
                    border-right: 3px solid $global-clr-soft-gray;
                    top: 13px;
                    left: calc(50% - 9px);
                    @include rotate(45);
                  }
                }

                div[class*="col"]{
                  max-width: 50%;

                  &:nth-child(odd){
                    padding-right: 20px !important;
                  }

                  &:nth-child(even){
                    padding-left: 20px !important;
                  }
                }

                .transactionsinput{
                  height: 40px;
                  padding: 10px;
                  border-width: 1px;
                  border-style: solid;
                  border-color: transparent;

                  margin-top: 15px;

                  &:first-child{
                    margin-top: 0;
                  }

                  &.dashedinput{
                    border-style: dashed;
                    border-color: transparentize($global-clr-soft-gray, 0.7);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}