
.technology{

  &-chain{

    &-box{
      position: relative;
      width: 100%;

      &.allblocktables{
        max-width: 620px;
        margin: 0 auto;
      }

      &[class*="col"]{
        padding-left: 15px !important;
        padding-right: 15px !important;

        &:before{
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 1px;
          height: calc(100% - 5px);
          background-color: transparentize($mainpage-color-light-stale-gray, 0.7);
        }

        &:first-child{
          padding-left: 0 !important;
          &:before{display: none}
        }
        &:last-child{
          padding-right: 0 !important;
        }
      }

      &-title{
        color: $mainpage-color-title-blue;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;

        &-date{
          color: $mainpage-color-title-blue;
          font-size: 17px;
        }

        &-hash{
          color: $mainpage-color-title-blue;
          font-size: 17px;
          font-weight: 500;
        }
      }
    }

    &-table{

      td, th{
        text-align: left;
        padding-left: 9px;
        padding-right: 9px;

        &:first-child{
          padding-left: 0;
        }
      }

      thead{
        th{
          border-top-width: 1px;
          border-top-style: solid;
        }

        th.buttons{
          width: 90px;
        }
      }

      tbody{
        tr:last-child{
          td{
            border-bottom-width: 1px;
            border-bottom-style: solid;
          }
        }

        td{
          padding-top: 2px;
          padding-bottom: 2px;
        }
      }

      .btn{
        padding: 7px 5px;
        font-size: 15px;
        line-height: 1;
        min-width: 80px;
      }
    }

    &-summary{
      padding: 15px;
    }

    &-block{
      padding: 15px;

      &-title{

        &.d-flex{
          *[class*="dropdown"]{
            margin: 0 2px;
            &:first-child{
              margin-left: 0;
            }
            &:last-child{
              margin-right: 0;
            }
          }
          *[class*="title"]{
            margin-left: 5px;
          }
        }
        &-box{
          border-bottom: 1px solid transparentize($mainpage-color-light-stale-gray, 0.7);
        }
      }
    }
  }
}