
.whathow{

  &-section{
    background-color: $global-clr-white;
    padding: 15px 0 40px;

    @include ReSassWidthResponsive(576){
      padding: 5px 0 25px;
    }

    @include ReSassWidthResponsive(576){
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    .d-flex > *[class*="col"]{
      padding-left: 15px;
      padding-right: 15px;

      @include ReSassWidthResponsive(992){
        padding-left: 0;
        padding-right: 0;
      }

      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
    }

    &-navigation{
      margin-top: 10px;
      width: 100%;

      &-buttons{
        color: $global-clr-soft-gray;
        position: relative;
        display: flex;
        font-size: 17px;
        align-items: center;

        i.iconcircleback{
          width: 20px;
          height: 20px;
          margin-right: 5px;
          position:relative;
          display: block;
          border: 1px solid transparentize($global-clr-soft-gray, 0.7);
          @include border-radius(100%);

          &::after{
            content:"";
            position:absolute;
            width: 6px;
            height: 6px;
            top: calc(50% - 3px);
            left: calc(50% - 2px);
            border-bottom:1px solid $global-clr-soft-blue;
            border-left:1px solid $global-clr-soft-blue;
            @include rotate(45);
          }
        }
      }
    }
  }

  &-top{
    width: 100%;
    border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);
    padding-bottom: 30px;
    margin-bottom: 30px;

    @include ReSassWidthResponsive(576){
      padding-bottom: 15px;
      margin-bottom: 15px;
    }

    &-search{
      background-color: transparentize($global-clr-soft-gray, 0.85);
      width: 600px;
      height: 40px;

      .input-group,
      .form-control{
        height: 100%;
      }

      .form-control{
        color: $global-clr-dark-blue;
        background-color: transparent;
        border: 0;
        font-size: 20px;
        padding-top: 3px;

        @include ReSassWidthResponsive(576){
          font-size: 17px;
        }

        &:focus{
          color: $global-clr-dark-blue;
          @include box-shadow(0,0,0,0);
        }
      }

      @include placeholder{
        color: $global-clr-dark-blue;
      }

      .btn{
        border: none;
        background-color: transparent;
        width: 40px;
        text-indent: -9999px;
        position: relative;
        &:not(:disabled):not(.disabled):active:focus,
        &:active,
        &:focus{
          @include box-shadow(0,0,0,0);
          background-color: transparent;
        }

        &::before{
          content: "";
          position: absolute;
          width: 17px;
          height: 17px;
          background-image: url(#{$globalSvgIconImgPath}/Search_Icon.svg);
          left: calc(50% - 9px);
          top: calc(50% - 9px);
        }
      }
    }
  }

  &-wrapper{
    width: 100%;

    @include ReSassWidthResponsive(992){
      flex-direction: column;
    }

    &-column{

      @include ReSassWidthResponsive(992){
        margin-top: 30px;

        &:first-child{
          margin-top: 0;
        }
      }

      @include ReSassWidthResponsive(576){
        margin-top: 15px;

        &:first-child{
          margin-top: 0;
        }
      }

      &-box{
        color: $global-clr-dark-blue;
        border: 1px solid transparentize($global-clr-soft-gray, 0.7);
        position: relative;
        padding: 10px 15px 15px;
        margin-top: 30px;

        @include ReSassWidthResponsive(576){
          margin-top: 15px;

          &:first-child{
            margin-top: 0;
          }
        }
        @include ReSassWidthResponsive(400){
          padding: 7px 10px 10px;
        }

        &:first-child{
          margin-top: 0;
        }

        div[class*="boxtitle"]{margin-bottom: 10px; padding-bottom: 7px;}
      }
    }
  }

  &-accordion{
    &-box{}

    &-item{
      background-color: $global-clr-light-gray;
      position: relative;
      margin-top: 10px;

      &:first-child{
        margin-top: 0;
      }

      &.active{
        .heading {
          color: $global-clr-white;
          background-color: $global-clr-soft-gray;

          .title{
            color: $global-clr-white;
          }
        }
        .icon {
          background: transparent;
          &::before {
            background: transparent;
            top: calc(50% - -1px);
            left: calc(50% - 4px);
            @include rotate(315);
            border-color: $global-clr-white;
          }
          &::after {
            content: "";
            position:absolute;
            background-color: transparent;
            width: 9px;
            height: 9px;
            padding: 0;
            border-top: 2px solid $global-clr-white;
            border-right: 2px solid $global-clr-white;
            top: calc(50% - 9px);
            left: calc(50% - 4px);
            @include rotate(135);
          }
        }
      }

      .heading {
        color: $global-clr-dark-blue;
        background-color: $global-clr-light-gray;
        display: block;
        text-decoration: none;
        font-size:17px;
        position: relative;
        padding: 8px 35px 9px 15px;
        @include transition(all, 0.2s, linear);

        &:hover {
          background-color: transparentize($global-clr-soft-gray, 0.2);

          .icon {
            background-color: transparent;

            &::before,
            &::after {
              background: transparent;
              border-color: $global-clr-white;
            }
          }

          .title{
            color: $global-clr-white;
          }
        }
      }

      .icon {
        background-color: transparent;
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        @include translate(0,-50%);
        @include transition(all, 0.3s, ease-in-out);

        /*
        &::before,
        &::after {
          content: '';
          width: 8px;
          height: 2px;
          background: #666666;
          position: absolute;
          border-radius: 3px;
          left: 50%;
          top: 50%;
          @include transition(all, 0.3s, ease-in-out);
          @include translate(-50%,-50%);
        }
        &::after {
          transform: translate(-50%, -50%) rotate(90deg);
          z-index: -1;
        }
        */

        &::before{
          content: "";
          position:absolute;
          background-color: transparent;
          width: 9px;
          height: 9px;
          padding: 0;
          border-top: 2px solid $global-clr-dark-blue;
          border-right: 2px solid $global-clr-dark-blue;
          top: calc(50% - 6px);
          left: calc(50% - 4px);
          @include rotate(135);
        }

      }

      .content {
        padding: 15px;
        display: none;

        .accimage{
          border: 5px solid $global-clr-soft-gray;
          margin-bottom: 15px;
        }

        p{
          font-size: 15px;
          margin-bottom: 15px;

          &:last-child{
            margin-bottom: 0;
          }
        }

        &-subtitle{
          font-size: 17px;
          font-weight: 500;
          margin: 0;
        }

        &-contlist{
          color: $global-clr-dark-blue;
          text-align: left;
          margin: auto;
          margin-bottom: 15px;

          li{
            position: relative;
            padding-left: 17px;

            &::before{
              content:"";
              position:absolute;
              width: 9px;
              height: 9px;
              top: 8px;
              left: 0;
              border-top:2px solid $global-clr-soft-blue;
              border-right:2px solid $global-clr-soft-blue;
              @include rotate(45);
            }
          }
        }

        &-commision{
          background-color: $global-clr-white;
          padding: 10px;

          &-table{

            .sitebggraylight{
              width: 60px;
            }

            th, td{
              font-size: 14px;
              text-align: center;
              padding: 4px !important;

              &:first-child{
                text-align: left;
                padding-left: 0 !important;
              }
            }

            thead{
              tr:first-child{
                th{
                  font-weight: 500;
                }
              }
            }

            tbody{
              tr:last-child{
                td{
                  border-bottom-width: 1px;
                  border-bottom-style: solid;
                }
              }
            }
          }
        }
      }

      &.accordion-item-link{
        .icon {
          &::before{
            top: calc(50% - 5px);
            @include rotate(45);
          }
        }
      }
    }
  }

  &-content{

    *{
      color: $global-clr-dark-blue;
    }

    *[class*="columntitle"]{
      padding-bottom: 10px;
      margin-bottom: 10px;

      &::before{
        width: 100%;
        max-width: inherit;
        height: 1px;
      }
      &::after{
        width: 60px;
        height: 4px;
      }
    }

    &-subtitle{
      font-size: 17px;
      font-weight: 500;
      margin: 0;
    }

    &-contlist{
      color: $global-clr-dark-blue;
      text-align: left;
      margin: auto;
      margin-bottom: 15px;

      li{
        position: relative;
        padding-left: 17px;

        &::before{
          content:"";
          position:absolute;
          width: 9px;
          height: 9px;
          top: 8px;
          left: 0;
          border-top:2px solid $global-clr-soft-blue;
          border-right:2px solid $global-clr-soft-blue;
          @include rotate(45);
        }
      }
    }

    p{
      font-size: 17px;
      margin-bottom: 15px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

}