
.headbreadcrumb{
  background-color: $global-clr-white;
  padding: 25px 0 15px;
  flex: inherit !important;

  @include ReSassWidthResponsive(1400){
    padding: 20px 0 15px;
  }
  @include ReSassWidthResponsive(576){
    padding: 10px 15px 15px;
  }

  > .container{
    position: relative;
    padding-bottom: 5px;

    &::before{
      content: "";
      background-color: transparentize($global-clr-soft-gray, 0.7);
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &::after{
      content: "";
      background-color: $global-clr-soft-blue;
      width: 60px;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  div[class*="-left"]{
    padding-right: 0;
    padding-left: 0;
    @include ReSassWidthResponsive(768){
      padding: 0;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  div[class*="-right"]{
    padding-right: 0;
    padding-left: 0;
    @include ReSassWidthResponsive(768){
      display: none;
    }
  }

  .breadcrumb{
    color: $global-clr-dark-blue;
    background-color: transparent;
    margin: 0;
    padding: 0;

    &-item {
      position: relative;
      text-transform: capitalize;
      display: flex;
      align-items: center;

      a{
        color: $global-clr-dark-blue;
        @include transition(color, 0.3s, ease-in-out);

        &:hover{
          color: $global-clr-soft-blue;
        }
      }

      + .breadcrumb-item{
        padding-left: 24px;

        &::before{
          content: "";
          position:absolute;
          width: 9px;
          height: 9px;
          top: calc(50% - 3px);
          left: 4px;
          padding: 0;
          border-top: 2px solid $global-clr-soft-blue;
          border-right: 2px solid $global-clr-soft-blue;
          @include rotate(45);
        }
      }

      &.active {
        color: $global-clr-soft-blue;
      }
    }
  }

  &-title{
    justify-content: flex-start;
    font-size: 25px;
    font-weight: normal;

    @include ReSassWidthResponsive(1400){
      font-size: 23px;
    }
    @include ReSassWidthResponsive(480){
      font-size: 20px;
    }

    h1,h2,h3,h4,h5,h6{
      font-size: 25px;
      font-weight: normal;
      margin: 0;
      padding: 0;

      @include ReSassWidthResponsive(1400){
        font-size: 23px;
      }
      @include ReSassWidthResponsive(480){
        font-size: 20px;
      }
    }

    .breadcrumb-item{
      + .breadcrumb-item{
        &::before{
          width: 12px;
          height: 12px !important;
          top: calc(50% - 4px);
          left: 4px;
        }
      }
    }
  }

  &-breadcrumb{
    justify-content: flex-end;
    font-size: 17px;
    font-weight: normal;

    @include ReSassWidthResponsive(1400){
      font-size: 16px;
    }
    @include ReSassWidthResponsive(768){
      justify-content: flex-start;
    }
  }
}