
.cookies-notification{
  @include transition(all, 0.3s, ease-in-out);

  &.alert{
    background-color: transparentize($global-sitebg-darkblue01, 0.10) !important;
    color: $global-clr-white !important;
    font-size: 17px;
    position: fixed;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    border: none;
    @include border-radius(0);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  &.fade{
    opacity: 0;
  }

  &.show{
    opacity: 1 !important;
    bottom: 0 !important;
  }

  &-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    &-desc{

      @include ReSassResponsive(1400){
        p{
          font-size: 15px;
        }
      }

      a{
        color: $global-clr-white;
        text-decoration: underline;
      }
    }
    &-btn{

      .notificationclose{
        width: 26px;
        height: 26px;
        position: absolute;
        top: calc(50% - 13px);
        right: 20px;
        text-indent: -9999px;
        opacity: 1;
        @include transition(transform, 0.3s, ease-in-out);

        &::before,
        &::after{
          content: "";
          position: absolute;
          background-color: $global-clr-red;
          width: 26px;
          height: 2px;
          left: 0;
          top: calc(50% - 1px);
        }
        &::before{
          @include rotate(45);
        }
        &::after{
          @include rotate(135);
        }

        &:hover{
          @include rotate(90);
        }

        @include ReSassResponsive(1400){
          width: 20px;
          height: 20px;
          top: calc(50% - 10px);

          &::before,
          &::after{
            width: 20px;
          }
        }
      }
    }
  }
}