.dfn{

  &-nav{
    background-color: transparent;
  }
  &-menu{
    color: $global-clr-white;
    font-size: 17px;

    @include ReSassResponsive(992){
      background-color: $global-sitebg-darkblue01;
    }

    &-megadropdown{
      background-color: $global-grdint-darkblue02;
      border-top-color: $global-clr-soft-blue;
      border-bottom-color: $global-clr-soft-blue;
    }

    &-dropdownmenu{
      background-color: $global-sitebg-darkblue01;

      &:before{
        background-color: $global-clr-soft-blue;
      }

      ul.dropdownsubmenu{
        background-color: transparentize($global-clr-btn-blue, 0.40);

        li.submainmenu{
          a{
            color: $global-clr-white;
            &::before{
              background-color: $global-clr-soft-gray;
            }
            &::after{
              background-color: $global-clr-soft-blue;
            }
          }
        }
      }

      *{
        color: $global-clr-white;
      }
    }

    &-list{
      min-height: 36px;

      > li{

        @include ReSassResponsive(992){
          border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);

          &::before{
            display: none;
          }
        }

        &::before{
          content: "";
          position: absolute;
          width: 1px;
          height: 15px;
          top: calc(50% - 10px);
          right: 0;
          background: transparentize($global-clr-soft-gray, 0.7);
          @include border-radius(50%)
        }
        &:first-child{
          > a{margin-left: 0;}
        }
        &:last-child{
          > a{margin-right: 0;}
          &::before{display: none;}
        }

        > a{
          color: transparentize($global-clr-white, 0.5);
          padding: 5px 5px 13px;
          margin: auto 15px;

          @include ReSassResponsive(1400){
            font-size: 16px;
            margin: auto 10px;
          }
          @include ReSassResponsive(992){
            margin: 0;
            padding: 10px 0;
          }

          &::after {
            background-color: $global-clr-soft-blue;
          }
        }

        &:hover,
        &.active{
          > a{
            color: $global-clr-white;
          }
        }
      }
    }
  }

  &-mobilemenu{

    &-mask{
      background-color: transparentize($global-clr-dark-blue, 0.5);
    }

    &-header{

      @include ReSassResponsive(992){
        display: flex !important;
        justify-content: center;
        align-items: center;

        &::before{
          background-color: transparentize($global-clr-soft-gray, 0.7);
        }

        .header-navigation-logo{
          margin: 0;

          &-symbol {
            width: 30px;
            height: 30px;
            margin-right: 4px;
          }
          &-icrypex {
            font-size: 25px;
          }
          &-cryptoexchange {
            font-size: 11px;
          }
        }
      }
    }

    &-btn{
      @include ReSassResponsive(992){

        .btntext{
          small{
            font-size: 14px;
            line-height: 14px;
          }
        }
        .btnicon{
          span,
          span::before,
          span::after{
            background-color: $global-clr-white;
          }
        }

      }
    }
  }

  &-onlymobile{

    &-menu{
      background-color: transparentize($global-clr-soft-gray, 0.8);
      min-height: inherit;
      margin: 0;
      padding: 10px;

      .header-signin{
        display: flex;
        justify-content: space-between;

        &-item{
          background-color: $global-sitebg-darkblue01;
          width: 50%;
          padding: 0;
          margin: 0 5px;

          &::before{
            display: none;
          }
          &:first-child{
            margin-left: 0;
          }
          &:last-child{
            margin-right: 0;
          }

          a{
            display: block;
            font-size: 16px;
            padding: 5px;
          }

        }
      }
    }

  }

}

.header{
  &.navscroll{

    .dfn-mobilemenu-header{
      @include ReSassResponsive(992){
        &::before{
          @include scaleX(0);
        }
      }
    }
  }
}