
.dfn{

  &-nav{
    background-color: transparent;
  }
  &-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $global-clr-white;
    font-size: 17px;

    @include ReSassWidthResponsive(992){
      background-color: $global-sitebg-darkblue01;
      display: block !important;
      overflow-x: hidden;
    }

    &-megadropdown{
      background-color: $global-grdint-darkblue02;
      border-top-color: $global-clr-soft-blue;
      border-bottom-color: $global-clr-soft-blue;
    }

    &-dropdownmenu{
      background-color: $global-sitebg-darkblue01;

      &:before{
        background-color: $global-clr-soft-blue;
      }

      &.show{
        left: 20px !important;

        @include ReSassWidthResponsive(1400){
          left: 10px !important;
        }
        @include ReSassWidthResponsive(992){
          left: 0 !important;
        }
      }

      &.dropdown-menu.show[aria-labelledby="FeaturesDropdownMenu"]{
        height: 170px !important;
      }
      &.dropdown-menu.show[aria-labelledby="TechnologyDropdownMenu"]{
        height: 242px!important;
      }
      &.dropdown-menu.show[aria-labelledby="CompanyDropdownMenu"]{
        height: 132px !important;
      }
      &.dropdown-menu.show[aria-labelledby="ResearchDropdownMenu"]{
        height: 132px !important;
      }
      &.dropdown-menu.show[aria-labelledby="AccountDropdownMenu"]{
        height: 460px !important;
      }
      &.dropdown-menu[aria-labelledby="CompanyDropdownMenu"],
      &.dropdown-menu[aria-labelledby="TechnologyDropdownMenu"]{
        //margin-left: 19px;
      }

      ul.dropdownsubmenu{
        background-color: transparentize($global-clr-btn-blue, 0.50);

        @include ReSassWidthResponsive(992){
          background-color: transparent;
        }

        li.submainmenu{
          a{
            color: $global-clr-soft-gray;
            @include transition(color, 0.3s, ease-in-out);

            &::before{
              background-color: $global-clr-soft-gray;
            }
            &::after{
              background-color: $global-clr-soft-blue;
            }

            &:hover{
              color: $global-clr-white;
            }
          }
        }
      }
    }

    &-list{
      min-height: 36px;

      @include ReSassWidthResponsive(992){
        min-height: auto;
      }

      > li{

        @include ReSassWidthResponsive(992){
          border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);

          &::before{
            display: none;
          }
        }

        &::before{
          content: "";
          position: absolute;
          width: 1px;
          height: 15px;
          top: calc(50% - 10px);
          right: 0;
          background: transparentize($global-clr-soft-gray, 0.7);
          @include border-radius(50%)
        }
        &:first-child{}
        &:last-child{
          &::before{display: none;}
        }

        > a{
          color: transparentize($global-clr-white, 0.5);
          padding: 5px 0 13px;
          margin: auto 20px;

          @include ReSassWidthResponsive(1400){
            font-size: 16px;
            margin: auto 10px;
          }
          @include ReSassWidthResponsive(992){
            color: $global-clr-white;
            margin: 0;
            padding: 10px 0;

            &::before{
              border-color: darken($global-clr-soft-gray, 25%) !important;
            }
          }

          &::after {
            background-color: $global-clr-soft-blue;
          }
        }

        &:hover,
        &.active{
          > a{
            color: $global-clr-white !important;
          }
        }
      }
    }
  }

  &-mobilemenu{

    &-mask{
      //background-color: transparentize($global-clr-dark-blue, 0.5);
      background-color: rgba(0,0,0,0.6);
    }

    &-header{

      @include ReSassWidthResponsive(992){
        display: flex !important;
        justify-content: center;
        align-items: center;

        &::before{
          background-color: transparentize($global-clr-soft-gray, 0.7);
        }

        .header-navigation-logo{
          margin: 0;

          &-symbol {
            width: 30px;
            height: 30px;
            margin-right: 4px;
          }
          &-icrypex {
            font-size: 25px;
          }
          &-cryptoexchange {
            font-size: 11px;
          }
        }
      }
    }

    &-btn{
      @include ReSassWidthResponsive(992){

        .btntext{
          small{
            font-size: 14px;
            line-height: 14px;
          }
        }
        .btnicon{
          span,
          span::before,
          span::after{
            background-color: $global-clr-white;
          }
        }

      }
    }

    &-livechat{
      color: $global-clr-white !important;
      position: absolute;
      width: 75px;
      height: 46px;
      text-align: right;
      margin: 0 12px;
      padding: 6px 0;
      right: 0;
      top: 0;
      cursor: pointer;
      z-index: 3;

      small{
        display: inline-block;
        font-size: 14px;
        line-height: 14px;
      }

      i[class*="icon-svg"]{
        width: 22px;
        height: 22px;
        display: inline-block;
        margin-left: 2px;
        position: relative;
        top: 8px;
      }
    }
  }

  &-onlymobile{

    &-menu{
      background-color: transparentize($global-clr-soft-blue, 0.85);
      width: calc(100% + 20px);
      margin: 0;
      margin-left: -10px;
      min-height: inherit;
      padding: 10px;
      border: none !important;

      .header-signin{
        display: flex;
        justify-content: space-between;

        &-item{
          background-color: $global-sitebg-darkblue01;
          width: 50%;
          padding: 0;
          margin: 0 5px;

          &::before{
            display: none;
          }
          &:first-child{
            margin-left: 0;
          }
          &:last-child{
            margin-right: 0;
          }

          a{
            color: $global-clr-white;
            display: block;
            font-size: 16px;
            padding: 5px;

            &::after{
              display: none !important;
            }

            &[class*="login"]{
              background-color: $global-clr-green;
            }
            &[class*="register"]{
              background-color: $global-clr-soft-blue;
            }
          }
        }
      }
    }

    &-userarea{
      width: calc(100% + 20px);
      margin-left: -10px;
      border: none !important;

      .header-userarea-user-droplist{
        min-width: auto !important;
        margin: 10px 10px 0;
      }

      .headusermenu{
        cursor: pointer;
        position: relative;

        &::before{
          content: "";
          width: 100%;
          height: 68px;
          position: absolute;
          top: 0;
          left: 0;
          cursor: pointer;
          z-index: 1;
        }

        &-box{
          padding: 12px 10px!important;
          position: relative;

          &::before{
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid $global-clr-soft-blue;
            border-left: 2px solid $global-clr-soft-blue;
            right: 20px;
            top: calc(50% - 7px);
            @include rotate(-45);
            @include transition-multiple(transform 0.3s ease-in-out, top 0.3s ease-in-out);
          }

          &.showmenu{
            &::before{
              @include rotate(-225);
              top: calc(50% - 3px);
            }
          }

          &-avatar{
            width: 64px !important;
            height: 44px !important;
            margin-bottom: 0 !important;
            margin-right: 10px;

            img{
              width: 44px !important;
              height: 44px !important;
            }
          }

          &-textarea{
            width: 100%;
            text-align: left !important;
            overflow: hidden;

            &-username{
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }

        &-userbg{
          flex-direction: row !important;
          padding-right: 35px;
          overflow: hidden;
        }

        &-menulist{
          width: 100%;
          height: 0;
          overflow: hidden;
          @include transition(height, 0.3s, ease-out);
        }
      }
    }

    &-bottom{
      //background-color: transparentize($global-clr-soft-blue, 0.85);
      border: none !important;

      .sitelang{
        margin: 10px;

        i[class*="icon-svg"]{
          display: block;
          width: 18px;
          height: 18px;
          margin-right: 5px;
        }

        &-btn{
          background-color: $global-sitebg-darkblue01;
          color:$global-clr-soft-gray !important;
          display: flex;
          align-items: center;
          width: 100%;
          font-size: 15px;
          text-align: left;
          padding: 10px 0;
          //border: 1px solid darken($global-clr-soft-gray, 35%);
          border: 1px solid transparentize($global-clr-soft-gray, 0.7);
          border-left: none;
          border-right: none;
          @include border-radius(0);

          &::after{
            position: absolute;
            width: 10px;
            height: 10px;
            right: 15px;
            top: calc(50% - 2px);
            margin: 0;
            border: none;
            //border-left: 1px solid darken($global-clr-soft-gray, 25%);
            //border-top: 1px solid darken($global-clr-soft-gray, 25%);
            border-left: 1px solid transparentize($global-clr-soft-gray, 0.5);
            border-top: 1px solid transparentize($global-clr-soft-gray, 0.5);
            @include rotate(45);
          }
        }

        &-dropdown{
          background-color: $global-sitebg-darkblue01;
          color:$global-clr-soft-gray !important;
          width: 100%;
          margin-bottom: 0;
          padding: 0;
          min-width: auto;
          //border: 1px solid darken($global-clr-soft-gray, 35%);
          border: 1px solid transparentize($global-clr-soft-gray, 0.7);
          border-left: none;
          border-right: none;
          top: auto !important;
          @include border-radius(0);

          a{
            color:$global-clr-soft-gray !important;
            display: flex;
            align-items: center;
            font-size: 15px;
            padding: 10px 0;
            //border-bottom: 1px solid darken($global-clr-soft-gray, 35%);
            border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);

            &:last-child{
              border-bottom: none;
            }

            &:focus,
            &:hover{
              background-color: transparent;
            }
          }
        }
      }

      .btnarea{
        background-color: $global-sitebg-darkblue01;
        text-align:center;
        padding: 0 10px 13px;

        a{
          font-size: 16px;
          padding:5px 5px 6px;
          display:block;
          @include border-radius(0);

          &.logout{
            background-color: $global-clr-red;
            color: $global-clr-white;
            width:100%;
            @include transition(background, 0.3s, ease-in-out);

            &:hover{
              background-color: lighten($global-clr-red, 10%);
            }
          }
        }
      }
    }
  }
}

.header{
  &.navscroll{

    .dfn-mobilemenu-header{
      @include ReSassWidthResponsive(992){
        &::before{
          @include scaleX(0);
        }
      }
    }
  }
}