.dfn{
  &-nav{
    background-color: transparent;
  }
  &-menu{
    color: $global-clr-white;
    font-size: 17px;

    &-megadropdown{
      background-color: $global-grdint-darkblue02;
      border-top-color: $global-clr-soft-blue;
      border-bottom-color: $global-clr-soft-blue;
    }

    &-list{
      min-height: 36px;
      > li{
        &:before{
          content: "";
          position: absolute;
          width: 1px;
          height: 15px;
          top: calc(50% - 10px);
          right: 0;
          background: transparentize($global-clr-soft-gray, 0.7);
          @include border-radius(50%)
        }
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
          &:before{display: none;}
        }

        > a{
          color: transparentize($global-clr-white, 0.5);
          padding: 5px 5px 13px;
          margin: auto 15px;

          &::after {
            background: $global-clr-soft-blue;
          }
        }

        &:hover,
        &.active{
          > a{
            color: $global-clr-white;
          }
        }
      }
    }
  }
}