$summaryTableImgPath : "../../img/mainpage";
$svgIconImgPath : "../../img/mainpage/svg";

.summarytable{
  width: 100%;
  padding-bottom: 20px;

  &-tabnav{
    border-bottom: 5px solid $main-color-blue;
    position: relative;
    &:before{
      content: "";
      background-color: $main-color-blue;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.1;
    }
    &:after{
      content: "";
      background-color: rgba(0,0,0,0.9);
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: 0;
      left: 0;
    }

    .nav{
      &-item{
        position: relative;
        margin-bottom: 0;
        font-size: 20px;
      }
      &-link{
        color: $main-color-light-stale-gray;
        border-color: rgba(0,0,0,0.9);
        border-style: solid;
        border-right-width: 4px;
        border-left-width: 0;
        border-top: none;
        padding: 4px 22px 8px;
        @include border-radius(0);

        &.active,
        &.show,
        &:hover{
          color: $main-color-white;
          background-color: $main-color-blue;
          border-color: rgba(0,0,0,0.9);
          position: relative;
          &:before{
            content: "";
            background: $main-color-blue;
            position: absolute;
            width: 100%;
            height: 10px;
            left: 0;
            bottom: -5px;
            z-index: 1;
          }
        }
      }
      &-search{
        color: $main-color-light-stale-gray;
        position: absolute;
        width: 250px;
        right: 0;
        padding: 6px 15px;

        &-form{
          position: relative;
        }

        &-input{
          background-color: transparent;
          color: $main-color-white;
          font-size: $main-font-size;;
          width: 100%;
          padding: 2px;
          border: none;
        }
        &-button{
          background-color: transparent;
          background-image: url(#{$svgIconImgPath}/Search_Icon.svg);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          overflow: hidden;
          position: absolute;
          top: 5px;
          right: 0;
          width: 17px;
          height: 17px;
          text-indent: -9999px;
        }
        @include placeholder {
          color: $main-color-light-stale-gray;
          opacity: 0.75;
        }
      }

    }
  }
  &-tabcontent{
    color: $main-color-white;
  }

  &-tablearea{}

  &-table{
    color: $main-color-light-stale-gray;
    margin: 0;

    thead th{
      border-top-width: 0;
      border-bottom-width: 1px;
      border-color: $main-color-light-stale-gray-border;
    }

    td, th{
      border-color: $main-color-light-stale-gray-border;
      vertical-align: middle;
      font-size: 17px;
      font-weight: normal;
      padding: 6px 5px;
      &:first-child{padding-left: 0;}
    }

    &-symbol{}
    &-price{}
    &-change{
      &.colorgreen{color: $main-color-green;}
      &.colorred{color: $main-color-red;}
    }
    &-high{}
    &-low{}
    &-volume{}
    &-weekly,
    &-monthly{
      text-align: center;
      &.minichart{}
    }

  }

}