$mainpageSummaryTableImgPath : "../../img/mainpage";
$mainpageSvgIconImgPath : "../../img/mainpage/svg";

.summarytable{
  width: 100%;
  padding-bottom: 23px;

  &-tabnav{
    border-bottom: 5px solid $mainpage-color-blue;
    position: relative;
    &:before,
    &:after{
      content: "";
      position: absolute;
      width: 100%;
    }
    &:before{
      background-color: transparentize($mainpage-color-blue, 0.85);
      height: 100%;
    }
    &:after{
      background-color: rgba(0,0,0,0.9);
      height: 4px;
      bottom: 0;
    }

    .nav{
      &-item{
        position: relative;
        margin-bottom: 0;
        font-size: 20px;
        overflow: hidden;
      }
      &-link{
        color: transparentize($mainpage-color-light-stale-gray, 0.50);
        border-color: rgba(0,0,0,0.9);
        border-style: solid;
        border-right-width: 4px;
        border-left-width: 0;
        border-top: none;
        border-bottom-width: 0;
        padding: 4px 22px 8px;
        @include border-radius(0);
        @include transition(color, 0.2s, linear);

        span{
          position: relative;
          z-index: 1;
          display: block;
          margin-bottom: 1px;
        }

        &:before{
          content: "";
          position: absolute;
          width: calc(100% - 4px);
          height: 0;
          left: 0;
          bottom: 0;
          background-color: transparent;
          @include transition(height, 0.2s, linear);
        }

        &.active,
        &.show,
        &:hover{
          color: $mainpage-color-white;
          background-color: transparent;
          border-color: black;
          &:before{
            height: 100%;
            background-color: $mainpage-color-blue;
            z-index: 1;
          }
        }
      }
      &-search{
        color: transparentize($mainpage-color-light-stale-gray, 0.50);
        position: absolute;
        width: 250px;
        right: 0;
        padding: 6px 15px;

        &-form{
          position: relative;
        }

        &-input{
          background-color: transparent;
          color: $mainpage-color-white;
          font-size: $mainpage-font-size;
          width: 100%;
          padding: 2px;
          border: none;
          text-align: right;
          padding-right: 20px;
        }
        &-button{
          background-color: transparent;
          background-image: url(#{$mainpageSvgIconImgPath}/Search_Icon.svg);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          overflow: hidden;
          position: absolute;
          top: 5px;
          right: 0;
          width: 17px;
          height: 17px;
          text-indent: -9999px;
        }
        @include placeholder {
          color: $mainpage-color-light-stale-gray;
          opacity: 0.75;
        }
      }

    }
  }
  &-tabcontent{
    color: $mainpage-color-white;
  }

  &-tablearea{
    padding-top: 2px;
  }

  &-table{
    color: $mainpage-color-light-stale-gray;
    margin: 0;

    thead th{
      border-top-width: 0;
      border-bottom-width: 1px;
      border-color: transparentize($mainpage-color-light-stale-gray, 0.7);
    }

    td, th{
      border-top: 0;
      border-bottom:1px solid transparentize($mainpage-color-light-stale-gray, 0.7);
      vertical-align: middle;
      font-size: 17px;
      font-weight: normal;
      padding: 6px 5px;
      &:first-child{padding-left: 0;}
    }

    &-symbol{}
    &-price{}
    &-change{
      &.colorgreen{color: $mainpage-color-green;}
      &.colorred{color: $mainpage-color-red;}
    }
    &-high{}
    &-low{}
    &-volume{}
    &-weekly,
    &-monthly{
      text-align: center;
      &.minichart{}
    }

    .tableicon{
      display: inline-block;
      margin-left: 2px;
      position: relative;
      bottom: -4px;
      i{
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
        cursor: pointer;
        width: 8px;
        height: 4px;
        margin: 1px 0;
        padding: 4px 0;
      }
      &-arrowup{
        background-image: url(#{$mainpageSvgIconImgPath}/Arrow_Up.svg);
      }
      &-arrowdown{
        background-image: url(#{$mainpageSvgIconImgPath}/Arrow_Down.svg);
      }
    }

  }

}

.depthtable{
  min-height: 225px;
  &-container,
  &-rectangle{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    &.rectangle{
      opacity: 0.8;
      &-left{right: 0; padding-right: 1px;}
      &-right{left: 0; padding-left: 1px;}
      img{width: 100%; height: 185px;}
    }
  }

  &-chart{
    padding-top: 35px;
    &-green{}
    &-red{}
  }

  &-table{
    color: $mainpage-color-light-stale-gray;
    margin: 0;

    td, th{
      border-color: transparentize($mainpage-color-light-stale-gray, 0.7);
      vertical-align: middle;
      font-size: 12px;
      font-weight: normal;
      line-height: 1;
      padding: 0 15px;
      text-align: right;
    }

    thead th{
      font-size: 15px;
      border-top-width: 0;
      border-bottom-width: 1px;
      border-color: transparentize($mainpage-color-light-stale-gray, 0.7);
      padding-top: 3px;
      padding-bottom: 3px;
    }

    tbody tr:first-child td{
      padding-top: 16px;
    }

    tbody td{
      border: none;
      padding-top: 5px;
      padding-bottom: 5px;
      line-height: 0.6;
    }

    &-count{
      text-align: center!important;
      width: 40px;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    &-amount{}
    &-total{}
    &-price{}

  }

}

.cyrptoconverter{

  &-label{

    &-title{
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      &-h5{
        margin: 0;
        padding: 0;
        font-weight: 300;
        font-size: 17px;
      }
      &-select{
        color: $mainpage-color-light-stale-gray;
        background-color: transparent;
        border: none;
        font-size: 17px;
        option{
          background-color: $mainpage-color-dark-blue;
        }
      }
    }
  }

  &-form{

    &-input{
      color: $mainpage-color-white;
      background-color: rgba(0,0,0,0.2);
      font-size: 20px;
      font-weight: 100;
      padding: 5px 9px;
      height: auto;
      border-width: 1px;
      border-style: solid;
      border-color: transparentize($mainpage-color-light-stale-gray, 0.7);
      @include border-radius(0);
      &:focus{
        color: $mainpage-color-white;
        background-color: rgba(0,0,0,0.2);
        border-color: transparentize($mainpage-color-light-stale-gray, 0.7);
        @include box-shadow(0,0,0,transparent);
        @include border-radius(0);
      }
      &.colorgreen{
        color: $mainpage-color-green;
        font-weight: normal;
      }
    }
    &-info{
      color: $mainpage-color-light-stale-gray;
      font-size: 17px;
      margin: 0;
      margin-top: 5px;
    }
  }

}