/* Main Settings */
$tradepage-font-family-barlow: 'Barlow Condensed', sans-serif;
$tradepage-font-size: 17px;
/* Main Settings */

/* Color Settings */
$tradepage-color-white: #FFFFFF;
/* Color Settings */