/* Main Settings */
$tradepage-font-family-barlow: 'Barlow Condensed', sans-serif;
$tradepage-font-size: 15px;
/* Main Settings */

/* Color Settings */
$tradepage-color-white: #FFFFFF;
$tradepage-color-light-stale-gray: #758ca3;
/* Color Settings */