/* Main Settings */
$tradepage-font-family-barlow: 'Barlow Condensed', sans-serif;
$tradepage-font-size: 15px;
/* Main Settings */

/* Color Settings */
$tradepage-color-white: #FFFFFF;
$tradepage-color-green: #70a800;
$tradepage-color-red: #b82c0d;
$tradepage-color-blue: #098cdf;
$tradepage-color-dark-blue: #004378;
$tradepage-color-light-stale-gray: #758ca3;
$tradepage-color-light-bg-gray: #f2f5f6;
$tradepage-color-btn-blue: #06518c;

$tradepage-gradient-darkblue01: #001934;
$tradepage-gradient-darkblue02: #003661;
/* Color Settings */