$tradepageFooterImgPath : "../../img/tradepage/footer";

.footer-tradepage{
  color: $global-clr-white;
  padding-top: 50px;
  @include background-gradient($global-grdint-darkblue01, $global-grdint-darkblue02);
  min-height: 120px;

  @include ReSassWidthResponsive(992){
    padding-top: 30px;
  }

  .container > .row{
    @include ReSassWidthResponsive(992){
      flex-direction: column;
    }
  }


  .maincont-left{
    @include ReSassWidthResponsive(992){
      order: 2;
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .maincont-right{
    padding-left: 30px;

    @include ReSassWidthResponsive(992){
      order: 1;
      flex: 0 0 100%;
      max-width: 700px;
      margin: 0 auto;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &-logo{
    color: $global-clr-white;
    font-family: $global-font-family-barlow;
    width: 140px;
    margin-bottom: 17px;
    line-height: 0.9;
    &:hover{color: $global-clr-white;}
    &-symbol{
      float: left;
      width: 38px;
      height: 38px;
      margin: 1px 0;
      margin-right: 8px;
    }
    &-icrypex{
      display: block;
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.5px;
      margin: 0;
      line-height: 0.9;
    }
    &-cryptoexchange{
      display: block;
      font-size: 13px;
      font-weight: 500;
      margin: 0;
      line-height: 1;
    }

    @include ReSassWidthResponsive(992){
      display: none;
    }
  }

  &-address{
    line-height: 1.13;
    font-size: 15px;
    position: relative;

    @include ReSassWidthResponsive(992){
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 15px;
    }
    @include ReSassWidthResponsive(576){
      padding-top: 15px;
      padding-bottom: 10px;
    }

    &-desc{
      color: $global-clr-soft-gray;
      margin: 0;
      margin-top: 20px;

      @include ReSassWidthResponsive(992){
        &:nth-child(2){
          order: 2;
        }
        &:nth-child(3){
          order: 3;
          margin-top: 0;
        }
        &:nth-child(4){
          order: 1;
          margin-top: 10px;
          margin-bottom: 7px;

          span{
            display: none;
          }
          a{
            color: $global-clr-white;
            font-size: 20px;
            line-height: .85;
          }
        }
      }

      a{
        color: $global-clr-soft-gray;
      }
    }

    &::before{
      content: "";
      position: absolute;
      background-color: transparentize($global-clr-soft-gray, 0.7);
      right: -15px;
      top: 0;
      width: 1px;
      height: 100%;

      @include ReSassWidthResponsive(992){
        display: none;
      }
    }
  }

  &-nav{
    padding-left: 10px;

    @include ReSassWidthResponsive(992){
      padding-left: 0;
    }

    .footer-menu{
      @include ReSassWidthResponsive(1400){
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
        margin: 0 0 15px 0;
      }

      @include ReSassWidthResponsive(576){
        flex: 0 0 calc(100% / 2);
        max-width: calc(100% / 2);
      }

      @include ReSassWidthResponsive(400){
        flex: 0 0 calc(100% / 1) !important;
        max-width: calc(100% / 1) !important;
        margin-bottom: 20px;

        &:last-child{
          margin-bottom: 0;
        }
      }

      &.nonsubmenu{
        @include ReSassWidthResponsive(576){
          > div{
            flex: 0 0 calc(100% / 1);
            max-width: calc(100% / 1);
          }
        }
      }
    }

  }

  &-loginnav{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);
    border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);
    padding: 2px 0;
    margin-left: 10px;
    margin-bottom: 20px;

    @include ReSassWidthResponsive(992){
      margin-left: 0;
    }
    @include ReSassWidthResponsive(768){
      flex-direction: column;
    }
    @include ReSassWidthResponsive(576){
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-list{
      display: flex;
      font-size: 17px;

      @include ReSassWidthResponsive(768){
        padding-top: 4px;
        padding-bottom: 6px;
      }
      @include ReSassWidthResponsive(576){
        flex-direction: column;
        flex: 0 0 50%;
        max-width: 50%;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
      }

      &.linkgray{

        @include ReSassWidthResponsive(768){
          padding-top: 7px;
          border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);
        }
        @include ReSassWidthResponsive(576){
          border-top: none;
        }

        a{
          color: transparentize($global-clr-soft-gray, 0.1);

          &:hover{
            color: $global-clr-white;
          }
        }
      }

      &-item{
        position: relative;
        padding: 0 12px;
        color: $global-clr-white;

        @include ReSassWidthResponsive(576){
          padding: 0;
        }

        a{
          color: $global-clr-white;
          @include transition(all, 0.3s, ease-in-out);

          &:hover{
            color: $global-clr-soft-blue;
          }
        }

        &::before{
          content: "";
          position: absolute;
          width: 1px;
          height: 10px;
          top: calc(50% - 5px);
          right: 0;
          background-color: transparentize($global-clr-soft-gray, 0.7);

          @include ReSassWidthResponsive(576){
            display: none;
          }
        }
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
          &::before{
            display: none;
          }
        }
      }
    }
  }


  &-social{
    &-list{

      @include ReSassWidthResponsive(992){
        justify-content: center;
        padding: 25px 0;
      }
      @include ReSassWidthResponsive(480){
        padding-bottom: 10px;
      }
      @include ReSassWidthResponsive(400){
        padding-top: 10px;
      }

      > li{

        > a{
          width: 28px;
          height: 28px;

          @include ReSassWidthResponsive(992){
            width: 30px;
            height: 30px;
          }

          > i{
            width: 12px;
            height: 12px;

            @include ReSassWidthResponsive(992){
              width: 14px;
              height: 14px;
            }
          }
        }
      }
    }
  }

  &-bottom{
    background-color: transparentize($global-grdint-darkblue01, 0.50);
    padding: 10px 15px;
    margin-top: 30px;

    @include ReSassWidthResponsive(768){
      margin-top: 20px;
    }
    @include ReSassWidthResponsive(576){
      padding: 10px 0;
      margin-top: 10px;
    }
    @include ReSassWidthResponsive(480){
      margin-top: 5px;
    }

    &-list{
      margin: 0;
      text-align: center;

      @include ReSassWidthResponsive(576){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: calc(100% + 30px);
        margin-left: -15px;
        @include scale(0.9);
      }

      &-item{
        position: relative;
        padding: 0 12px;
        display: inline-block;

        @include ReSassWidthResponsive(768){
          //padding: 0 5px;
        }
        @include ReSassWidthResponsive(576){
          max-width: calc(100% /4);
          flex: 0 0 calc(100% /4);
          padding: 5px 0;
        }
        @include ReSassWidthResponsive(400){
          max-width: calc(100% /2);
          flex: 0 0 calc(100% /2);
        }

        &::before{
          content: "";
          position: absolute;
          width: 1px;
          height: 14px;
          top: calc(50% - 4px);
          right: -3px;
          background-color: transparentize($global-clr-soft-gray, 0.7);

          @include ReSassWidthResponsive(576){
            display: none;
          }
        }
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
          &::before{display: none;}
        }

        img{position: relative}
        .akbank{}
        .ziraat{
          top: -2px;
        }
        .odeabank{
          top: -2px;
        }
        .vakifbank{
          top: -6px;
          @include ReSassWidthResponsive(576){
            top: -7px;
          }
        }
        .fibabank{
          top: 0;
          @include ReSassWidthResponsive(576){
            top: 0;
          }
        }
        .papara{
          top: 3px;
          @include ReSassWidthResponsive(576){
            top: 1px;
          }
        }
      }
    }
  }
}