$mainpageFooterImgPath : "../../img/mainpage/footer";

.footer-mainpage{
  color: $global-clr-white;
  @include gradient($global-sitebg-darkblue01, $global-sitebg-darkblue02);

  &-bg{
    background-image: url(#{$mainpageFooterImgPath}/Point_Earth_Image.png);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 75px;
    padding-bottom: 35px;
  }

  &-topline{
    position: relative;
    overflow: hidden;

    &:before,
    &:after{
      content: "";
      background-color: transparentize($global-clr-soft-gray, 0.7);
      position: absolute;
      width: 1000%;
      height: 1px;
      top: 50%;
      z-index: 1;
    }
    &:before{
      left: calc(50% + 20px);
    }
    &:after{
      right: calc(50% + 20px);
    }

    &-symbol{
      width: 50px;
      height: 50px;
      display: block;
      margin: 0 auto;
    }
  }

  &-nav{
    padding-top: 45px;
    padding-bottom: 15px;
    padding-left: 60px;
  }

  &-social{
    padding: 30px 0;

    &-list{
      text-align: center;
    }
  }

  &-copyright{
    text-align: center;
    padding: 15px 0;

    &-phone{
      color: $global-clr-white;
      font-size: 20px;
      line-height: 0.85;
      margin-bottom: 10px;
    }
    &-desc{
      color: $global-clr-soft-gray;
      opacity: 0.9;
      font-size: 15px;
      line-height: 1.13;
      margin: 0;
    }
  }

  &-bottom{
    margin-top: 30px;
    position: relative;
    overflow: hidden;

    &:before,
    &:after{
      content: "";
      background-color: transparentize($global-clr-soft-gray, 0.7);
      position: absolute;
      width: 1000%;
      height: 1px;
      top: 50%;
      z-index: 1;
    }
    &:before{
      left: calc(50% + 210px);
    }
    &:after{
      right: calc(50% + 210px);
    }

    &-list{
      margin: 0;
      text-align: center;
      &-item{
        position: relative;
        padding: 0 12px;
        display: inline-block;
        &:before{
          content: "";
          position: absolute;
          width: 1px;
          height: 14px;
          top: calc(50% - 4px);
          right: -3px;
          background-color: transparentize($global-clr-soft-gray, 0.7);
        }
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
          &:before{display: none;}
        }

        img{position: relative}
        .akbank{}
        .ziraat{top: -2px;}
        .odeabank{top: -2px;}
        .papara{top: 3px;}
      }
    }
  }
}