$globalSvgIconImgPath : "../../img/global/svg";

.footer{

  &-menu{
    width: 230px;

    .columntitle{
      &::after{
        height: 2px;
      }
    }

    &-title{
      margin-bottom: 15px !important;

      @include ReSassWidthResponsive(1400){
        margin-bottom: 12px !important;
      }

      a{
        color: $global-clr-white;
        display: block;
        @include transition(color, 0.3s, ease-in-out);

        &:hover{
          color: $global-clr-soft-blue;
        }
      }
    }
    &-list{
      margin: 0;
      &-item{
        opacity: 0.9;
        font-size: 17px;
        line-height: 1.18;
        margin-bottom: 3px;

        @include ReSassWidthResponsive(1400){
          font-size: 16px;
        }

        a{
          color: transparentize($global-clr-soft-gray, 0.1);
          display: block;
          @include transition(all, 0.3s, ease-in-out);

          &:hover{
            color: $global-clr-white;
          }
        }
      }
    }
  }

  &-underlinehover{
    &:hover{
      .columntitle{
        &::after{
          width: 60px;
        }
      }
    }
  }

  &-social{
    padding: 20px 0;

    @include ReSassWidthResponsive(1400){
      padding: 15px 0;
    }
    @include ReSassWidthResponsive(480){
      padding: 10px 0 0;
    }

    &-list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;

      &-item{
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
        padding: 1px 3px;

        a{
          background-color: transparentize($global-clr-btn-blue, 0.6);
          width: 30px;
          height: 30px;
          text-align: center;
          @include border-radius(30px);
          @include transition(background, 0.3s, ease-in-out);

          &:hover{
            background-color: $global-clr-btn-blue;
          }
        }
      }
    }
    &-icon{
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      overflow: hidden;
      width: 14px;
      height: 14px;
      display: block;
      margin: 8px auto;

      &.facebook{background-image: url(#{$globalSvgIconImgPath}/Footer_Facebook_Logo.svg);}
      &.twitter{background-image: url(#{$globalSvgIconImgPath}/Footer_Twitter_Logo.svg);}
      &.instagram{background-image: url(#{$globalSvgIconImgPath}/Footer_Instagram_Logo.svg);}
      &.linkedin{background-image: url(#{$globalSvgIconImgPath}/Footer_Linkedin_Logo.svg);}
      &.medium{background-image: url(#{$globalSvgIconImgPath}/Footer_Medium_Logo.svg);}
      &.telegram{background-image: url(#{$globalSvgIconImgPath}/Footer_Telegram_Logo.svg);}
      &.youtube{background-image: url(#{$globalSvgIconImgPath}/Footer_Youtube_Logo.svg);}
      &.youtube{
        width: 16px;
        height: 16px;
        margin: 7px auto;
      }
      &.telegram{
        width: 16px;
      }
    }
  }

  &-blockchainlogo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

    .footblockchain{
      display: flex;
      align-items: center;

      > *{
        margin: 0 5px;
      }

      &-logo{}

      &-text{
        font-size: 17px;
        letter-spacing: 2px;
        padding: 2px 4px;
        position: relative;

        &::before,
        &::after{
          content: "";
          @include background-linear(#2EB7C9, #125EAA, 0);
          width: 100%;
          height: 2px;
          position: absolute;
          left: 0;
        }

        &::before{
          top: 0;
        }

        &::after{
          bottom: 0;
        }
      }
    }
  }
}