$mainpageHeaderImgPath : "../../img/mainpage";
$globalSvgIconImgPath : "../../img/global/svg";

.homepage{

  .header{
    background-color: transparent;
    background-image: none;
    padding-bottom: 6px;

    &-bottom{

      &-logo{
        margin-top: 5px;
        margin-bottom: 0;
      }
    }
  }

}