$mainpageHeaderImgPath : "../../img/mainpage";
$globalSvgIconImgPath : "../../img/global/svg";

.homepage{

  .header{
    background-color: transparent;
    background-image: none;
    padding-bottom: 6px;

    &.navscroll{
      background-color: transparentize(darken($global-clr-dark-blue,16%), 0.02);
    }

    &-spacebottom{
      background-color: transparent;
    }

    &-bottom{

      &-logo{
      }
    }
  }

}