$mainpageHeaderImgPath : "../../img/mainpage";
$globalSvgIconImgPath : "../../img/global/svg";

.header{
  $headerclassname: &;

  &.navscroll{
    #{$headerclassname}-navigation-logov2{
      margin-bottom: 17px;

      @include ReSassWidthResponsive(1400){
        margin-bottom: 15px;
      }
    }
  }

  &-navigation{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 7px 0 0 0;
    min-height: 55px;

    > div[class*="col-"]{
      padding: 0;
    }

    @include ReSassWidthResponsive(1400){
      min-height: 50px;

      .col-3{
        flex: 0 0 20%;
        max-width: 20%;
      }
      .col-6{
        flex: 0 0 60%;
        max-width: 60%;
      }
    }
    @include ReSassWidthResponsive(992){
      align-items: center;
      padding: 0;
      min-height: 46px;
    }

    &-userarea{
      margin-bottom: 10px;
    }

    &-resp{
      @include ReSassWidthResponsive(992){
        display: none !important;
      }
    }

    &-logo{
      color: $global-clr-white;
      font-family: $global-font-family-barlow;
      width: 140px;
      line-height: 0.9;
      margin-top: 0;
      margin-bottom: 7px;
      &:hover{color: $global-clr-white;}

      @include ReSassWidthResponsive(1400){
        width: 135px;
      }
      @include ReSassWidthResponsive(992){
        width: 110px;
        top: -1px;
        position: relative;
      }

      &-symbol{
        float: left;
        width: 38px;
        height: 38px;
        margin: 1px 0;
        margin-right: 8px;

        @include ReSassWidthResponsive(1400){
          width: 34px;
          height: 34px;
          margin-right: 6px;
        }
      }
      &-icrypex{
        display: block;
        font-size: 30px;
        font-weight: 300;
        margin: 0;
        line-height: 0.9;

        @include ReSassWidthResponsive(1400){
          font-size: 27px;
        }
      }
      &-cryptoexchange{
        display: block;
        font-size: 13px;
        font-weight: 500;
        margin: 0;
        line-height: 1;
        padding-left: 47px;

        @include ReSassWidthResponsive(1400){
          font-size: 12px;
          padding-left: 40px;
        }
        @include ReSassWidthResponsive(992){
          padding-left: 35px;
        }
      }
    }
    &-logov2{
      color: $global-clr-white;
      width: 120px;
      margin-top: 0;
      margin-bottom: 15px;
      position: relative;

      @include ReSassWidthResponsive(1400){
        margin-bottom: 14px;
      }
      @include ReSassWidthResponsive(1200){
        width: 100px;
        margin-bottom: 15px;
      }
      @include ReSassWidthResponsive(992){
        width: 120px;
        margin-bottom: 0 !important;
      }

      svg{
        width: 100%;

        rect{
          fill: transparent;
          opacity: 0;
        }

        path.colorx{
          fill: $global-clr-soft-blue;
        }
        path.colortype{
          fill: $global-clr-white;
        }
      }
    }
    &-navbar{}
    &-search{
      display: none;
    }
    &-signin{
      #{$headerclassname}-signin-item{
        a{
          padding-top: 5px;
          padding-bottom: 13px;
        }
      }
    }
  }

}