$mainpageHeaderImgPath : "../../img/mainpage";
$globalSvgIconImgPath : "../../img/global/svg";

.header{
  color: $global-clr-white;
  @include gradient($global-grdint-darkblue01, $global-grdint-darkblue02);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  @include transition(all, 0.3s, ease-out);
  $headerclassname: &;

  &.navscroll{
    background-color: transparentize($global-sitebg-darkblue01, 0.02);
    background-image: none;

    #{$headerclassname}-top,
    #{$headerclassname}-stats,
    #{$headerclassname}-titlearea,
    #{$headerclassname}-onlytitle{
      overflow: hidden;
      height: 0;
      padding: 0;
    }

    #{$headerclassname}-navigation-search{
      margin-bottom: 10px;
    }

    #{$headerclassname}-navigation-userarea-user-droplist{
      background-color: transparentize($global-sitebg-darkblue01, 0.02);
      visibility: hidden;
      transition: none !important;
      *, * &:before, * &:after{transition:none !important;}
    }
  }

  *{@include transition(all, 0.3s, ease-out);}

  &-alert{
    height: auto;
    @include transition(all, 1s, ease-out);

    &.alert{
      position: relative;
      margin: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      border:none;
      @include border-radius(0);
    }
    &.alert-dismissible .close{
      top: calc(50% - 14px);
      right: 20px;
      padding: 0;
    }

    &-content{
      font-size: 17px;
      text-align: center;
    }
  }

  &-top{
    padding: 0;
    height: 40px;
    border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);
    @include transition(all, 0.1s, ease-out);

    > div[class*="col"]{
      padding-left: 0;
      padding-right: 0;
    }

    ul{
      text-align: center;
      margin: 0;
    }
    li{
      display: inline-block;
      color: $global-clr-soft-gray;
      font-size: $global-font-size;
    }
    a{color: $global-clr-white;}

    &-language{
      &-item{
        position: relative;
        padding: 0 10px;
        &:before{
          content: "";
          position: absolute;
          width: 1px;
          height: 10px;
          top: calc(50% - 5px);
          right: -3px;
          background-color: transparentize($global-clr-soft-gray, 0.7);
        }
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
          &:before{display: none;}
        }

      }
      &-selection{
        &.active{color: $global-clr-soft-gray; opacity: 0.75;}
      }
    }

    &-city{
      margin-left: 30px !important;
      &-item{
        position: relative;
        padding: 0 8px;
        opacity: 0.75;
        &:before{
          content: "";
          position: absolute;
          width: 3px;
          height: 3px;
          top: calc(50% - 1px);
          right: -3px;
          background-color: transparentize($global-clr-soft-gray, 0.7);
          @include border-radius(50%)
        }
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
          &:before{display: none;}
        }
      }
      &-name,
      &-clock{display: inline-block; margin: 0 1px;}
    }

    &-singin{
      &-item{
        position: relative;
        padding: 0 10px;
        &:before{
          content: "";
          position: absolute;
          width: 1px;
          height: 10px;
          top: calc(50% - 5px);
          right: -3px;
          background-color: transparentize($global-clr-soft-gray, 0.7);
          @include border-radius(50%)
        }
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
          &:before{display: none;}
        }
      }
      &-register{}
      &-login{}
    }

    &-userarea{

      #{$headerclassname}-navigation-userarea-user{

        &-name{
          font-size: 15px;
        }

        .dropdown-menu{
          padding-top: 8px;
        }

        &-droplist{
        }
      }
    }
  }

  &-navigation{
    padding: 7px 0 0 0;
    min-height: 55px;
    align-items: flex-end;

    > div[class*="col-"]{
      padding: 0;
    }

    &-logo{
      color: $global-clr-white;
      font-family: $global-font-family-barlow;
      width: 140px;
      line-height: 0.9;
      margin-top: 0;
      margin-bottom: 7px;
      &:hover{color: $global-clr-white;}
      &-symbol{
        float: left;
        width: 38px;
        height: 38px;
        margin: 1px 0;
        margin-right: 8px;
      }
      &-icrypex{
        display: block;
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 0.5px;
        margin: 0;
        line-height: 0.9;
      }
      &-cryptoexchange{
        display: block;
        font-size: 13px;
        font-weight: 500;
        margin: 0;
        line-height: 1;
      }
    }
    &-navbar{}
    &-search{
      position: relative;
      max-width: 140px;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 17px;
      &-input{
        background-color: transparent;
        color: $global-clr-white;
        font-size: $global-font-size;
        width: 100%;
        padding: 2px;
        border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);
      }
      &-button{
        background-color: transparent;
        background-image: url(#{$globalSvgIconImgPath}/Search_Icon.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        overflow: hidden;
        position: absolute;
        top: 2px;
        right: 0;
        width: 17px;
        height: 17px;
        text-indent: -9999px;
      }
      @include placeholder {
        color: $global-clr-soft-gray;
        opacity: 0.75;
      }
    }
    &-userarea{
      margin-bottom: 10px;

      &-iconset{
        text-align: center; margin: 0;
        &-item{
          position: relative;
          padding: 0 12px;
          color: $global-clr-white;
          font-size: $global-font-size;

          a{color: $global-clr-white;}

          &:before{
            content: "";
            position: absolute;
            width: 1px;
            height: 10px;
            top: calc(50% - 5px);
            right: 0;
            background-color: transparentize($global-clr-soft-gray, 0.7);
            @include border-radius(50%)
          }
          &:first-child{
            padding-left: 0;
          }
        }

        &-search{
          i{width: 17px; height: 17px;}
        }

        &-chat{
          i{width: 18px; height: 18px;}
        }

        &-theme{
          i{width: 18px; height: 18px;}
        }

        &-bell{
          i{width: 18px; height: 18px;}
        }

        &-badge{
          width: 10px;
          height: 10px;
          display: block;
          background-color: #ff2e00;
          position: absolute;
          top: 0;
          right: 10px;
          @include border-radius(50%);
        }
      }

      &-user{
        padding-left: 15px;
        > a{color: $global-clr-white;}
        &.btn-group{}
        &-title,
        &-dropdown{}
        &-image{
          width: 30px;
          height: 30px;
          margin-right: 10px;
          @include border-radius(15px);
        }
        &-name{
          margin-right: 10px;
          font-size: 17px;
          font-weight: normal;
        }
        &-dropdown{
          color: $global-clr-white;
          background-color: transparent;
          padding: 0;
          width: 24px;
          height: 24px;
          border:1px solid transparentize($global-clr-soft-gray, 0.7);
          position: relative;

          &:after{
            background-image: url(#{$globalSvgIconImgPath}/Arrow_Down_Dropdown.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            position: absolute;
            width: 10px;
            height: 6px;
            border: none;
            top: calc(50% - 3px);
            left: calc(50% - 5px);
          }
        }

        .dropdown-menu{
          background-color: transparent;
          padding: 0;
          padding-top: 14px;
          margin: 0;
          border: none;
          transition: none !important;
        }

        &-droplist{
          background-color: $global-grdint-darkblue02;
          min-width: 250px;

          .headusermenu{
            padding:10px;
            padding-bottom: 0;
            text-align: left;

            &-userbg{
              display: flex;
              align-items: center;
            }

            &-box{
              background-color: transparentize($global-grdint-darkblue01, 0.50);
              border-top-left-radius:3px;
              border-top-right-radius:3px;
              padding: 15px;

              &-avatar{
                width:30px;
                height:30px;
                margin-right:15px;

                img{
                  width:30px;
                  height:30px;
                  border-radius:50%;
                }
              }

              &-textarea{
                line-height: 0.5;
                margin-top: -5px;

                &-username{
                  color: $global-clr-white;
                  font-size: 17px;
                  margin: 0;
                }
                small a{
                  color: $global-clr-soft-blue;
                  font-weight:500;
                  margin-top: 5px;
                }
              }
            }

            &-userarea{
              display: flex;
              align-items: center;
              padding-bottom: 10px;
            }

            .btnarea{
              text-align:center;
              border-bottom-left-radius:3px;
              border-bottom-right-radius:3px;

              a{
                padding:5px;
                border-bottom-left-radius:3px;
                border-bottom-right-radius:3px;
                display:inline-block;

                &.logout{
                  background-color: $global-clr-btn-blue;
                  color: $global-clr-white;
                  width:100%;
                }
              }
            }
          }

          .usermenulist{
            padding-bottom: 10px;
            text-align: left;

            .userlink{
              padding: 5px 10px;
              position: relative;
              display: block;

              a{
                color: $global-clr-white;
                padding:3px 0;
                display: block;
                position: relative;

                &:before{
                  content: "";
                  background-color: $global-clr-soft-gray;
                  width: 100%;
                  max-width: 300px;
                  height: 1px;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  opacity: 0.3;
                }
                &:after{
                  content: "";
                  background-color: $global-clr-soft-blue;
                  width: 40px;
                  height: 2px;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  @include transition(all, 0.5s, ease-in-out);
                }

                &:hover{
                  &:after{
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }

    &-login{
      text-align: center; margin: 0;

      &-list{

        > li{
          position: relative;

          &:before{
            content: "";
            position: absolute;
            width: 1px;
            height: 15px;
            top: calc(50% - 10px);
            right: 0;
            background: transparentize($global-clr-soft-gray, 0.7);
            @include border-radius(50%)
          }
          &:first-child{
            > a{margin-left: 0;}
          }
          &:last-child{
            > a{margin-right: 0;}
            &:before{display: none;}
          }

          > a{
            color: $global-clr-white;
            padding: 5px 5px 13px;
            margin: auto 15px;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              background: $global-clr-soft-blue;
              width: 100%;
              height: 4px;
              display: block;
              bottom: 0;
              left: 0;
              @include scaleX(0);
              @include transition(transform, 250ms, ease-in-out);
            }
          }
          &:hover,
          &.active{
            > a{
              &::after {
                @include scaleX(1);
              }
            }
          }
        }
      }
    }
  }

  &-stats{
    padding: 18px 0;
    height: 80px;
    border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);

    &-price{
      color: $global-clr-white;

      &-big{
        color: $global-clr-white;

        &-select{
          color: $global-clr-white;
          background-color: transparent;
          border: 1px solid transparentize($global-clr-soft-gray, 0.7);;
          font-size: 20px;
          text-align: left;
          padding: 6px 10px;
          margin-right: 4px;
          option{
            background-color: $global-clr-dark-blue;
          }
          &:last-child{
            margin-right: 0;
          }
        }

        &-list{
          margin-bottom: 0;

          > li[class*="col"]{
            padding-right: 10px;
            padding-left: 15px;
            &:first-child{padding-left: 0}
            &:last-child{padding-right: 0}
          }

          &-item{
            color: $global-clr-white;
            text-align: left;
            font-size: 20px;
            font-weight: 300;
            line-height: 0.95;
            letter-spacing: -0.3px;
            position: relative;

            &:before{
              content: "";
              position: absolute;
              width: 1px;
              height: 34px;
              top: calc(50% - 16px);
              right: 10px;
              background-color: transparentize($global-clr-soft-gray, 0.7);
            }

            &:last-child{
              &:before{display: none;}
            }
          }
        }

        &-title{
          color: $global-clr-soft-gray;
          font-size: 17px;
          font-weight: 300;
          letter-spacing: -0.2px;
          margin: 0;
        }

        &-volume{
          display: block;

          sup{
            font-size: 12px;
            font-weight: 900;
            letter-spacing: normal;
            text-align: center;
            position: relative;
            top: -6px;
          }
        }
      }
    }
  }

  &-titlearea{
    padding: 18px 0;
    height: 80px;
    border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);

    .columntitle{
      color: $global-clr-white !important;
      &:before{
        max-width: inherit !important;
      }
      &:after{
        width: 60px;
      }
    }

    &-title{
      width: 100%;

      &-icon{
        display: flex;
        min-height: 39px;

        &-span{
          width: 40px;
          border: 1px solid transparentize($global-clr-soft-gray, 0.7);
          border-left: none;
          display: flex;
          align-items: center;
        }

        .icon-svg{
          width: 19px;
          height: 14px;
          margin: 7px;
        }
      }
    }

    &-price{
      color: $global-clr-white;

      &-lite{
        color: $global-clr-white;

        &-list{
          display: flex !important;
          align-items: center;
          padding: 0 10px 0 35px;
          margin-bottom: 0;
          position: relative;

          > li[class*="col"]{
            padding-right: 10px;
            padding-left: 15px;
            &:first-child{padding-left: 0}
            &:last-child{padding-right: 0}
          }

          &-item{
            color: $global-clr-white;
            text-align: left;
            font-size: 20px;
            font-weight: 300;
            line-height: 0.95;
            letter-spacing: -0.3px;
            position: relative;
          }

          .owl{
            &-item{
              position: relative;

              &:before{
                content: "";
                position: absolute;
                width: 1px;
                height: 34px;
                top: calc(50% - 16px);
                right: 10px;
                background-color: transparentize($global-clr-soft-gray, 0.7);
              }

              &:last-child{
                &:before{display: none;}
              }
            }

            &-nav{
              button[class*="owl-"]{
                background-color: transparentize($global-grdint-darkblue02, 0.4);
                border: 1px solid transparentize($global-clr-soft-gray, 0.7);
                @include border-radius(0);
                width: 20px;
                height: calc(100% + 2px);
                margin: 0;
                top: -1px;

                &:hover{
                  background-color: $global-grdint-darkblue02;
                }
              }
            }

            &-prev,
            &-next{
              position: absolute;

              &:before{
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                left: calc(50% - 6px);
                top: calc(50% - 6px);
                background-image: url(#{$globalSvgIconImgPath}/Arrow_Down_Dropdown.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
              }

              span{
                display: none;
              }
            }

            &-prev{
              left: 0;
              &:before{
                @include rotate(90);
              }
            }
            &-next{
              right: 0;
              &:before{
                @include rotate(270);
              }
            }
          }
        }

        &-title{
          color: $global-clr-soft-gray;
          font-size: 15px;
          font-weight: 300;
          letter-spacing: -0.2px;
          margin: 0;
        }

        &-volume{
          display: block;

          sup{
            font-size: 12px;
            font-weight: 900;
            letter-spacing: normal;
            text-align: center;
            position: relative;
            top: -6px;
          }
        }
      }
    }
  }

  &-onlytitle{
    padding: 18px 0;
    height: 80px;
    border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);

    .columntitle{
      color: $global-clr-white !important;
      &:before{
        max-width: inherit !important;
      }
      &:after{
        width: 60px;
      }
    }
  }

  &-spacebottom{
    background-color: $global-clr-white;
    height: 95px;
  }
}