$mainpageHeaderImgPath : "../../img/mainpage";
$globalSvgIconImgPath : "../../img/global/svg";

.header{
  $headerclassname: &;

  &-stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    height: 80px;
    border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);
    opacity: 1;
    @include transition(all, 0.3s, ease-in-out);

    @include ReSassWidthResponsive(1400){
      padding: 10px 0;
      height: 65px;
    }
    @include ReSassWidthResponsive(992){
      padding: 4px 0;
      height: 56px;
      border-top: none;
    }

    &-price{
      color: $global-clr-white;

      &-big{
        align-items: center;
        color: $global-clr-white;

        > .maincont-left{
          flex: 0 0 18%;
          max-width: 18%;

          @include ReSassWidthResponsive(1200){
            flex: 0 0 18%;
            max-width: 18%;
          }
          @include ReSassWidthResponsive(992){
            flex: 0 0 20%;
            max-width: 20%;
          }
          @include ReSassWidthResponsive(768){
            flex: 0 0 25%;
            max-width: 25%;
          }
          @include ReSassWidthResponsive(576){
            flex: 0 0 130px;
            max-width: 130px;
          }
        }

        > .maincont-right{
          flex: 0 0 82%;
          max-width: 82%;

          @include ReSassWidthResponsive(1200){
            flex: 0 0 82%;
            max-width: 82%;
          }
          @include ReSassWidthResponsive(992){
            flex: 0 0 80%;
            max-width: 80%;
          }
          @include ReSassWidthResponsive(768){
            flex: 0 0 75%;
            max-width: 75%;
          }
          @include ReSassWidthResponsive(576){
            flex: 0 0 calc(100% - 130px);
            max-width: calc(100% - 130px);
          }
        }

        &-selectweb{
          display: inline-flex;
          align-items: center;
          height: 60px;
          cursor: pointer;

          @include ReSassWidthResponsive(1400){
            height: 54px;
          }
          @include ReSassWidthResponsive(992){
            display: none !important;
          }

          .coinicons{
            display: flex;
            align-items: center;
            margin-right: 5px;

            i[class*="icon-svg"]{
              background-color: $global-clr-btn-blue;
              display: block;
              position: relative;
              width: 35px;
              height: 35px;
              @include border-radius(50%);

              @include ReSassWidthResponsive(1200){
                width: 30px;
                height: 30px;
              }
              @include ReSassWidthResponsive(400){
                width: 24px;
                height: 24px;
              }

              &:first-child{
                z-index: 1;
              }
              &:last-child{
                z-index: 0;
                margin-left: -5px;
              }
            }

            i[class*="btc"]{
              background-color: transparentize($global-clr-currency-btc, 0.15);
            }
            i[class*="ltc"]{
              background-color: transparentize($global-clr-currency-ltc, 0.15);
            }
            i[class*="eth"]{
              background-color: transparentize($global-clr-currency-eth, 0.15);
            }
            i[class*="xrp"]{
              background-color: transparentize($global-clr-currency-xrp, 0.15);
            }
            i[class*="bat"]{
              background-color: transparentize($global-clr-currency-bat, 0.15);
            }
            i[class*="mpay"]{
              background-color: transparentize($global-clr-currency-mpay, 0.15);
            }
          }

          .currencytext{
            font-size: 45px;
            font-weight: 300;
            letter-spacing: -0.9px;
            min-width: 130px;

            @include ReSassWidthResponsive(1400){
              font-size: 40px;
            }
            @include ReSassWidthResponsive(1200){
              font-size: 33px;
              min-width: 105px;
            }
            @include ReSassWidthResponsive(400){
              font-size: 25px;
              min-width: 80px;
            }
          }
        }

        &-selectmobile{
          margin-bottom: 0 !important;
          display: none !important;

          @include ReSassWidthResponsive(992){
            display: flex !important;
          }
        }

        &-select{
          color: $global-clr-white;
          background-color: transparent !important;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.5' height='6.811' viewBox='0 0 11.5 6.811'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23758ca3; stroke-linecap: round; stroke-miterlimit: 10; stroke-width: 1.5px; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Arrow' class='cls-1' d='M10,0,5.006,5,0,0' transform='translate(0.75 0.75)'/%3E%3C/svg%3E%0A") !important;
          font-weight: normal !important;
          border-color: transparentize($global-clr-soft-gray, 0.7);
          margin-right: 4px;

          @include ReSassWidthResponsive(1200){
            font-size: 17px !important;
            padding: 5px 10px 4px !important;
          }

          option{
            background-color: $global-clr-dark-blue;
          }
          &:last-child{
            margin-right: 0;
          }
        }

        &-list{
          display: flex;
          justify-content: flex-end;
          margin-bottom: 0;
          overflow: hidden;

          @include ReSassWidthResponsive(1200){
            //width: calc(100% - 40px) !important;
            //margin: 0 auto;
          }
          @include ReSassWidthResponsive(400){
            right: -5px;
          }

          &-item{
            color: $global-clr-white;
            text-align: left;
            font-size: 20px;
            font-weight: 300;
            line-height: 0.95;
            letter-spacing: -0.3px;
            position: relative;
            white-space: nowrap;

            @include ReSassWidthResponsive(1200){
              text-align: center;
              font-size: 17px;
            }
            @include ReSassWidthResponsive(480){
              text-align: right;
              font-size: 20px;
            }
          }

          .owl{

            &-stage{
              height: 40px;
              overflow: hidden;

              @include ReSassMinWidthResponsive(1200){
                width: 100% !important;
                display: flex;
                justify-content: flex-end;
              }
              @include ReSassWidthResponsive(480){
                overflow: unset;
              }
            }

            &-stage-outer{
              @include ReSassWidthResponsive(1200){
                z-index: 1;
                width: calc(100% - 4px);
                right: -2px;
                left: -2px;
                overflow: hidden;
              }
              @include ReSassWidthResponsive(480){
                width: 100%;
                right: 0;
                left: 0;
                top: -1px;
              }
            }

            &-item{
              padding-right: 17px;
              padding-left: 17px;

              @include ReSassWidthResponsive(1400){
                padding-right: 15px;
                padding-left: 15px;
              }
              @include ReSassWidthResponsive(1200){
                padding-right: 2px;
                padding-left: 2px;
              }
              @include ReSassWidthResponsive(400){
                padding-right: 3px;
                padding-left: 3px;
              }

              &::before{
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                right: 0;
                background-color: transparentize($global-clr-soft-gray, 0.7);

                @include ReSassWidthResponsive(480){
                  display: none !important;
                }
              }
              &:last-child{
                &::before{display: none;}
              }
            }

            &-nav{
              @include ReSassWidthResponsive(1200){
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: 0;
              }

              button[class*="owl-"]{
                @include ReSassWidthResponsive(1200){
                  background-color: transparentize($global-clr-soft-gray, 0.9);
                  border: 1px solid transparentize($global-clr-soft-gray, 0.5);
                  @include border-radius(0);
                  width: 20px;
                  height: calc(100% + 2px);
                  margin: 0;
                  top: -1px;

                  &:hover{
                    background-color: transparentize($global-clr-soft-gray, 0.5);
                  }
                }
                @include ReSassWidthResponsive(480){
                  height: calc(100% + 0);
                  top: 0;
                }
              }
              button[class*="owl-prev"]{
                @include ReSassWidthResponsive(1200){
                  left: -19px;
                }
              }
              button[class*="owl-next"]{
                @include ReSassWidthResponsive(1200){
                  right: -19px;
                }
              }
            }

            &-prev,
            &-next{
              position: absolute;

              &::before{
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                left: calc(50% - 6px);
                top: calc(50% - 6px);
                background-image: url(#{$globalSvgIconImgPath}/Arrow_Down_Dropdown.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
              }

              span{
                display: none;
              }
            }

            &-prev{
              left: 0;
              &::before{
                @include rotate(90);
              }
            }
            &-next{
              right: 0;
              &::before{
                @include rotate(270);
              }
            }
          }
        }

        &-title{
          color: $global-clr-soft-gray;
          font-size: 17px;
          font-weight: 300;
          letter-spacing: -0.2px;
          margin: 0;
        }

        &-volume{
          display: block;

          span[class*="sitecolor"]{
            font-weight: normal;
          }

          sup{
            font-size: 12px;
            font-weight: 900;
            letter-spacing: normal;
            text-align: center;
            position: relative;
            top: -6px;
          }
        }
      }
    }
  }

  &-statscyrpto{
    background-color: lighten($global-clr-soft-gray, 30%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 60px;
    opacity: 1;
    position: relative;
    @include transition(all, 0.1s, ease-out);

    @include ReSassWidthResponsive(1400){
      height: 54px;
    }
    @include ReSassWidthResponsive(480){
      height: 48px;
      width: calc(100% + 12px);
      margin-left: -5px;
    }

    &::before,
    &::after{
      background-color: lighten($global-clr-soft-gray, 30%);
      content: "";
      width: 15px;
      height: 100%;
      position: absolute;
    }

    &::before{
      left: 100%;
    }

    &::after{
      right: 100%;
    }

    &-price{
      color: $global-clr-dark-blue;

      &-big{
        color: $global-clr-dark-blue;
        align-items: center;

        > .maincont-left{
          @include ReSassWidthResponsive(1200){
            flex: 0 0 20% !important;
            max-width: 20% !important;
          }
          @include ReSassWidthResponsive(992){
            flex: 0 0 30% !important;
            max-width: 30% !important;
          }
          @include ReSassWidthResponsive(768){
            flex: 0 0 35% !important;
            max-width: 35% !important;
          }
          @include ReSassWidthResponsive(576){
            flex: 0 0 45% !important;
            max-width: 45% !important;
          }
          @include ReSassWidthResponsive(480){
            flex: 0 0 50% !important;
            max-width: 50% !important;
            left: 5px;
          }
          @include ReSassWidthResponsive(400){
            left: 0;
          }
        }

        > .maincont-right{
          @include ReSassWidthResponsive(1200){
            flex: 0 0 80% !important;
            max-width: 80% !important;
          }
          @include ReSassWidthResponsive(992){
            flex: 0 0 70% !important;
            max-width: 70% !important;
          }
          @include ReSassWidthResponsive(768){
            flex: 0 0 65% !important;
            max-width: 65% !important;
          }
          @include ReSassWidthResponsive(576){
            flex: 0 0 55% !important;
            max-width: 55% !important;
            padding-left: 5px !important;
          }
          @include ReSassWidthResponsive(480){
            flex: 0 0 50% !important;
            max-width: 50% !important;
          }
        }

        .coinareaselect{

          &:hover{
            .coinareaselect-toggle-arrow{
              &::before{
                border-color: $global-clr-soft-blue !important;
              }
            }
          }

          .coinicons{
            display: flex;
            align-items: center;
            margin-right: 5px;

            i[class*="icon-svg"]{
              background-color: $global-clr-btn-blue;
              display: block;
              position: relative;
              @include border-radius(50%);

              &:first-child{
                z-index: 1;
              }
              &:last-child{
                z-index: 0;
                margin-left: -5px;
              }
            }
            i[class*="btc"]{
              background-color: transparentize($global-clr-currency-btc, 0.15);
            }
            i[class*="ltc"]{
              background-color: transparentize($global-clr-currency-ltc, 0.15);
            }
            i[class*="eth"]{
              background-color: transparentize($global-clr-currency-eth, 0.15);
            }
            i[class*="xrp"]{
              background-color: transparentize($global-clr-currency-xrp, 0.15);
            }
            i[class*="bat"]{
              background-color: transparentize($global-clr-currency-bat, 0.15);
            }
            i[class*="mpay"]{
              background-color: transparentize($global-clr-currency-mpay, 0.15);
            }
          }

          &-toggle{
            display: inline-flex;
            align-items: center;
            height: 60px;
            cursor: pointer;

            @include ReSassWidthResponsive(1400){
              height: 54px;
            }
            @include ReSassWidthResponsive(480){
              height: 48px;
            }

            &::after{
              display: none;
            }

            .coinicons{
              i[class*="icon-svg"]{
                width: 35px;
                height: 35px;

                @include ReSassWidthResponsive(1200){
                  width: 30px;
                  height: 30px;
                }
                @include ReSassWidthResponsive(400){
                  width: 24px;
                  height: 24px;
                }
              }
            }

            .currencytext{
              font-size: 45px;
              font-weight: 300;
              letter-spacing: -0.9px;
              min-width: 130px;

              @include ReSassWidthResponsive(1400){
                font-size: 40px;
              }
              @include ReSassWidthResponsive(1200){
                font-size: 33px;
                min-width: 105px;
              }
              @include ReSassWidthResponsive(400){
                font-size: 25px;
                min-width: 80px;
              }
            }

            &-arrow{
              background-color: transparent;
              padding: 0;
              width: 24px;
              height: 24px;
              position: relative;

              @include ReSassWidthResponsive(1200){
                width: 18px;
                height: 18px;
              }

              &::before{
                content: "";
                position:absolute;
                width: 15px;
                height: 14px;
                padding: 0;
                border-top: 2px solid $global-clr-btn-blue;
                border-right: 2px solid $global-clr-btn-blue;
                top: calc(50% - 10px);
                left: calc(50% - 7px);
                @include rotate(135);
                @include transition(border, 0.1s, ease-in-out);

                @include ReSassWidthResponsive(1200){
                  width: 12px;
                  height: 12px;
                  top: calc(50% - 7px);
                }
                @include ReSassWidthResponsive(400){
                  width: 10px;
                  height: 10px;
                }
              }
            }
          }

          &-menu{
            background-color: $global-clr-soft-gray;
            width: 100%;
            max-width: 215px;
            min-width: inherit;
            margin: 0;
            padding: 0;
            border: none;
            z-index: 1;
            @include border-radii(0,0,3px,3px);

            &::before{
              background-color: $global-clr-soft-gray;
              content: "";
              position: absolute;
              width: 14px;
              height: 14px;
              left: 25px;
              top: -7px;
              @include rotate(45);
            }

            &.slidingdropdown{
              display: block !important;
              height: 0;
              opacity: 0;
              @include transition(all, 0.3s, ease-out);

              &.show{
                height: 480px;
                opacity: 1;
                @include transition(all, 0.25s, ease-out);

                @include ReSassWidthResponsive(1200){
                  height: 415px;
                }
                @include ReSassWidthResponsive(400){
                  height: 345px;
                }

                > ul{
                  display: block !important;
                }
              }
            }

            &-ul{
              display: none;
            }

            *{color: $global-clr-white;}

            &-list{
              display: flex;
              align-items: center;
              padding: 8px 10px;
              border-bottom: 1px solid lighten($global-clr-soft-gray, 10%);
              cursor: pointer;
              position: relative;
              @include transition(all, 0.3s, ease-in-out);

              @include ReSassWidthResponsive(1200){
                padding: 5px 10px;
              }
              @include ReSassWidthResponsive(400){
                padding: 3px 6px;
              }

              &:hover{
                background-color: lighten($global-clr-soft-gray, 10%);
              }

              &:first-child{
                padding-top: 12px;

                @include ReSassWidthResponsive(1200){
                  padding-top: 7px;
                }
                @include ReSassWidthResponsive(400){
                  padding-top: 4px;
                }
              }

              &:last-child{
                padding-bottom: 12px;
                border-bottom: none;

                @include ReSassWidthResponsive(1200){
                  padding-bottom: 7px;
                }
                @include ReSassWidthResponsive(400){
                  padding-bottom: 4px;
                }
              }
            }

            .coinicons{
              i[class*="icon-svg"]{
                width: 25px;
                height: 25px;

                @include ReSassWidthResponsive(400){
                  width: 20px;
                  height: 20px;
                }
              }
            }

            .currencytext{
              font-size: 20px;
              font-weight: normal;
              letter-spacing: -0.4px;

              @include ReSassWidthResponsive(400){
                font-size: 18px;
              }
            }
          }
        }

        &-list{
          display: flex;
          justify-content: flex-end;
          margin-bottom: 0;
          overflow: hidden;

          @include ReSassWidthResponsive(1200){
            //width: calc(100% - 40px) !important;
            //margin: 0 auto;
          }

          &-item{
            color: $global-clr-dark-blue;
            text-align: left;
            font-size: 17px;
            font-weight: 500;
            line-height: 0.95;
            letter-spacing: -0.3px;
            position: relative;
            white-space: nowrap;

            @include ReSassWidthResponsive(1200){
              text-align: center;
            }
            @include ReSassWidthResponsive(480){
              text-align: right;
              font-size: 20px;
            }
          }

          .owl{

            &-stage{
              height: 34px;
              overflow: hidden;

              @include ReSassMinWidthResponsive(1200){
                width: 100% !important;
                display: flex;
                justify-content: flex-end;
              }
              @include ReSassWidthResponsive(480){
                overflow: unset;
              }
            }

            &-stage-outer{
              @include ReSassWidthResponsive(1200){
                z-index: 1;
                width: calc(100% - 4px);
                right: -2px;
                left: -2px;
                overflow: hidden;
              }
              @include ReSassWidthResponsive(480){
                width: 100%;
                right: 0;
                left: 0;
                top: -1px;
              }
            }

            &-item{
              padding-right: 15px;
              padding-left: 15px;

              @include ReSassWidthResponsive(768){
                padding-right: 10px;
                padding-left: 10px;
              }
              @include ReSassWidthResponsive(400){
                padding-right: 3px;
                padding-left: 3px;
              }

              &::before{
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                right: 0;
                background-color: transparentize($global-clr-soft-gray, 0.7);

                @include ReSassWidthResponsive(480){
                  display: none !important;
                }
              }
              &:last-child{
                &::before{display: none;}
              }
            }

            &-nav{
              @include ReSassWidthResponsive(1200){
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: 0;
              }

              button[class*="owl-"]{
                @include ReSassWidthResponsive(1200){
                  background-color: transparentize($global-clr-soft-gray, 0.9);
                  border: 1px solid transparentize($global-clr-soft-gray, 0.5);
                  @include border-radius(0);
                  width: 20px;
                  height: calc(100% + 2px);
                  margin: 0;
                  top: -1px;

                  &:hover{
                    background-color: transparentize($global-clr-soft-gray, 0.5);
                  }
                }
                @include ReSassWidthResponsive(480){
                  height: calc(100% + 0);
                  top: 0;
                }
              }
              button[class*="owl-prev"]{
                @include ReSassWidthResponsive(1200){
                  left: -19px;
                }
              }
              button[class*="owl-next"]{
                @include ReSassWidthResponsive(1200){
                  right: -19px;
                }
              }
            }

            &-prev,
            &-next{
              position: absolute;

              &::before{
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                left: calc(50% - 6px);
                top: calc(50% - 6px);
                background-image: url(#{$globalSvgIconImgPath}/Arrow_Down_Dropdown.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
              }

              span{
                display: none;
              }
            }

            &-prev{
              left: 0;
              &::before{
                @include rotate(90);
              }
            }
            &-next{
              right: 0;
              &::before{
                @include rotate(270);
              }
            }
          }
        }

        &-title{
          font-size: 15px;
          font-weight: normal;
          letter-spacing: -0.2px;
          margin: 0;
          white-space: nowrap;

          @include ReSassWidthResponsive(576){
            font-size: 13px;
          }
          @include ReSassWidthResponsive(480){
            font-size: 15px;
          }
        }

        &-volume{
          display: block;

          span[class*="sitecolor"]{
            font-weight: 500;
          }

          sup{
            font-size: 12px;
            font-weight: 900;
            letter-spacing: normal;
            text-align: center;
            position: relative;
            top: -6px;
          }
        }
      }
    }
  }

}


/* Cross Browser Start */
html.IExplorer{

  .header{
    &-stats{
      &-price{
        &-big{
          &-select{
            background: transparent !important;
            background-image: none !important;
          }
        }
      }
    }
  }

}
/* Cross Browser End */