$mainpageHeaderImgPath : "../../img/mainpage";
$globalSvgIconImgPath : "../../img/global/svg";

.homepage{
  background-color: darken($global-clr-dark-blue,16%);
  background-image: url(#{$mainpageImgPath}/background/Dark_Blue_Bg_Image.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;

  .header{
    background-color: transparent;
    background-image: none;
    padding-bottom: 6px;

    &.navscroll{
      background-color: transparentize(darken($global-clr-dark-blue,16%), 0.02);
    }

    &-spacebottom{
      background-color: transparent;
    }
  }
}