$mainpageHeaderImgPath : "../../img/mainpage";
$globalSvgIconImgPath : "../../img/global/svg";

.header{
  $headerclassname: &;

  &-titlearea{
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    height: 80px;
    border-top: 1px solid transparentize($global-clr-soft-gray, 0.85);
    opacity: 1;
    @include transition(all, 0.3s, ease-in-out);

    @include ReSassWidthResponsive(1400){
      padding: 10px 0;
      height: 65px;
    }
    @include ReSassWidthResponsive(992){
      padding: 4px 0;
      height: 56px;
      border-top: none;
    }
    @include ReSassWidthResponsive(480){
      height: 80px;
      align-items: normal;
      padding: 0;
    }

    .columntitle{
      color: $global-clr-white !important;
      font-size: 25px;
      font-weight: normal;
      padding-bottom: 8px;

      @include ReSassWidthResponsive(1400){
        font-size: 18px;
      }
      @include ReSassWidthResponsive(992){
        font-size: 16px;
        padding-bottom: 10px;
      }
      @include ReSassWidthResponsive(480){
        padding: 0;
        text-align: center !important;

        &::before,
        &::after{
          display: none;
        }
      }

      &::before{
        max-width: inherit !important;
      }
      &::after{
        width: 60px;
      }
    }

    &-title{
      width: 100%;

      &-icon{
        display: flex;
        align-items: flex-end;
        min-height: 39px;

        @include ReSassWidthResponsive(480){
          flex: 0 0 100%;
          max-width: 100%;
          order: 2;
          position: relative;
          align-items: center;
          min-height: 42px;


          &::before{
            content: "";
            background-color: transparentize($global-clr-soft-gray, 0.85);
            position: absolute;
            width: calc(100% + 30px);
            height: 1px;
            left: -15px;
            top: 0;
          }
        }

        &-span{
          width: 40px;
          height: 39px;
          border: 1px solid transparentize($global-clr-soft-gray, 0.85);
          border-left: none;
          display: flex;
          align-items: center;

          @include ReSassWidthResponsive(480){
            display: none;
          }
        }

        .icon-svg{
          width: 19px;
          height: 14px;
          margin: 7px;
        }
      }
    }

    &-price{
      color: $global-clr-white;

      &-lite{
        color: $global-clr-white;
        height: 38px;

        @include ReSassWidthResponsive(480){
          order: 1;
          display: flex;
          justify-content: space-between;
          flex: 0 0 calc(100% + 15px);
          max-width: calc(100% + 15px);
          padding: 5px 0;
          margin-left: -15px;
        }

        &-icon{
          @include ReSassWidthResponsive(480){
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 10%;
            max-width: 10%;
            position: relative;
            min-height: 28px;
            margin-right: 10px;
            border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.85);

            &-span{
              width: 36px;
              height: 28px;
              border: 1px solid transparentize($global-clr-soft-gray, 0.85);
              border-left: none;
              border-bottom: none;
              display: flex;
              align-items: center;
            }

            .icon-svg{
              width: 19px;
              height: 14px;
              margin: 7px;
            }
          }
        }

        &-list{
          width: calc(100% - 40px);
          margin: 0 auto;
          display: flex !important;
          align-items: center;
          position: relative;

          @include ReSassWidthResponsive(480){
            flex: 0 0 calc(90% - 40px);
            max-width: calc(90% - 40px);
          }

          > li[class*="col"]{
            padding-right: 10px;
            padding-left: 15px;
            &:first-child{padding-left: 0}
            &:last-child{padding-right: 0}
          }

          &-item{
            color: $global-clr-white;
            text-align: left;
            font-size: 16px;
            font-weight: 300;
            line-height: 0.95;
            position: relative;
            padding: 0 20px;

            @include ReSassWidthResponsive(576){
              padding: 0 10px;
            }
            @include ReSassWidthResponsive(480){
              font-size: 14px;
            }
          }

          .owl{
            &-item{
              position: relative;
              min-height: 37px;

              &::before{
                content: "";
                position: absolute;
                width: 1px;
                height: 34px;
                top: calc(50% - 16px);
                right: 0;
                background-color: transparentize($global-clr-soft-gray, 0.85);


                @include ReSassWidthResponsive(480){
                  height: 28px;
                  top: calc(50% - 13px);
                }

              }

              &:last-child{
                &::before{display: none;}
              }
            }

            &-nav{
              button[class*="owl-"]{
                background-color: transparentize($global-grdint-darkblue02, 0.4);
                border: 1px solid transparentize($global-clr-soft-gray, 0.85);
                @include border-radius(0);
                width: 20px;
                height: calc(100% + 2px);
                margin: 0;
                top: -1px;

                @include ReSassWidthResponsive(480){
                  height: calc(100% + 0);
                  top: 0;
                }

                &:hover{
                  background-color: $global-grdint-darkblue02;
                }
              }
              button[class*="owl-prev"]{
                left: -19px;
              }
              button[class*="owl-next"]{
                right: -19px;
              }
            }

            &-prev,
            &-next{
              position: absolute;

              &::before{
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                left: calc(50% - 6px);
                top: calc(50% - 6px);
                background-image: url(#{$globalSvgIconImgPath}/Arrow_Down_Dropdown.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
              }

              span{
                display: none;
              }
            }

            &-prev{
              left: 0;
              &::before{
                @include rotate(90);
              }
            }
            &-next{
              right: 0;
              &::before{
                @include rotate(270);
              }
            }
          }
        }

        &-title{
          color: $global-clr-soft-gray;
          font-size: 12px;
          font-weight: 300;
          margin: 0;
          white-space: nowrap;
        }

        &-volume{
          display: block;
          white-space: nowrap;

          sup{
            font-size: 12px;
            font-weight: 900;
            text-align: center;
            position: relative;
            top: -6px;
          }
        }
      }
    }
  }
}


/* Cross Browser Start */
html.IExplorer{

  .header-titlearea-price-lite-list .owl-nav button[class*=owl-]{height: 39px !important;}

}
/* Cross Browser End */