$mainpageHeaderImgPath : "../../img/mainpage";
$globalSvgIconImgPath : "../../img/global/svg";

.header{
  $headerclassname: &;

  &-onlytitle{
    padding: 18px 0;
    height: 80px;
    border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);
    opacity: 1;
    @include transition(all, 0.3s, ease-in-out);

    @include ReSassWidthResponsive(992){
      padding: 10px 0;
      height: 60px;
      border-top: none;
    }

    @include ReSassWidthResponsive(576){
      height: 50px;
    }

    .col-12{
      @include ReSassWidthResponsive(576){
        padding-left: 0;
        padding-right: 0;
      }
    }

    .columntitle{
      color: $global-clr-white !important;
      font-weight: normal;
      min-height: 40px;

      @include ReSassWidthResponsive(992){
        min-height: 35px;
      }

      @include ReSassWidthResponsive(576){
        font-size: 17px;
        min-height: 28px;
        padding-bottom: 8px;
      }

      &::before{
        max-width: inherit !important;
      }
      &::after{
        width: 60px;
      }
    }
  }

}