$mainpageHeaderImgPath : "../../img/mainpage";
$globalSvgIconImgPath : "../../img/global/svg";

.header{
  color: $global-clr-white;
  @include gradient($global-grdint-darkblue01, $global-grdint-darkblue02);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  @include transition(all, 0.3s, ease-out);
  $headerclassname: &;

  &.navscroll{
    background-color: transparentize($global-sitebg-darkblue01, 0.02);
    background-image: none;

    #{$headerclassname}-top,
    #{$headerclassname}-stats,
    #{$headerclassname}-titlearea,
    #{$headerclassname}-onlytitle{
      overflow: hidden;
      opacity: 0;
      height: 0;
      padding: 0;
    }

    .homepage #{$headerclassname}{
      padding-bottom: 0 !important;
    }

    #{$headerclassname}-userarea-user-droplist{
      background-color: transparentize($global-sitebg-darkblue01, 0.02);
      visibility: hidden;
      transition: none !important;
      *, * &::before, * &::after{transition:none !important;}
    }

    #{$headerclassname}-search{
      margin-bottom: 14px;
    }
  }

  //*{@include transition(all, 0.3s, ease-out);}

  &-alert{
    height: auto;
    @include transition(all, 1s, ease-out);

    &.alert{
      position: relative;
      margin: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      border:none;
      @include border-radius(0);
    }
    &.alert-dismissible .close{
      top: calc(50% - 14px);
      right: 20px;
      padding: 0;
    }

    &-content{
      font-size: 17px;
      text-align: center;
    }
  }

  &-search{
    position: relative;
    margin-top: 5px;
    margin-bottom: 17px;

    @include ReSassResponsive(1400){
      margin-bottom: 12px;
    }
    @include ReSassResponsive(992){
      margin-bottom: 5px;
    }

    &-input{
      background-color: transparent;
      color: $global-clr-white;
      font-size: $global-font-size;
      width: 140px;
      padding: 2px 20px 2px 0;
      border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);
      @include transition(width, 0.3s, ease-out);

      &:focus{
        width: 180px;
        border-bottom-color: $global-clr-soft-blue;

        &::placeholder{color: $global-clr-white;}
        &::-webkit-input-placeholder{color: $global-clr-white;}
        &:-moz-placeholder{color: $global-clr-white;}
        &::-moz-placeholder{color: $global-clr-white;}
        &:-ms-input-placeholder{color: $global-clr-white;}
      }

      &:focus ~ button{
        background-image: url(#{$globalSvgIconImgPath}/Search_Icon_Soft_Blue.svg);
      }
    }

    &-button{
      background-color: transparent;
      background-image: url(#{$globalSvgIconImgPath}/Search_Icon.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      overflow: hidden;
      position: absolute;
      top: 2px;
      right: 0;
      width: 17px;
      height: 17px;
      text-indent: -9999px;
      @include transition(background, 50ms);
    }
    @include placeholder {
      color: $global-clr-soft-gray;
      opacity: 0.75;
    }
  }

  &-signin{
    text-align: center;
    margin: 0;

    &-item{
      position: relative;
      padding: 0 10px;
      display: inline-block;
      color: $global-clr-soft-gray;
      font-size: $global-font-size;

      @include ReSassResponsive(1400){
        font-size: 13px;
        padding: 0 6px;
      }

      &::before{
        content: "";
        position: absolute;
        width: 1px;
        height: 10px;
        top: calc(50% - 5px);
        right: -1px;
        background-color: transparentize($global-clr-soft-gray, 0.7);
        @include border-radius(50%)
      }
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
        &::before{display: none;}
      }

      > a{
        color: $global-clr-soft-gray;
        display: block;
        padding:8px 0;
        position:relative;
        height: 100%;
        @include transition(all, 0.3s, ease-in-out);

        &::after {
          content: '';
          position: absolute;
          background-color: $global-clr-soft-blue;
          width: 100%;
          height: 4px;
          display: block;
          bottom: 0;
          left: 0;
          @include scaleX(0);
          //@include transition(transform, 250ms, ease-in-out);
          @include transition(all, 250ms, ease-in-out);
        }
      }

      &:hover,
      &.active{
        > a{
          color: $global-clr-white;

          &::after {
            @include scaleX(1);
          }
        }
      }


    }
    &-register{}
    &-login{}
  }

  &-userarea{

    &-iconset{
      text-align: center; margin: 0;

      @include ReSassResponsive(1140){
        display: none !important;
      }

      &-link{
        display: inherit;
      }

      &-item{
        position: relative;
        padding: 0 12px;
        color: $global-clr-white;
        font-size: $global-font-size;

        @include ReSassResponsive(1400){
          padding: 0 10px;
        }

        a{color: $global-clr-white;}

        &::before{
          content: "";
          position: absolute;
          width: 1px;
          height: 10px;
          top: calc(50% - 5px);
          right: 0;
          background-color: transparentize($global-clr-soft-gray, 0.7);
          @include border-radius(50%)
        }
        &:first-child{
          padding-left: 0;
        }
      }

      &-search{
        display: none;
        i{
          width: 17px;
          height: 17px;

          @include ReSassResponsive(1400){
            width: 14px;
            height: 14px;
          }
        }
      }

      &-chat{
        display: none;
        i{
          width: 18px;
          height: 18px;

          @include ReSassResponsive(1400){
            width: 14px;
            height: 14px;
          }
        }
      }

      &-theme{
        display: none;
        i{
          width: 18px;
          height: 18px;

          @include ReSassResponsive(1400){
            width: 14px;
            height: 14px;
          }
        }
      }

      &-bell{
        i{
          width: 18px;
          height: 18px;

          @include ReSassResponsive(1400){
            width: 14px;
            height: 14px;
          }
        }
      }

      &-badge{
        width: 10px;
        height: 10px;
        display: block;
        background-color: #ff2e00;
        position: absolute;
        top: 0;
        right: 10px;
        @include border-radius(50%);

        @include ReSassResponsive(1400){
          width: 8px;
          height: 8px;
        }
      }
    }

    &-user{
      padding-left: 15px;
      > a{color: $global-clr-white;}
      &.btn-group{}
      &-title,
      &-dropdown{}
      &-image{
        width: 30px;
        height: 30px;
        margin-right: 7px;
        @include border-radius(15px);

        @include ReSassResponsive(1400){
          width: 26px;
          height: 26px;
        }
      }
      &-name{
        margin-right: 10px;
        font-size: 17px;
        font-weight: normal;
        white-space: nowrap;
        text-transform: uppercase;
      }
      &-dropdown{
        color: $global-clr-white;
        background-color: transparent;
        padding: 0;
        width: 24px;
        height: 24px;
        border:1px solid transparentize($global-clr-soft-gray, 0.7);
        position: relative;

        &::after{
          background-image: url(#{$globalSvgIconImgPath}/Arrow_Down_Dropdown.svg);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          position: absolute;
          width: 10px;
          height: 6px;
          border: none;
          top: calc(50% - 3px);
          left: calc(50% - 5px);
        }
      }

      .dropdown-menu{
        background-color: transparent;
        padding: 0;
        padding-top: 14px;
        margin: 0;
        border: none;
        transition: none !important;
      }

      &-droplist{
        background-color: $global-grdint-darkblue02;
        min-width: 250px;
        @include border-radius(3px);

        .headusermenu{
          padding:0;
          @include border-radius(3px);

          &-userbg{
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          &-box{
            background-color: transparentize($global-sitebg-darkblue01, 0.50);
            @include border-radii(3px,3px,0,0);
            padding: 15px;

            &-avatar{
              width:60px;
              height:60px;
              margin-bottom: 5px;

              img{
                width:60px;
                height:60px;
                border-radius:50%;
              }
            }

            &-textarea{
              line-height: 1;
              text-align: center;

              &-username{
                color: $global-clr-white;
                font-size: 17px;
                margin: 0;
                text-transform: uppercase;
              }
              small a{
                color: $global-clr-soft-blue;
                font-weight:500;
              }
            }
          }

          &-menulist{
            background-color: transparentize($global-grdint-darkblue02, 0.50);
            padding: 0;
            text-align: left;
          }

          &-userarea{
            display: flex;
            align-items: center;
            padding-bottom: 10px;
          }

          .btnarea{
            text-align:center;
            @include border-radii(0,0,3px,3px);

            a{
              padding:6px 5px 8px;
              display:inline-block;
              @include border-radii(0,0,3px,3px);

              &.logout{
                background-color: $global-clr-red;
                color: $global-clr-white;
                width:100%;
                @include transition(background, 0.3s, ease-in-out);

                &:hover{
                  background-color: lighten($global-clr-red, 10%);
                }
              }
            }
          }
        }

        .usermenulist{
          padding: 2px 0 10px;
          text-align: left;
          display: none;

          &.activeuserdropdownmenu{
            display: block;
          }

          .userlink{
            padding: 5px 10px 0;
            position: relative;
            display: block;

            &:first-child{
              padding-top: 0;
            }
            &:last-child{
              padding-bottom: 0;
            }

            a{
              color: $global-clr-soft-gray;
              font-size: 15px;
              padding:3px 0;
              display: block;
              position: relative;
              @include transition(all, 0.3s, ease-in-out);

              &::before{
                content: "";
                background-color: $global-clr-soft-gray;
                width: 100%;
                max-width: 300px;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: 0.3;
              }
              &::after{
                content: "";
                background-color: $global-clr-soft-blue;
                width: 40px;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 0;
                @include transition(all, 0.5s, ease-in-out);
              }

              &:hover{
                color: $global-clr-white;

                &::after{
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  &-spacebottom{
    background-color: $global-clr-white;
    height: 95px;
  }
}