$mainpageHeaderImgPath : "../../img/mainpage";
$globalSvgIconImgPath : "../../img/global/svg";

.header{
  $headerclassname: &;

  &-titlearea{
    padding: 18px 0;
    height: 80px;
    border-top: 1px solid transparentize($global-clr-soft-gray, 0.7);
    opacity: 1;
    @include transition(all, 0.3s, ease-in-out);

    @include ReSassResponsive(1400){
      padding: 10px 0;
      height: 65px;
    }

    .columntitle{
      color: $global-clr-white !important;
      font-size: 25px;
      font-weight: normal;
      padding-bottom: 8px;

      @include ReSassResponsive(1400){
        font-size: 23px;
      }

      &::before{
        max-width: inherit !important;
      }
      &::after{
        width: 60px;
      }
    }

    &-title{
      width: 100%;

      &-icon{
        display: flex;
        align-items: flex-end;
        min-height: 39px;

        &-span{
          width: 40px;
          height: 39px;
          border: 1px solid transparentize($global-clr-soft-gray, 0.7);
          border-left: none;
          display: flex;
          align-items: center;
        }

        .icon-svg{
          width: 19px;
          height: 14px;
          margin: 7px;
        }
      }
    }

    &-price{
      color: $global-clr-white;

      &-lite{
        color: $global-clr-white;

        &-list{
          width: calc(100% - 40px);
          margin: 0 auto;
          display: flex !important;
          align-items: center;
          position: relative;

          > li[class*="col"]{
            padding-right: 10px;
            padding-left: 15px;
            &:first-child{padding-left: 0}
            &:last-child{padding-right: 0}
          }

          &-item{
            color: $global-clr-white;
            text-align: left;
            font-size: 20px;
            font-weight: 300;
            line-height: 0.95;
            letter-spacing: -0.3px;
            position: relative;
            padding: 0 20px;
          }

          .owl{
            &-item{
              position: relative;

              &::before{
                content: "";
                position: absolute;
                width: 1px;
                height: 34px;
                top: calc(50% - 16px);
                right: 0;
                background-color: transparentize($global-clr-soft-gray, 0.7);
              }

              &:last-child{
                &::before{display: none;}
              }
            }

            &-nav{
              button[class*="owl-"]{
                background-color: transparentize($global-grdint-darkblue02, 0.4);
                border: 1px solid transparentize($global-clr-soft-gray, 0.7);
                @include border-radius(0);
                width: 20px;
                height: calc(100% + 2px);
                margin: 0;
                top: -1px;

                &:hover{
                  background-color: $global-grdint-darkblue02;
                }
              }
              button[class*="owl-prev"]{
                left: -19px;
              }
              button[class*="owl-next"]{
                right: -19px;
              }
            }

            &-prev,
            &-next{
              position: absolute;

              &::before{
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                left: calc(50% - 6px);
                top: calc(50% - 6px);
                background-image: url(#{$globalSvgIconImgPath}/Arrow_Down_Dropdown.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
              }

              span{
                display: none;
              }
            }

            &-prev{
              left: 0;
              &::before{
                @include rotate(90);
              }
            }
            &-next{
              right: 0;
              &::before{
                @include rotate(270);
              }
            }
          }
        }

        &-title{
          color: $global-clr-soft-gray;
          font-size: 15px;
          font-weight: 300;
          letter-spacing: -0.2px;
          margin: 0;
          white-space: nowrap;
        }

        &-volume{
          display: block;
          white-space: nowrap;

          sup{
            font-size: 12px;
            font-weight: 900;
            letter-spacing: normal;
            text-align: center;
            position: relative;
            top: -6px;
          }
        }
      }
    }
  }
}