$globalSvgIconImgPath : "../../img/global/svg";

// Header and Footer Print
@media print{

  @page{
    margin: 5px !important;
    padding: 5px !important;
  }

  body{
    padding: 15px;
  }

  .container,
  .container-fluid{
    width: 100%;
    max-width: inherit;
    min-width: 992px !important
  }

  .header{
    display: block !important;
    background: none !important;
    position: static !important;
    margin-bottom: 40px !important;

    &.navscroll{
      position: static !important;
    }

    .header-alert,
    .header-web,
    .header-spacebottom,
    .dfn-mobilemenu-mask,
    .dfn-mobilemenu-header{
      display: none !important;
    }

    .header-print{
      color: $global-clr-dark-blue;
      display: block;
      opacity: 1;
      visibility: visible;
      width: auto;
      height: auto;
      font-size: 12pt !important;
      line-height: 1.2;

      .printusername{
        font-size: 18pt !important;
        font-weight: 500;
      }
    }
  }

  .footer,
  .footer-mobilebar-spacebottom{
    display: none !important;
  }

}