/* Form UI New */
.formuilabel{

  .labelanimation {
    position:relative;
    margin-top:25px;

    .form-control{
      background-color: transparent;
      border-color: transparent !important;
      border-bottom-color: grey !important;
      width: 100%;
      display:block;
      resize: none;

      &::placeholder {
        color: #e94e49;
      }
    }

    label {
      position:absolute;
      top: 6px;
      left: 10px;
      margin: 0;
      z-index: -1;
      transition : 0.3s ease all;
      -webkit-transition:0.3s ease all;
    }

    input{
      height: 40px;
    }

    textarea{
      height: 80px;
      position: relative;
      top: 15px;
    }



    .bar {
      position:relative;
      display:block;
    }

    .bar:before,
    .bar:after {
      content:'';
      height:2px;
      width:0;
      bottom:0;
      position:absolute;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }

    .bar:before {
      left:50%;
    }

    .bar:after {
      right:50%;
    }

    input:focus,
    textarea:focus{
      border:none;
      outline:none;
    }

    input:focus ~ label,
    .labelanimation input:valid ~ label,
    textarea:focus ~ label,
    .labelanimation textarea:valid ~ label{
      top:-15px;
      left: 0;
      font-size:12px;
      color:#e94e49;
    }

    input:focus ~ .bar:before,
    input:focus ~ .bar:after,
    textarea:focus ~ .bar:before,
    textarea:focus ~ .bar:after{
      width:50%;
    }

    input:valid ~ .bar:before,
    input:valid ~ .bar:after,
    textarea:valid ~ .bar:before,
    textarea:valid ~ .bar:after{
      background:#2ecc71;
    }

    input:invalid ~ .bar:before,
    input:invalid ~ .bar:after,
    textarea:invalid ~ .bar:before,
    textarea:invalid ~ .bar:after{
      background:#e94e49;
    }

    .error-message{
      position: absolute;
      top: 20px;
      right: 5px;
      color: #e94e49;
      font-size: 12px;
      transition : 0.3s ease all;
      -webkit-transition:0.3s ease all;
    }

    .contactformicon{
      display: none;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 15px;
      right: 5px;
      transition : 0.3s ease all;
      -webkit-transition:0.3s ease all;

      &:before{
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
      }

      &--check{

        &:before{
          background-image: url("../../../../img/global/icon-check-green.svg");
        }

      }

    }

    input:focus ~ .error-message,
    .labelanimation input:valid ~ .error-message,
    textarea:focus ~ .error-message,
    .labelanimation textarea:valid ~ .error-message{
      top: -5px;
      font-size:10px;
    }

    &-textarea{
      label{
        top: 13px;
      }
      .bar {
        top: 15px;
      }
    }

  }

  .labelanimation input:valid ~ label,
  .labelanimation textarea:valid ~ label{
    top:-15px;
    left: 0;
    font-size:12px;
    color:#2ecc71;
  }

  .labelanimation input:valid ~ .error-message,
  .labelanimation textarea:valid ~ .error-message{
    top:-5px;
    font-size:10px;
  }

}
/* Form UI New */