
/* Title Border Bottom */
.columntitle{
  width: 100%;
  letter-spacing: -0.2px;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;

  @include ReSassWidthResponsive(1400){
    padding-bottom: 10px;
  }

  h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
  }

  &.bottomborder{
    position: relative;

    &::before{
      content: "";
      background-color: $global-clr-soft-gray;
      width: 100%;
      max-width: 300px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: calc(50% - 150px);
      opacity: 0.3;
    }
    &::after{
      content: "";
      background-color: $global-clr-soft-blue;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
      @include transition(all, 0.3s, ease-in-out);
    }

    &.titleleft{
      text-align: left;
      &::before{
        left: 0;
      }
      &::after{
        left: 0;
      }

    }
    &.titlecenter{
      text-align: center;

      &::before{
        width: 100% !important;
        left: 0 !important;
      }
    }
    &.fullborder{
      &::before{
        width: 100% !important;
        left: 0 !important;
      }
    }
  }

  &.bottomorange{
    &::after{
      background-color: $global-clr-orange;
    }
  }

  &.titlebold{
    font-weight: 500;
  }

  &.titlenormal{
    font-weight: normal;
  }

  &.titlelight{
    font-weight: 300;
  }

  &-xs{
    font-size: 17px;
    font-weight: normal;

    @include ReSassWidthResponsive(1400){
      font-size: 16px;
    }

    &.bottomborder{
      &::before{
        max-width: 150px;

        @include ReSassWidthResponsive(768){
          max-width: none;
        }
      }
      &::after{
        width: 40px;
      }
    }
    &.titlecenter{
      &::after{
        left: calc(50% - 20px);
      }
    }
  }

  &-sm{
    font-size: 20px;

    @include ReSassWidthResponsive(1400){
      font-size: 18px;
    }

    &.bottomborder{
      &::before{
        max-width: 250px;
      }
      &::after{
        width: 40px;
      }
    }
    &.titlecenter{
      &::after{
        left: calc(50% - 20px);
      }
    }
  }

  &-md{
    font-size: 23px;

    @include ReSassWidthResponsive(1400){
      font-size: 21px;
    }

    &.bottomborder{
      &::before{
        max-width: 300px;
      }
      &::after{
        width: 40px;
      }
    }
    &.titlecenter{
      &::before{
        left: calc(50% - 150px);
      }
      &::after{
        left: calc(50% - 20px);
      }
    }
  }

  &-lg{
    font-size: 25px;
    &.bottomborder{
      &::before{
        max-width: 300px;
        left: 0;
      }
      &::after{
        width: 60px;
      }
    }
    &.titlecenter{
      &::before{
        left: calc(50% - 150px);
      }
      &::after{
        left: calc(50% - 30px);
      }
    }
  }

  &-xl{
    font-size: 35px;
    line-height: 1.17;

    @include ReSassWidthResponsive(1400){
      font-size: 32px;
    }

    &.bottomborder{
      &::before{
        max-width: 300px;
        left: 0;
      }
      &::after{
        width: 60px;
      }
    }
    &.titlecenter{
      &::before{
        left: calc(50% - 150px);
      }
      &::after{
        left: calc(50% - 30px);
      }
    }
  }
}
/* Title Border Bottom */

/* Title Box */
.boxtitle{
  color: $global-clr-dark-blue;
  font-weight: 500;
  margin: 0;
  padding: 0;

  &-xs{font-size: 17px;}
  &-sm{font-size: 20px;}
  &-lg{font-size: 26px;}
  &-xl{}
}
/* Title Box */

/* Title Column */
.boxcolumn{

  &-headtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    i[class*="titleicon"]{
      width: 30px;
      height: 30px;
      margin-right: 4px;
      display: inline-block;
    }

    &-title,
    &-wallet{
      display: flex;
      align-items: center;
      color: $global-clr-dark-blue;
      font-size: 20px;
      margin: 0;
      padding: 0;
      line-height: 1;

      > span{
        margin-left: 3px;

        &:first-child{
          margin-left: 0;
        }
      }
    }
    &-title{font-weight: 500;}
    &-wallet{font-weight: normal;}
    &-info{font-size: 17px}
  }

  &-boxtitle{
    display: flex;
    justify-content: space-between;
    color: $global-clr-dark-blue;
    border-bottom: 1px solid transparentize($global-clr-soft-gray, 0.7);
    padding-bottom: 7px;
    margin-bottom: 5px;

    [class*="boxtitle"].d-flex{
      *{
        margin: 0 4px;
      }
    }

    i[class*="icon-svg"]{
      margin-right: 5px;
      display: inline-block;
    }

    i[class*="wallet"]{
      width: 19px;
      height: 14px;
      position: relative;
      top: 1px;
    }
    i[class*="profileinformation"]{
      width: 18px;
      height: 18px;
    }

    &-title,
    &-wallet,
    &-date{
      font-size: 20px;
      margin: 0;
      padding: 0;
      line-height: 1;

      @include ReSassWidthResponsive(400){
        font-size: 17px;
      }
    }
    &-title{font-weight: 500;}
    &-wallet{font-weight: normal;}
    &-date{font-size:17px; font-weight: normal;}

    &-daterow{

    }
  }

}
/* Title Column */

/* Title Responsive Space */
.titleresponsivespace{
  &480{
    display: none;

    @include ReSassWidthResponsive(480){
      display: block;
    }
  }

  &768{
    display: none;

    @include ReSassWidthResponsive(768){
      display: block;
    }
  }

}
/* Title Responsive Space */