/* Main Settings */
$main-font-family-barlow: 'Barlow Condensed', sans-serif;
$main-font-size: 15px;
/* Main Settings */

/* Color Settings */
$main-color-white: #FFFFFF;
$main-color-blue: #098cdf;
$main-color-title-blue: #004378;
$main-color-btn-blue: #06518c;
$main-color-green: #4caf50;
$main-color-red: #b82c0d;
$main-color-dark-blue: #011326;
$main-color-light-stale-gray: #758ca3;
$main-color-light-stale-gray-border: #2a3440;
/* Color Settings */