/* Main Settings */
$mainpage-font-family-barlow: 'Barlow Condensed', sans-serif;
$mainpage-font-size: 15px;
/* Main Settings */

/* Color Settings */
$mainpage-color-white: #FFFFFF;
$mainpage-color-blue: #098cdf;
$mainpage-color-title-blue: #004378;
$mainpage-color-btn-blue: #06518c;
$mainpage-color-green: #70a800;
$mainpage-color-red: #b82c0d;
$mainpage-color-orange: #f7931a;
$mainpage-color-dark-blue: #011326;
$mainpage-color-light-stale-gray: #758ca3;
$mainpage-color-light-bg-gray: #f2f5f6;

$mainpage-gradient-darkblue01: #001934;
$mainpage-gradient-darkblue02: #003661;
/* Color Settings */