/* Main Settings */
$mainpage-font-family-barlow: 'Barlow Condensed', sans-serif;
$mainpage-font-size: 15px;
/* Main Settings */

/* Color Settings */
$mainpage-color-white: #FFFFFF;
$mainpage-color-blue: #098cdf;
$mainpage-color-title-blue: #004378;
$mainpage-color-btn-blue: #06518c;
$mainpage-color-green: #4caf50;
$mainpage-color-red: #b82c0d;
$mainpage-color-dark-blue: #011326;
$mainpage-color-light-stale-gray: #758ca3;
/* Color Settings */