/* Main Settings */
$global-font-family-barlow: 'Barlow Condensed', sans-serif;
$global-font-size: 15px;
/* Main Settings */

/* Color Settings */
$global-clr-white: #FFFFFF;
$global-clr-green: #70a800;
$global-clr-red: #b82c0d;
$global-clr-orange: #ff9900;
$global-clr-soft-blue: #098cdf;
$global-clr-dark-blue: #004378;
$global-clr-soft-gray: #758ca3;
$global-clr-light-gray: #f2f5f6;
/* Color Settings */

/* Currency Color Settings */
$global-clr-currency-btc: #ff9900;
$global-clr-currency-eth: #627eea;
$global-clr-currency-ltc: #afafaf;
$global-clr-currency-xrp: #0080BE;
$global-clr-currency-bat: #FF5000;
$global-clr-currency-xlm: #000000;
$global-clr-currency-mpay: #E7094A;
$global-clr-currency-link: #2A5ADA;
$global-clr-currency-avax: #E84242;
$global-clr-currency-ftm: #1969FF;
$global-clr-currency-hot: #B748FF;
$global-clr-currency-mkr: #1AAB9B;
$global-clr-currency-shib: #F00500;
$global-clr-currency-aave: #B6509E;
$global-clr-currency-aave1: $global-clr-currency-aave;
$global-clr-currency-aave2: #2EBAC6;
$global-clr-currency-dot: #000000;
$global-clr-currency-algo: #000000;
$global-clr-currency-tryb: #04144C;
$global-clr-currency-usdt: #53AE94;
/* Currency Color Settings */

/* Button Color */
$global-clr-btn-blue: #06518c;
/* Button Color */

/* Site Background Color */
$global-sitebg-darkblue01: #011326;
$global-sitebg-darkblue02: #003158;
/* Site Background Color */

/* Site Gradient Background Color */
$global-grdint-darkblue01: #001934;
$global-grdint-darkblue02: #003661;
/* Site Gradient Background Color */