/* Main Settings */
$global-font-family-barlow: 'Barlow Condensed', sans-serif;
$global-font-size: 15px;
/* Main Settings */

/* Color Settings */
$global-clr-white: #FFFFFF;
$global-clr-green: #70a800;
$global-clr-red: #b82c0d;
$global-clr-orange: #ff9900;
$global-clr-soft-blue: #098cdf;
$global-clr-dark-blue: #004378;
$global-clr-btn-blue: darken($global-clr-soft-blue,15%);
$global-clr-soft-gray: #758ca3;
$global-clr-light-gray: #f2f5f6;

$global-grdint-darkblue01: #001934;
$global-grdint-darkblue02: #003661;
/* Color Settings */