.special{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .icrypexlogo{
    color: $global-clr-dark-blue;
    font-family: $global-font-family-barlow;
    width: 140px;
    line-height: 0.9;
    margin:0 auto 7px;
    @include scale(1.2);

    &:hover{color: $global-clr-dark-blue;}

    &-symbol{
      float: left;
      width: 38px;
      height: 38px;
      margin: 1px 0;
      margin-right: 6px;
    }
    &-icrypex{
      display: block;
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.5px;
      margin: 0;
      line-height: 0.9;
    }
    &-cryptoexchange{
      display: block;
      font-size: 13px;
      font-weight: 500;
      margin: 0;
      line-height: 1;
      padding-left: 45px;
    }
  }


  &-infoarea{
    display: flex;
    flex-flow: column nowrap;
    color: $global-clr-dark-blue;
    text-align: center;
    margin-top: 35px;

    &-title{
      color: $global-clr-dark-blue;
      margin: 0;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: normal;
    }
    &-desc{
      color: $global-clr-dark-blue;
      font-size: 17px;
      line-height: 1.18;

      a.link{
        color: $global-clr-soft-blue;
        text-decoration: underline;
      }

    }
    &-callcenter{
      margin-top: 23px;

      &-title{
        margin: 0;
        font-size: 17px;
        font-weight: normal;
        text-transform: uppercase;
      }
      &-number{
        color: $global-clr-dark-blue;
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 0.2px;
        margin-top: 0;
      }
      &-mail{
        font-size: 17px;
        color: $global-clr-soft-blue;
        font-weight: 400;
        margin-top: -4px;

        a{
          color: $global-clr-soft-blue;
          text-decoration: underline;
          @include transition(all, 0.3s, ease-in-out);

          &:hover{
            color: lighten($global-clr-soft-blue, 10%);
          }
        }
      }
    }
  }
}