$mainpageImgPath : "../../img/mainpage";

/* Custom */
*{outline: 0 !important;}

body{
  font-size: $mainpage-font-size;
  background-color: #011326;
  background-image: url(#{$mainpageImgPath}/background/Dark_Blue_Bg_Image.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}
body, input, textarea, select, button {
  font-family: $mainpage-font-family-barlow;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
  margin-bottom: 15px;
}

strong{
  font-weight: 500;
}

sup {
  top: -0.30em;
}

blockquote, p, ul, li{}

img{
  max-width: 100%;
  height: auto;
}

img, svg {
  vertical-align: middle;
}

.form-control{
  font-size: $mainpage-font-size;
}
/* Custom */